.testimonials

	&__row
		@include max-screen($xl)
			display: block

	&__main
		flex: 1 0 0
		max-width: 100%


	&-item
		padding: 40px 20% 40px 45px
		margin-bottom: 30px
		background: $white
		box-shadow: $shadow
		border-radius: 4px
		position: relative
		&::after
			content: ''
			display: block
			font-size: 10px
			width: 3.9em
			height: 2.7em
			position: absolute
			z-index: 0
			top: 35px
			right: 40px
			background-image: url('../img/ic-quotes.svg')
			background-repeat: no-repeat
			background-position: 50% 50%
			background-size: contain
			opacity: 0.2
		&--positive
			&::after
				background-image: url('../img/ic-quotes-green.svg')
				opacity: 1
		&--negative
			&::after
				background-image: url('../img/ic-quotes-red.svg')
				opacity: 1
		@include max-screen($md)
			padding: 30px
		@include max-screen($sm)
			padding: 20px 15px
			&::after
				right: 15px
				top: 15px
				font-size: 8px

		&__avatar
			font-size: 10px
			width: 8em
			flex: 0 0 8em
			height: 8em
			margin-right: 4em
			border-radius: 50%
			overflow: hidden
			border: 2px solid rgba(0, 0, 0, 0.08)
			.img
				max-height: 100%
			@include max-screen($md)
				position: absolute
				top: 30px
				left: 30px
			@include max-screen($sm)
				top: 15px
				left: 15px
				font-size: 8px

		&__content
			flex: 1 0 0
			max-width: 100%

		&__title
			font-weight: 600
			margin-bottom: .3em
			@include max-screen($md)
				display: flex
				flex-wrap: wrap
				align-items: center
				min-height: 80px
				margin-bottom: 20px
				margin-left: 100px
				max-width: 60%
			@include max-screen($sm)
				min-height: 64px
				margin-left: 84px
				margin-bottom: 15px








	&-answer
		max-width: 838px
		margin-left: auto
		&::before
			content: ''
			display: block
			width: 20px
			height: 20px
			position: absolute
			z-index: 0
			left: 42px
			top: -7px
			background: $white
			transform: rotate(45deg)
		&::after
			display: none
		@include min-screen(1200px)
			padding-right: 40px
		@include max-screen($xl)
			max-width: 90%
			margin-top: -10px


	&__images
		margin-bottom: -16px
	
	&__image
		font-size: 10px
		width: 10.4em
		height: 10.4em
		overflow: hidden
		border-radius: 4px
		margin: 0 1.6em 1.6em 0
		@include max-screen($sm)
			font-size: 7px

	&-more
		&__txt
			display: none
		&__btn
			display: inline-block
			border-bottom: 1px dashed $accent
			transition: all .1s linear
			&:hover
				text-decoration: none
				border-color: transparent
				cursor: pointer






	&-sidebar
		flex: 0 0 301px
		max-width: 301px
		margin-left: 30px
		order: 1
		@include max-screen($xl)
			position: relative
			max-width: 100%
			margin: 0 0 35px

		&__btns
			.button
				width: 100%
			@include max-screen($xl)
				display: flex
				justify-content: space-between
				.button
					width: 40%
			@include max-screen($sm)
				display: block
				.button
					width: 100%
				.filter-btn
					margin-top: 20px


		&__section
			margin-bottom: 25px
			padding: 30px 45px
			background: $bg
			border-radius: 4px
			@include max-screen($xl)
				background: none
				border-radius: 0
				margin: 0
				padding: 0

		&__title
			margin-bottom: 1em
			font-weight: 700



	&-filters
		@include max-screen($xl)
			display: none
			width: 100%
			position: absolute
			z-index: 1
			top: 100%
			left: 0
			background: $bg
			padding: 45px
			&.is-visible
				display: block
		@include max-screen($lg)
			width: calc(100% + 30px)
			left: -15px
		@include max-screen($sm)
			padding: 30px 15px

		&__row
			display: flex
			flex-wrap: wrap

		&__group
			width: 100%
			margin-top: 28px
			@include max-screen($xl)
				width: 50%
				margin: 0 0 30px
				&:first-child
					margin-top: 0
			@include max-screen(360px)
				width: 100%

		&__order
			order: 1
			@include max-screen($xl)
				order: 0

		.checkbox 
			margin-bottom: 6px
			@include max-min-width($xl, 768px)
				font-size: 14px
			@include max-screen(425px)
				.checkbox__wrap
					margin-right: 10px
 





.g-raiting
	&:not(:last-child)
		margin-bottom: 15px

	&__ic
		width: 29px
		height: 36px
		margin-right: 16px
	&__col
		flex: 1 0 0
		max-width: 100%

	&__star
		display: inline-block
		font-size: 10px
		width: 1.3em
		height: 1.3em
		margin-right: .2em
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: 100% auto
	
	&__val
		margin-right: 8px
		font-weight: 700

.filter-btn
	background: $bg
	color: $black
	border: none

.ic-filter
	display: inline-block
	font-size: 10px
	width: 2.7em
	flex: 0 0 2.7em
	height: 2.9em
	margin-right: 2.4em
	background: url('../img/ic-filters.svg') no-repeat 50% 50% / 100%
	@include max-screen($md)
		font-size: 7px































