
$width: 630px
	
	
	
.blog-hero

	&__banner
		height: 460px
		padding: 35px 60px
		display: flex
		flex-wrap: wrap
		flex-direction: column
		align-items: flex-start
		justify-content: space-between
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
		border-radius: 4px
		overflow: hidden
		color: $white
		position: relative
		z-index: 1
		&::before
			content: ''
			display: block
			width: 100%
			height: 50%
			position: absolute
			z-index: -1
			left: 0
			bottom: 0
			background: linear-gradient(180deg, transparent, $black)
			opacity: 0.5
		.title-2
			margin: auto 0 0
		.blog-tag
			position: absolute
			right: 60px
			top: 35px
		@include max-screen($lg)
			width: calc(100% + 30px)
			margin-left: -15px
		@include max-screen($md)
			height: 400px
			padding: 30px 15px
		@include max-screen($sm)
			height: 300px



.blog-date
	display: inline-block
	padding: 0.35em 0.8em
	background: $accent
	border-radius: 4px
	color: $white
	font-weight: 700

.blog-tag
	display: inline-block
	padding: .2em 1.2em
	background: $white
	border-radius: 30px
	color: rgba($text-color, .7)

.blog-thumb
	display: block
	font-size: 10px
	width: 40.9em
	height: 25.1em
	border-radius: 4px
	overflow: hidden
	position: relative
	&::after
		content: ''
		display: block
		width: 100%
		height: 50%
		position: absolute
		left: 0
		bottom: 0
		background: linear-gradient(180deg, transparent, $black)
		opacity: 0.5



.blog-categories
	padding: 40px 0
	background: $bg

	&__slider-wrap
		position: relative


.blog-category
	display: block
	position: relative
	&__title
		max-width: 100%
		position: absolute
		left: 50px
		bottom: 25px
		margin: 0
		color: $white
	@include max-screen($xl)
		&__img
			font-size: 9px
			margin: 0 auto
	@include max-screen($lg)
		&__img
			font-size: 9px
	@include max-screen($md)
		&__img
			font-size: 6.6px
		&__title
			left: 15px
			bottom: 15px
	@include max-screen($sm)
		&__img
			font-size: 10px
			width: 100%
			height: auto
		&__title
			right: 15px
			text-align: center




	



.blog-list

	&__row
		@include max-screen($lg)
			display: block
			margin: 0 0 -25px

	&__col
		width: 33.33333%
		@include max-screen($xl)
			width: 50%
		@include max-screen($lg)
			width: 100%
			margin-bottom: 50px
			padding: 0


	&__img
		margin-bottom: 25px
		position: relative
		@include max-screen($lg)
			.blog-thumb
				width: 100%
				height: auto

		.blog-tag, .blog-date
			position: absolute
			z-index: 1
			left: 25px
		.blog-tag
			top: 25px
		.blog-date
			bottom: 25px
	
	&__title
		margin-bottom: 0.3em
		font-weight: 700




/* Article */

.article
	font-size: 16px
	line-height: 1.5
	@include max-screen($xl)
		font-size: 22px
		line-height: 1.3
	@include max-screen($md)
		font-size: 18px
		line-height: 1.4
	@include max-screen($sm)
		font-size: 16px
		line-height: 1.5


	h1,h2,h3,h4,h5,h6,p,ul,ol,table
		margin-bottom: 0
		max-width: $width
		margin-left: auto
		margin-right: auto

	p
		color: rgba($text-color, .7)

	ul, ol
		padding: 0
		list-style: none
		li
			position: relative
			padding-left: 1.8em
			&:not(:last-child)
				margin-bottom: .5em
			&::before
				position: absolute
				left: 0
				z-index: 0

	ul
		li
			&::before
				content: ''
				display: block
				font-size: .625em
				width: 1.4em
				height: 1.4em
				top: .4em
				background: url("../img/ic-plus-accent.svg") no-repeat 50% 50% / 100%

	ol
		counter-reset: li
		li
			&::before
				content: counter(li) "."
				counter-increment: li
				font-weight: 700
				color: $accent

	figure, img
		display: block
		max-width: 100%
		height: auto
		margin-left: auto
		margin-right: auto
	
	a
		color: $accent

	&-title
		.title-1
			margin-right: auto

	&-back
		margin-bottom: 30px
		display: inline-flex
		align-items: center
		font-weight: 700
		&::before
			content: ''
			display: block
			font-size: .6em
			width: .9em
			flex: 0 0 .9em
			height: 1.6em
			margin-right: 1em
			background: url('../img/ic-arrow.svg') no-repeat 50% 50% / 100%
			transform: scale(-1)

	&-width
		max-width: $width
		margin-left: auto
		margin-right: auto

	&-header
		position: relative
		margin-bottom: 50px
		padding: 70px 0
		background: $bg
		border-radius: 4px
		@include max-screen($xl)
			padding: 50px 0
		@include max-screen($md)
			padding: 30px 15px
		p
			color: $text-color
		&__author
			max-width: 310px
			position: absolute
			top: 48px
			left: 44px
			@include max-screen($xl)
				position: static
				max-width: $width
				margin-left: auto
				margin-right: auto
				margin-bottom: 1em

	blockquote
		padding: 70px 80px 70px 326px
		background: $bg
		border-radius: 4px
		font-size: 18px
		font-weight: 700
		line-height: 1.35
		letter-spacing: -.025em
		position: relative
		&::before
			content: ''
			display: block
			font-size: 10px
			width: 3.9em
			height: 2.7em
			position: absolute
			left: 211px
			top: 70px
			background: url('../img/ic-quotes-accent.svg') no-repeat 50% 50% / 100%
		@include max-screen($xl)
			padding: 50px 151px
			font-size: 24px
			line-height: 1.25
			&::before
				position: static
				margin-bottom: 2em
		@include max-screen($lg)
			padding: 50px 30px
			max-width: $width
			margin-left: auto
			margin-right: auto
		@include max-screen($md)
			font-size: 20px
			line-height: 1.3
		@include max-screen($sm)
			padding: 30px 15px
			font-size: 18px
			line-height: 1.35

	&-slider-wrap
		position: relative


	&-frame
		overflow: hidden
		position: relative
		padding-top: 56%
		iframe
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0

	&-rec
		position: relative
		padding-top: 50px
		&::before
			content: ''
			display: block
			width: 100%
			max-width: $width
			height: 1px
			position: absolute
			z-index: 0
			left: 50%
			transform: translateX(-50%)
			top: 0
			background: $black
			opacity: 0.2








