.methods

	&__row
		display: flex
		align-items: flex-end

	&__side
		width: 170px
		padding-right: 15px
		@include max-screen($sm)
			width: 120px
	
	&__vals
		padding-bottom: 101px
		font-weight: 700
		@include max-screen($xl)
			padding-bottom: 126px

	&__val
		display: flex
		align-items: center
		height: 90px
		@media screen and (max-width: 1199px) and (min-width: 576px)
			font-size: 20px

	&__content
		flex: 1 0 0
		max-width: 100%
		@include max-screen($xl)
			overflow: auto
			padding-bottom: 15px
	
	
	
	
	
	&-table
		width: 1116px
		@include max-screen($sm)
			width: 870px

		&__row
			margin: 0 -15px
			align-items: flex-end
			@include max-screen($sm)
				margin: 0 -7.5px

		&__col
			width: 33.33333%
			padding: 0 15px
			@include max-screen($sm)
				padding: 7.5px
	
	
	
	
	
	
	
	
	
	
	
.method

	&__title
		margin-bottom: 1em

	&__img
		font-size: 10px
		height: 22.9em
		overflow: hidden
		border-radius: 4px
		.img
			object-position: 50% 0
		@include max-screen($sm)
			font-size: 8px

	&__body
		background: $white
		box-shadow: $shadow
		@include max-screen($xl)
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.07)

	&__row
		height: 90px
		padding: 0 15px 0 55px
		align-items: center
		border-bottom: 1px solid #e5e5e5
		@include max-screen($xl)
			padding: 0 15px 0 25px
			

	&__ic
		font-size: 10px
		width: 2.5em
		flex: 0 0 2.5em
		height: 2.2em
		margin-right: 3.5em
		@include max-screen($sm)
			font-size: 9px
			margin-right: 2em

	&__txt
		flex: 1 0 0
		max-width: 100%
		@media screen and (max-width: 1199px) and (min-width: 576px)
			font-size: 18px

	&__btn
		height: 101px
		padding: 25px 0
		text-align: center
		@media screen and (max-width: 1199px) and (min-width: 576px)
			height: 111px
			.button
				font-size: 18px















