.calc
	counter-reset: title

	.title-1
		margin-bottom: .6em

	&__box
		padding: 34px 55px
		border-radius: 4px
		box-shadow: $shadow
		.title-2
			margin-bottom: .7em
		@include max-screen($sm)
			width: calc(100% + 30px)
			margin-left: -15px
			padding: 15px
			border-radius: 0
			// box-shadow: none


	&__row
		display: flex !important
		margin: 0 -8px
		@include max-screen($xl)
			display: block !important
			margin: 0

	&__col
		width: 33.33333%
		margin-bottom: 18px
		padding: 0 8px
		@include max-screen($xl)
			width: 100%
			padding: 0

	.cutline
		margin-bottom: 18px
		padding: 25px 40px
		background: $bg
		border-radius: 4px
		@include max-min-width($xl, 768px)
			padding: 40px
		@include max-screen($sm)
			padding: 15px


	.print_method_switcher
		margin: 0 -40px
		@include max-screen($xl)
			margin: 0
		.calc__col
			margin-bottom: 30px
			padding: 0 40px
			@include max-screen($xl)
				padding: 0
			@include max-screen($sm)
				margin-bottom: 0

	&__elem
		height: 100%
		padding: 25px 30px 30px
		border: 1px solid rgba($black, .1)
		border-radius: 4px
		@include max-screen($xl)
			height: auto
			label
				width: 100%
		@include max-screen($sm)
			padding: 15px
		@include max-screen(380px)
			padding: 10px 0
			border: none
		


	.title
		margin-bottom: 0.5em
		font-weight: 700
		.value
			display: inline-block
			margin-left: 0.2em
	.title--margin
		margin-bottom: 1em
	.title--nomargin
		margin-bottom: 0


	&__title
		display: flex
		align-items: center
		margin-bottom: 32px !important
		&::before
			counter-increment: title
			content: counter(title)
			display: flex
			align-items: center
			justify-content: center
			width: 40px
			height: 40px
			margin-right: 20px
			line-height: 1
			background: $accent
			border-radius: 4px
			color: $white
		@include max-screen($sm)
			margin-bottom: 15px !important


	&__radiotabs
		border-radius: 4px
		border: 1px solid #eaeaea
		overflow: hidden
		label
			display: flex
			align-items: center
			justify-content: center
			height: 51px
			margin: 0
			padding: .5em 1em
			font-size: 14px
			background-color: #f7f7f7
			border-right: 1px solid #eaeaea
			white-space: nowrap
			&:last-child
				border-right: 0
		@include max-screen($xl)
			margin-left: 60px
		@include max-min-width($xl, 768px)
			label
				font-size: 18px
		@include max-screen($sm)
			margin-left: 0
		@include max-screen(370px)
			label
				padding: .5em .8em


	.t_short_switcher
		margin-top: -15px
		@include min-screen(1200px)
			width: 100%
		label
			width: 33.33333%
			height: 102px
			padding-top: 70px
			background-repeat: no-repeat
			background-position: 50% 15px
			background-size: auto 41px
		@include max-screen($sm)
			margin-top: 0


	.color_switcher
		max-width: 270px
		flex-wrap: wrap
		label
			display: block
			margin: 0 2em 2em 0
			font-size: 10px
			width: 2.1em
			height: 2.1em
			border-radius: 50%
			background-repeat: no-repeat
			&::before
				border-radius: 50%
		.white
			border: 1px solid rgba(0, 0, 0, 0.17)
		@include max-screen($xl)
			max-width: 100%
			margin-left: 60px
		@include max-min-width($xl, 768px)
			label
				font-size: 14px
		@include max-screen($sm)
			margin-left: 0
		

	.calculator_range
		display: inline-flex
		border: 1px solid #eaeaea
		border-radius: 4px
		.value
			width: 8em
			margin: 0
			padding: .5em 1em
			font-size: 14px
			background-color: #f7f7f7
			border: 1px solid rgba($black, .1)
			border-top: none
			border-bottom: none
			box-shadow: none
			text-align: center
			height: auto
		.minus, .plus
			width: 44px
			height: 51px
			display: flex
			align-items: center
			justify-content: center
			background-color: #f7f7f7
			cursor: pointer
			&::after
				content: ''
				display: block
				width: 12px
				height: 12px
				background-repeat: no-repeat
				background-position: 50% 50%
				background-size: 100%
		.minus
			&::after
				background-image: url('../img/ic-minus.svg')
		.plus
			&::after
				background-image: url('../img/ic-plus.svg')
		@include max-screen($xl)
			margin-left: 60px
		@include max-min-width($xl, 768px)
			.value
				font-size: 18px
		@include max-screen($sm)
			margin-left: 0


	// 17.02.2021
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		margin: 0

	input[type="number"]
		-moz-appearance: textfield

	&__buttonFormShow:disabled
		opacity: 0.5
		transition: 0.2s
		cursor: wait



	.print_method_switcher
		label
			text-align: left
			&::before
				display: none

	.price
		font-weight: 700
		@include max-min-width($xl, 768px)
			font-size: 20px

	&-footer
		&__row
			position: relative
			text-align: center
		&__txt
			position: absolute
			left: 0
			top: 50%
			transform: translateY(-50%)
			max-width: 40%
		@include max-screen($xl)
			padding-top: 30px
			&__txt
				max-width: 100%
				position: static
				margin-bottom: 25px
		@include max-screen($sm)
			padding-bottom: 15px
			&__txt
				margin-bottom: 0
				text-align: left
			.button
				width: 100%

	&__disclaimer
		margin-top: 30px
		p
			margin: 0















	.mobile-reverse
		display: none



.c-rezult
	span
		display: inline-block
		margin: 0 0.3em 0 0






// 16.02
#calculator .print_method_switcher  
	input:checked 
		~ label
			&::after
				content: ''
				display: block
				width: 100%
				height: 100%
				position: absolute
				z-index: 0
				left: 0
				top: 0
				border: 1px solid $accent
				z-index: 1
				border-radius: 4px

#service
	.calc__elem
		position: relative
		label
			position: static

#calc__buttonFormShow
	&:disabled
		background: transparent
		color: $accent



.calc__wrapPriceHide
	display: none

























	