.dops

	&__row
		@include max-screen($xl)
			display: block
			margin: 0

	&__col
		@include max-screen($xl)
			width: 100%
			padding: 0
		@include max-screen($md)
			margin-bottom: 15px


	&-item
		height: 100%
		padding: 60px
		border-radius: 4px
		background: $bg

		&--centered
			padding: 40px 60px
			.dops-item__row
				align-items: center


		&__img
			font-size: 10px
			width: 10em
			flex: 0 0 10em
			height: 8.1em
			margin-right: 3em
			.img
				max-height: 100%

		&__content
			flex: 1 0 0
			max-width: 100%

		&__title
			font-weight: 700
			&:not(:last-child)
				margin-bottom: 1.6em

		@include max-screen($md)
			padding: 30px
			&__img
				font-size: 8px

		@include max-screen($sm)
			padding: 20px 15px
			&__img
				font-size: 7px
				margin-right: 15px





























	