.single

	&-hero
		@include min-screen(1200px)
			padding-bottom: 0


	&__row
		@include max-screen($xl)
			display: block
			margin: 0

	&__col
		@include max-screen($xl)
			width: 100%
			margin: 0
			padding: 0


	&-list

		&__row
			@include max-screen($xl)
				display: block
				margin: 0

		&__col
			width: 50%
			@include max-screen($xl)
				width: 100%
				margin-bottom: 50px
				padding: 0
			@include max-screen($sm)
				margin-bottom: 35px
			&:last-child
				margin-bottom: 0

		&__item
			@include max-screen($xl)
				display: flex

		&__img
			font-size: 10px
			width: 7em
			flex: 0 0 7em
			height: 7em
			display: flex
			align-items: flex-end
			justify-content: flex-start
			margin-bottom: 2em
			.img
				max-height: 100%
			@include max-screen($xl)
				margin: 0 3em 0 0
			@include max-screen($md)
				font-size: 8px

		&__content
			@include max-screen($xl)
				flex: 1 0 0
				max-width: 100%

		&__title
			font-weight: 700
			margin-bottom: .5em

		

	&__img
		margin-bottom: -30px



