.metro

	&__row
		@include max-screen($xl)
			display: block
			margin: 0

	&__col
		margin-bottom: 0
		@include max-screen($xl)
			width: 100%
			padding: 0


	&-head
		margin-bottom: 30px

		&__row
			align-items: center

		&__tel
			width: 312px
			margin-right: 0
			@include max-screen($xl)
				margin-right: auto





	&-item
		min-height: 377px
		margin-bottom: 30px
		padding: 35px 40px
		background: $white
		border-radius: 4px 
		box-shadow: $shadow
		@include max-screen($sm)
			padding: 20px 15px

		&__row
			@include max-screen($xl)
				align-items: center

		&__img
			font-size: 10px
			width: 21.7em
			height: 21.7em
			margin-right: 5.5em
			border-radius: 4px 
			overflow: hidden
			@include max-screen($xl)
				font-size: 8px
			@include max-screen($sm)
				font-size: 5px
			@include max-screen(400px)
				margin-right: 3em
			

		&__content
			flex: 1 0 0
			max-width: 100%
			position: relative

		&__title
			font-weight: 700
			margin-bottom: 5px
			position: relative
			@include max-screen($xl)
				padding-left: 26px

		&__ic
			position: absolute
			top: .25em
			left: -26px
			width: 15px
			height: 15px
			border-radius: 50%
			overflow: hidden
			@include max-screen($xl)
				left: 0

		address
			margin-bottom: 5px

		&__link
			display: inline-block
			margin-bottom: 15px
			color: $accent
			font-weight: 700
			@include max-screen($xl)
				margin-bottom: 0

		&__txt
			clear: both
			@include max-screen($xl)
				margin-top: 25px

		&__title, &__link
			@include max-screen(400px)
				font-size: 16px

		












