.pricing


.single-pricing
	@include max-screen($xl)
		overflow: auto
	table
		min-width: 600px
	thead th, th
		font-weight: 700
	th, td
		&:first-child
			text-align: left
			white-space: nowrap


	.pricing-format
		text-align: center
		&__hint
			top: 0
			transform: translate(-33%, -100%)
			@include max-screen($xl)
				top: 80%
				transform: translate(-33%, 0%)
				&::after
					top: -4px
					bottom: auto





































	