/* ------------------------------------- 
	Common styles 
	------------------------------------- */
.main-wrapper
	display: flex
	flex-direction: column
	min-height: 100vh
	.page
		flex: 1
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
	.main-wrapper
		display: block


.container
	width: 100%
	padding-right: 15px
	padding-left: 15px
	margin-right: auto
	margin-left: auto


@media (min-width: 992px)
	.container
		max-width: 960px

@media (min-width: 1200px)
	.container
		max-width: 1316px


.flex, .flex-center, .f-row
	display: flex
	flex-wrap: wrap

.flex-center
	align-items: center
	justify-content: center


.f-row
	margin: 0 -15px

.f-col
	width: 50%
	margin-bottom: 30px
	padding: 0 15px

	
.img
	display: block
	max-width: 100%
	height: auto
	&--cover
		width: 100%
		height: 100%
		object-fit: cover

.svg
	display: block
	max-width: 100%
	max-height: 100%



.hide-xl
	@include max-screen($xl)
		display: none !important
.show-xl
	@include min-screen(1200px)
		display: none !important

.hide-md
	@include max-screen($md)
		display: none !important
.show-md
	@include min-screen(768px)
		display: none !important


/* ---------- Titles & text ---------- */
h1, .title-1
	margin-bottom: .8em
	font-size: 48px
	line-height: 1
	letter-spacing: -.04em
	@include max-screen($xl)
		font-size: 42px
	@include max-screen($md)
		font-size: 34px

h2, .title-2
	margin-bottom: 1.2em
	font-size: 34px
	line-height: 1.15
	letter-spacing: -.016em
	@include max-screen($md)
		font-size: 30px

h3, .title-3
	font-size: 28px
	line-height: 1.2
	letter-spacing: -.016em
	@include max-screen($xl)
		font-size: 24px
	@include max-screen($md)
		font-size: 20px


.txt-1
	font-size: 18px
	line-height: 1.35
	letter-spacing: -.025em
	@include max-screen($xl)
		font-size: 24px
		line-height: 1.25
	@include max-screen($md)
		font-size: 20px
		line-height: 1.3
	@include max-screen($sm)
		font-size: 18px
		line-height: 1.35

.txt-2
	font-size: 14px
	line-height: 1.6
	@include max-screen($xl)
		font-size: 20px
		line-height: 1.3
	@include max-screen($md)
		font-size: 16px
		line-height: 1.5
	@include max-screen($sm)
		font-size: 14px
		line-height: 1.6

.accent
	display: inline-block
	white-space: nowrap
	font-size: 26px
	font-family: $title
	padding: 6px 16px
	background: $accent
	color: $white
	@include max-screen($md)
		font-size: 22px



.badge
	display: inline-block
	padding: 0 1em
	color: $white
	&-sub
		display: inline
		padding: .5em 0
		line-height: 1.6
		background-color: $accent
		box-shadow: .8em 0 0 0 $accent, -.8em 0 0 0 $accent


.nowrap
	white-space: nowrap

.text-center
	text-align: center

.fw-bold
	font-weight: 700

.list
	margin: 0
	padding: 0
	list-style: none

.link
	font-size: 15px
	font-weight: 700
	color: $accent
	&:hover
		color: $accent
		text-decoration: underline
	@include max-screen($xl)
		font-size: 20px
	@include max-screen($md)
		font-size: 15px

.subcolor
	color: rgba($text-color, .7)


/* ----- Кнопки ----- */
.button
	display: inline-flex
	align-items: center
	justify-content: center
	font-size: 15px
	font-weight: 600
	line-height: 1
	border: 2px solid $accent
	border-radius: 4px
	position: relative
	z-index: 1
	cursor: pointer
	overflow: hidden
	@include trs(.1s)
	&--bg
		background: $accent
		color: $white
		&:hover
			color: $white
			box-shadow: 0 2px 9px rgba($accent, .6)
	&--bd
		color: $accent
		&:hover
			background: $accent
			color: $white
	&--sm
		height: 2.2em
		padding: .67em 1em
	&--lg
		height: 3.4em
		padding: .67em 1.8em
	@include max-screen($xl)
		font-size: 20px
	@include max-screen($md)
		font-size: 15px
	
.more-btn
	margin-top: 35px
	text-align: center





.section
	margin: 70px 0
	@include max-screen($md)
		margin: 50px 0

.page .section:first-child
	@include max-screen($md)
		margin-top: 30px

.section--nobg
	background: none !important
	padding: 0 !important

.socials
	font-size: 10px
	align-items: center
	li
		margin-left: 1.6em
	&__link
		.img
			max-height: 100%
			transition: all .2s linear
		&:hover
			.img
				filter: brightness(1.5)
	&__vk
		width: 2.4em
		height: 1.5em
	&__insta
		width: 1.7em
		height: 1.7em
	&__fb
		width: 1.1em
		height: 1.8em
	&__youtube
		width: 2.1em
		height: 1.7em
	&__whatsapp
		width: 2em
		height: 2em
	&__telegram
		width: 2.3em
		height: 2em



/* Элементы навигации слайдера */
.slider
	&-arrow
		font-size: 10px
		width: 6em
		height: 6em
		display: flex
		align-items: center
		justify-content: center
		position: absolute
		top: 50%
		margin-top: -3em
		z-index: 1
		background: $white
		border-radius: 50%
		box-shadow: 0 5px 16px rgba(0, 0, 0, 0.07)
		outline: none
		transition: background .15s linear
		&::before
			content: ''
			display: block
			width: .9em
			height: 1.6em
			position: absolute
			background: url('../img/ic-arrow.svg') no-repeat 50% 50% / 100%
		&:hover
			background: $accent
			&::before
				background-image: url('../img/ic-arrow-white.svg')
		&.swiper-button-disabled
			opacity: 0.5
			background: $white
			cursor: default
			&::before
				background-image: url('../img/ic-arrow.svg')

	&-prev
		left: 0
		margin-left: -9em
		&::before
			transform: scale(-1)
		@include max-screen(1500px)
			margin-left: -4vw
	&-next
		right: 0
		margin-right: -9em
		@include max-screen(1500px)
			margin-right: -4vw


	&-dots
		margin: 40px 0 0
		display: flex
		justify-content: center
		.swiper-pagination-bullet
			margin: 0 5px
			transition: all .15s linear
		.swiper-pagination-bullet-active
			background: $accent !important
		&--white
			.swiper-pagination-bullet
				background: $white





.p-hero
	padding: 50px 0 80px
	background: $bg
	&__title
		margin-bottom: 1.2em
	&__row
		margin: 0 -25px
	&__col
		width: 50%
		padding: 0 25px
	@include max-screen($xl)
		padding: 50px 0 60px
		&__row
			display: block
			margin: 0
		&__col
			width: 100%
			padding: 0

.js-tab
	cursor: pointer

.js-tab-item
	&:not(:first-child)
		display: none



.pagination
	margin: 30px 0 0
	font-size: 18px
	.flex
		align-items: center
	&__item
		display: flex
		justify-content: center
		align-items: center
		height: 30px
		width: 30px
		font-weight: 700
		text-align: center
		line-height: 1
		@include trs(.2s)
		&:hover
			color: $accent
		&.current
			color: $accent
			&:hover
				color: $accent
		&.prev, &.next
			font-size: .55555em
			width: 6em
			height: 6em
			display: flex
			align-items: center
			justify-content: center
			z-index: 1
			background: $white
			border-radius: 50%
			box-shadow: 0 5px 16px rgba(0, 0, 0, 0.07)
			transition: background .15s linear
			&::before
				content: ''
				display: block
				width:  .9em
				height: 1.6em
				position: absolute
				background: url('../img/ic-arrow.svg') no-repeat 50% 50% / 100%
			&:hover
				background: $accent
				&::before
					background-image: url('../img/ic-arrow-white.svg')
		&.prev
			margin-right: 1vw
			&::before
				transform: scale(-1)
		&.next
			margin-left: 1vw
	@include max-screen($xl)
		.flex
			justify-content: center
	@include max-screen($sm)
		font-size: 14px


.no-scroll
	overflow: hidden

// @include max-screen($xl)
// @include max-min-width($xl, 768px)