/* ------------------------------------- 
	Reset 
	------------------------------------- */

article, aside, dialog, figcaption, figure, footer, header, main, nav, section, details, menu
	display: block

@-ms-viewport
	width: device-width

html
	font-family: sans-serif
	-webkit-text-size-adjust: 100%
	-ms-text-size-adjust: 100%
	-ms-overflow-style: scrollbar
	-webkit-tap-highlight-color: transparent

*
	-webkit-box-sizing: border-box
	box-sizing: border-box
	&::before, &::after
		-webkit-box-sizing: border-box
		box-sizing: border-box

body
	margin: 0
	position: relative
	font: 16px/1.3 $default-font, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
	text-align: left
	color: $text-color
	background-color: $white
	overflow-x: hidden


h1, h2, h3, h4, h5, h6, .title-1, .title-2
	font-family: $title
	font-weight: 400

h1, h2, h3, h4, h5, h6
	margin: 0 0 .5em

p
	margin: 0 0 1em
	&:last-child
		margin-bottom: 0

address
	margin-bottom: 1rem
	font-style: normal
	line-height: inherit

ol, ul
	margin-top: 0
	margin-bottom: 1rem
ol ol, ul ul, ol ul, ul ol
	margin-bottom: 0

blockquote
	margin: 0 0 1rem

b, strong
	font-weight: 700

small
	font-size: 80%

sub, sup
	font-size: 75%
	line-height: 0
	position: relative
	vertical-align: baseline
sub
	bottom: -0.25em
sup
	top: -0.5em

a
	color: inherit
	text-decoration: none
	background-color: transparent
	-webkit-text-decoration-skip: objects
	@include trs(.1s)
	&:hover
		color: inherit
	&:focus
		outline: none
	&:hover, &:focus
		text-decoration: none
	&:active, &:hover
		outline-width: 0
	&:not([href]):not([tabindex])
		color: inherit
		text-decoration: none
		&:focus, &:hover
			color: inherit
			text-decoration: none
		&:focus
			outline: 0

figure
	margin: 0 0 1rem

img
	font-size: 10px
	text-transform: uppercase
	color: $accent
	vertical-align: middle
	border-style: none
	&::selection
		background: none

svg:not(:root)
	overflow: hidden

table
	width: 100%
	border-collapse: collapse
	background-color: transparent

caption
	padding-top: 0.75rem
	padding-bottom: 0.75rem
	color: $text-color
	text-align: left
	caption-side: bottom

th
	text-align: inherit

label
	display: inline-block
	margin-bottom: .5rem

a, area, button, [role="button"], input, label, select, summary, textarea
	-ms-touch-action: manipulation
	touch-action: manipulation

button
	padding: 0
	background-color: transparent
	border: none
	border-radius: 0
	cursor: pointer
	&:focus
		outline: none

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner
	border-style: none
	padding: 0

input, button, select, optgroup, textarea
	margin: 0
	font-family: inherit
	font-size: inherit
	line-height: inherit

button, input
	overflow: visible

button, select
	text-transform: none

button, html [type="button"], [type="reset"], [type="submit"]
	-webkit-appearance: button

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner
	padding: 0
	border-style: none

fieldset
	min-width: 0
	padding: 0
	margin: 0
	border: 0
legend
	display: block
	width: 100%
	padding: 0
	margin-bottom: .5rem
	font-size: 1.5rem
	line-height: inherit

input
	&[type="radio"], &[type="checkbox"]
		box-sizing: border-box
		padding: 0
	&[type="radio"]:disabled, &[type="checkbox"]:disabled
		cursor: not-allowed
	&[type="date"], &[type="time"], &[type="datetime-local"], &[type="month"]
		-webkit-appearance: listbox
	&[type="search"]
		-webkit-appearance: textfield
		outline-offset: -2px
		&::-webkit-search-cancel-button, &::-webkit-search-decoration
			-webkit-appearance: none

textarea
	overflow: auto
	resize: vertical

[type="checkbox"], [type="radio"]
	-webkit-box-sizing: border-box
	box-sizing: border-box
	padding: 0


[tabindex="-1"]:focus
	outline: 0 !important

[role="button"]
	cursor: pointer

::-webkit-file-upload-button
	font: inherit
	-webkit-appearance: button

[hidden]
	display: none !important


.blocker
	z-index: 101
	background: rgba(0, 0, 0, 0.5)
	padding: 16px


.ui-datepicker
	z-index: 102 !important
.ui-datepicker.ui-widget-content
	width: 232px
	// height: 262px
	border: none
	padding: 17px 17px 20px
	border-radius: 4px
	-webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.17)
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.17)
	color: $text-color

	table
		margin: 0
		font-size: 12px
		th
			font-weight: 400

	.ui-widget-header
		display: flex
		align-items: center
		background: none
		border: none
		position: static
		select
			outline: none
			border: none

	.ui-datepicker-title
		margin: 0
		flex: 1 0 0
		padding-bottom: 3px
		font-weight: bold
		text-align: left

	.ui-state-default
		border-radius: 4px
		font-size: 12px
		text-transform: uppercase
		border: none
		background: transparent
		text-align: center
		padding: 4px 0 3px
		color: $text-color

		&.ui-state-active, &.ui-state-hover
			background-color: $accent
			color: #fff

	.ui-datepicker-prev, .ui-datepicker-next
		background: none !important
		border: none !important
		top: auto
		left: auto
		right: auto
		position: relative
		cursor: pointer

	.ui-datepicker-prev span, .ui-datepicker-next span
		display: none

	.ui-datepicker-prev::before, .ui-datepicker-next::before
		content: ''
		display: inline-block
		width: 10px
		height: 10px
		border: none
		border-bottom: 1px solid $text-color
		border-right: 1px solid $text-color
		transform-origin: 50% 50%

	.ui-datepicker-prev::before
		transform: rotate(135deg)

	.ui-datepicker-next
		order: 1
		text-align: right
		&::before
			transform: rotate(-45deg)














