


section.section.contacts-coop

	.container

		h2.title-2.text-center Сотрудничество

		.contacts-coop__row.flex

			.contacts-coop__col
				.coop-item

					.coop-item__img.flex-center
						img.img.img--cover(src="img/content/img-coop-1.jpg", alt="alt")
					.txt-1.fw-bold.coop-item__title Оптовый отдел
					.txt-2
						.fw-bold Олеся Рогалева
						.coop-item__email
							a(href="mailto:olesya@i-maika.ru") olesya@i-maika.ru
						span Будние дни с 10:00 до 18:30

				// /.coop-item
			// /.contacts-coop__col

			.contacts-coop__col
				.coop-item

					.coop-item__img.flex-center
						img.img.img--cover(src="img/content/img-coop-2.jpg", alt="alt")
					.txt-1.fw-bold.coop-item__title Сотрудничество, мероприятия
					.txt-2
						.fw-bold Екатерина Матанцева
						.fw-bold
							a(href="tel:+7 (812) 490-75-80") +7 (812) 490-75-80
							| доб.114
						.coop-item__email
							a(href="mailto:hello@i-maika.ru") hello@i-maika.ru
						span Будние дни с 10:00 до 18:30

				// /.coop-item
			// /.contacts-coop__col

			.contacts-coop__col
				.coop-item

					.coop-item__img.flex-center
						img.img.img--cover(src="img/content/img-coop-3.jpg", alt="alt")
					.txt-1.fw-bold.coop-item__title Закупки, логистика
					.txt-2
						.fw-bold Катерина Шутенко
						.fw-bold
							a(href="tel:+7 (812) 490-75-80") +7 (812) 490-75-80
							| доб.105
						.coop-item__email
							a(href="mailto:shutenko@i-maika.ru") shutenko@i-maika.ru
						span Будние дни с 10:00 до 18:30

				// /.coop-item
			// /.contacts-coop__col








		// /.contacts-coop__row.flex


	// /.container


// /.contacts-soc




