section.section.contacts-hero

	.container

		h1.title-1 Контакты
		
		.contacts__row.flex


			.contacts__col

				.contacts-hero__block.contacts-hero__print


					h2.title-2 Принтерии
					p.txt-2 Срочная печать от 1 штуки

					.contacts__subrow.flex

						.contacts__subcol
							.metro-item__title.txt-1 
								| М. Пионерская
								.metro-item__ic
									img.img(src="img/content/ic-metro-branch-1.png", alt="alt")
							address.contacts__addr.txt-2 Коломяжский пр., д.26
							.contacts__subtxt.txt-2 Ежедневно 11:00—21:00
							.metro-head__tel.flex
								a.tel-link.txt-1(href="tel:+78124907550") +7 (812) 490-75-50
								+socials(['whatsapp', 'telegram'], 'accent')
							a.metro-item__link.txt-1(href="mailto:print26@i-maika.ru") print26@i-maika.ru
						// /.contacts__subcol

						.contacts__subcol
							.metro-item__title.txt-1 
								| М. Владимирская
								.metro-item__ic
									img.img(src="img/content/ic-metro-branch-5.png", alt="alt")
							address.contacts__addr.txt-2 Марата ул., д.28
							.contacts__subtxt.txt-2 Ежедневно 11:00—21:00
							.metro-head__tel.flex
								a.tel-link.txt-1(href="tel:+78123857430") +7 (812) 385-74-30
								+socials(['whatsapp', 'telegram'], 'accent')
							a.metro-item__link.txt-1(href="mailto:studio28@i-maika.ru") studio28@i-maika.ru
						// /.contacts__subcol


					// /.contacts__subrow.flex
				// /.contacts-hero__block

			// /.contacts__col


			.contacts__col

				.contacts-hero__block.contacts-hero__opt


					h2.title-2 Оптовый отдел
					p.txt-2 Несрочная печать от 20 штук

					.contacts__subrow.flex

						.contacts__subcol
							.metro-head__tel.flex
								a.tel-link.txt-1(href="tel:+78124907550") +7 (812) 490-75-50
								+socials(['whatsapp', 'telegram'], 'accent')
							address.contacts__addr.txt-2 ул. Михайлова, 13
							.contacts__subtxt.txt-2 Работаем для вас<br> с Пн по Пт с 10:00 — 18:30
							a.metro-item__link.txt-1(href="mailto:opt@i-maika.ru") opt@i-maika.ru
						// /.contacts__subcol

						.contacts__subcol
							.metro-head__tel.flex
								a.tel-link.txt-1(href="tel:88005500000") 8-800-550-00-00 
								span.contacts__subtxt.txt-2 для регионов
						// /.contacts__subcol


					// /.contacts__subrow.flex
				// /.contacts-hero__block

			// /.contacts__col


		// /.contacts__row.flex

	// /.container


// /.contacts-hero




