section.section.contacts-soc

	.container


		.contacts-soc__inner

			h2.title-2 Дружите с нами в соцсетях

			ul.socials.flex.list
				li
					a.socials__link.socials__vk.flex-center(href='#' target='_blank')
						img.img(src='img/ic-vk-thin.png' alt='alt')
				li
					a.socials__link.socials__insta.flex-center(href='#' target='_blank')
						img.img(src='img/ic-insta-thin.png' alt='alt')
				li
					a.socials__link.socials__fb.flex-center(href='#' target='_blank')
						img.img(src='img/ic-fb-thin.png' alt='alt')
				li
					a.socials__link.socials__youtube.flex-center(href='#' target='_blank')
						img.img(src='img/ic-youtube-thin.png' alt='alt')


	// /.container


// /.contacts-soc




