section.section.testimonials


	.container

		h1.title-1 Отзывы о нашей работе

		.testimonials__row.flex

			aside.testimonials-sidebar

				.testimonials-sidebar__section

					.testimonials-sidebar__btns
						button.button.button--bd.button--lg.js-open-modal(type="button", data-modal="#testimonials-form") Оставить отзыв
						button.button.button--lg.filter-btn.show-xl(type="button") 
							i.ic-filter
							| Фильтры
				
					
					.testimonials-filters
						form(action="#")

							.testimonials-filters__row

								.testimonials-filters__group
									label.checkbox
										input(type='checkbox', name='i1')
										span.checkbox__wrap
										span.checkbox__text Все отзывы
											span.checkbox__quantity 100
									label.checkbox
										input(type='checkbox', name='i2')
										span.checkbox__wrap
										span.checkbox__text Положительные
											span.checkbox__quantity 86
									label.checkbox
										input(type='checkbox', name='i3')
										span.checkbox__wrap
										span.checkbox__text Нейтральные
											span.checkbox__quantity 4
									label.checkbox
										input(type='checkbox', name='i4')
										span.checkbox__wrap
										span.checkbox__text Отрицательные
							
								.testimonials-filters__group.testimonials-filters__order
									label.checkbox
										input(type='checkbox', name='i7')
										span.checkbox__wrap
										span.checkbox__text По студиям 
											span.checkbox__quantity 100
									label.checkbox
										input(type='checkbox', name='i8')
										span.checkbox__wrap
										span.checkbox__text м. Пионерскаяе
											span.checkbox__quantity 86
									label.checkbox
										input(type='checkbox', name='i9')
										span.checkbox__wrap
										span.checkbox__text м. Владимирская
											span.checkbox__quantity 4
									label.checkbox
										input(type='checkbox', name='i10')
										span.checkbox__wrap
										span.checkbox__text Оптовый отдел

								.testimonials-filters__group
									label.checkbox
										input(type='checkbox', name='i5')
										span.checkbox__wrap
										span.checkbox__text Личные
											span.checkbox__quantity 4
									label.checkbox
										input(type='checkbox', name='i6')
										span.checkbox__wrap
										span.checkbox__text Корпоративные
							
							// /.testimonials-filters__row
			
				// /.testimonials-sidebar__section
				
				-
					var raits = [
						{
							"title": "Отзывы м. Пионерская",
							"rows" : [
								{
									"ic": "ic-geo-1.png",
									"val": "4.8",
									"feeds": "26 отзывов",
								},
								{
									"ic": "ic-geo-2.png",
									"val": "5.0",
									"feeds": "2 отзыва",
								}
							]
						},
						{
							"title": "Отзывы м. Владимирская",
							"rows" : [
								{
									"ic": "ic-geo-1.png",
									"val": "4.8",
									"feeds": "50 отзывов",
								},
								{
									"ic": "ic-geo-2.png",
									"val": "4.7",
									"feeds": "85 отзывов",
								}
							]
						}
					]
				each item in raits
					.testimonials-sidebar__section.hide-xl
						.testimonials-sidebar__title.txt-2 !{item.title}
						each row in item.rows
							.g-raiting
								.g-raiting__row.flex
									.g-raiting__ic
										img.img(src="img/"+row.ic, alt="alt")
									.g-raiting__col
										.g-raiting__stars
											- for(let i = 0; i < 5; i++)
												i.g-raiting__star(style="background-image: url('img/ic-star.svg')")
										.g-raiting__info.txt-2
											span.g-raiting__val !{row.val}
											span.subcolor !{row.feeds}
									

				// /.testimonials-sidebar__section

			// /.testimonials-sidebar		

			.testimonials__main

				.testimonials__list

					-
						var testimonials = [
							{
								"type": "feed",
								"reaction": "positive",
								"img": "content/img-user-1.jpg",
								"title": "Александра, ст. м. Владимирская, 8 сентябрь 2020",
								"txt": "Ребята большие молодцы! Очень помогли с большими партиями в короткий срок, всегда были на связи и помогли в решении вопросов. Качество работы и печати на высоте. Безмерно благодарна! Вы лучшие *сердечко*",
							},
							{
								"type": "feed",
								"reaction": "positive",
								"img": "content/img-partners-3.jpg",
								"title": "Event-агентство \"Директория\", Оптовый отдел , 30 январь 2020",
								"txt": "Работать с компанией яМайка - одно удовольствие! Все заказы всегда выполняются строго в срок, качество печати великолепное! Все без исключения сотрудники очень профессионально выполняют свою работу. Напечатали несколько сотен футболок и всегда, любая наша просьба, была выполнена! Спасибо большое за работу!",
							},
							{
								"type": "feed",
								"reaction": "neutral",
								"img": "content/img-partners-4.jpg",
								"title": "Côte d'Azur, Оптовый отдел , 10 февраль 2020",
								"txt": "Спасибо команде \"яМайка\" за оперативность, отзывчивость и решение самых сложных задач! Когда сотрудничаешь с event-агентством, нужно быть готовым к непростым заказам с дед-лайном \"вчера\". Сколько компаний по печати мы поменяли за годы работы - не пересчитать! Но мы определились с теми, кто создает крутые брендированные вещи для нас и наших Клиентов)",
								"more": "more"
							},
							{
								"type": "feed",
								"reaction": "negative",
								"img": "ic-user.svg",
								"title": "Ксения, ст. м. Владимирская, 18 март 2020",
								"txt": "Здравствуйте! Второй раз делаю себе футболки в Вашей студии. Все качественно, очень быстро и очень красиво. Первый раз приходила и делала на месте. Второй раз воспользовалась онлайн-сервисом. Сделали раньше срока! Очень приятно. Материал футболок при...",
							},
							{
								"type": "answer",
								"reaction": "neutral",
								"img": "logo-ic.png",
								"title": "Комания Я-МАЙКА, 18 март 2020",
								"txt": "Татьяна, здравствуйте. Большое спасибо за обратную связь. В принтериях мы технически не можем сделать нанесение методом шелкографии. Ваш принт был напечатан методом прямой печати. Администратор принтерии вернет вам деньги за текстиль и печать.",
							},
							{
								"type": "feed",
								"reaction": "positive",
								"img": "content/img-user-1.jpg",
								"title": "Александра, ст. м. Владимирская, 8 сентябрь 2020",
								"txt": "Работать с Вами всегда было легко и приятно! Поддерживая партнерские отношения, мы всегда уверены в качестве и оперативности выполнения обязательств. Благодарим сотрудников компании за внимание к мелочам и открытость в общении. Желаем успехов в делах и новых интересных проектов!",
								"images": [
									"content/img-methods-3.jpg",
									"content/img-methods-2.jpg",
									"content/img-tabs-1.jpg"
								]
							},
						]
					each item in testimonials
						.testimonials-item(class= item.type!='feed' ? 'testimonials-answer': '', class= item.reaction=='positive' ? 'testimonials-item--positive': '', class= item.reaction=='negative' ? 'testimonials-item--negative': '')
							.testimonials-item__row.flex
								.testimonials-item__avatar.flex-center
									img.img(src="img/"+item.img, alt="alt")
								.testimonials-item__content.txt-2
									.testimonials-item__title !{item.title}
									p.subcolor !{item.txt}
									if item.images
										.testimonials__images.flex
											- for(let i = 0; i < item.images.length; i++)
												.testimonials__image
													img.img.img--cover(src="img/"+item.images[i], alt="alt")

									if item.more == "more"
										.testimonials-more
											p.testimonials-more__txt Спасибо команде "яМайка" за оперативность, отзывчивость и решение самых сложных задач! Когда сотрудничаешь с event-агентством, нужно быть готовым к непростым заказам с дед-лайном "вчера". Сколько компаний по печати мы поменяли за годы работы - не пересчитать! Но мы определились с теми, кто создает крутые брендированные вещи для нас и наших Клиентов)
											button.testimonials-more__btn.link(type="button") Развернуть
										



					// /.testimonials__item

				// /.testimonials__list

				nav.pagination
					ul.list.flex
						li
							a.pagination__item.prev(href='#')
						li
							a.pagination__item(href='#') 1
						li
							a.pagination__item(href='#') 2
						li
							span.pagination__item.current 3
						li
							a.pagination__item(href='#') 4
						li
							a.pagination__item(href='#') 5
						li
							a.pagination__item(href='#') 6
						li
							a.pagination__item.next(href='#')

			// /.testimonials__main




		// /.testimonials__row.flex

	// /.container


// /.testimonials


