.wholesale-blockquote

	&__inner
		padding: 45px 29% 45px 60px
		position: relative
		border: 2px solid $accent
		background: $bg
		&::after
			content: ''
			display: block
			font-size: 10px
			width: 3.9em
			height: 2.7em
			position: absolute
			right: 4.8em
			top: 3.9em
			background: url(../img/ic-quotes.svg) no-repeat 50% 50%/100%
			opacity: .1

	&__logo
		align-items: center
		position: absolute
		bottom: 56px
		right: 71px
		.img
			font-size: 10px
			width: 4.5em
			height: 3.9em
			margin-right: 1em

	@include max-screen($xl)
		&__inner
			padding-right: 14%

		&__logo
			position: static
			margin-top: 30px

	@include max-screen($md)
		&__inner
			padding: 30px
			&::after
				font-size: 8px
			p:first-child
				max-width: 80%

	@include max-screen($sm)
		&__inner
			padding: 30px 15px






















