.wholesale


	&__row
		align-items: flex-end
		@include max-screen($xl)
			display: block
			margin: 0

	&__col
		@include max-screen($xl)
			width: 100%
			padding: 0

	&__accent
		margin-bottom: 50px

	&-list

		&__row
			flex-wrap: nowrap
			position: relative
			@include max-screen($xl)
				display: block
				margin: 0

		&__col
			width: 50%
			@include min-screen(1200px)
				&:nth-child(3)
					position: absolute
					left: 100%
					.wholesale-list__item
						margin-top: -25px
						padding: 25px 30px
						background:#f7f7f7
						box-shadow: $shadow
			@include max-screen($xl)
				width: 100%
				margin-bottom: 50px
				padding: 0
			@include max-screen($sm)
				margin-bottom: 35px

		&__item
			@include max-screen($xl)
				display: flex

		&__img
			font-size: 10px
			width: 7.5em
			flex: 0 0 7.5em
			height: 7.6em
			display: flex
			align-items: flex-end
			justify-content: flex-start
			margin-bottom: 2em
			.img
				max-height: 100%
			@include max-screen($xl)
				margin: 0 3em 0 0
			@include max-screen($md)
				font-size: 8px
			@include max-screen($sm)
				font-size: 7px

		&__content
			@include max-screen($xl)
				flex: 1 0 0
				max-width: 100%

		&__title
			font-weight: 700
			margin-bottom: .5em

		


	&__btns
		.button
			margin-right: 16px
		@include max-screen($md)
			display: block
			text-align: center
			margin-bottom: -15px
			.button
				width: 100%
				max-width: 400px
				margin-bottom: 15px
		@include max-screen($sm)
			.button
				max-width: 290px






