.wholesale-steps

	&__row
		counter-reset: li
		padding-top: 60px
		@include max-screen($xl)
			display: block
			margin: 0 0 -20px
		@include max-screen($sm)
			padding-top: 40px

	&__col
		width: 33.33333%
		@include max-screen($xl)
			width: 100%
			margin-bottom: 60px
			padding: 0



.wholesale-step
	height: 100%
	padding: 65px 76px 50px 60px
	background: $white
	box-shadow: $shadow
	position: relative
	&::before
		counter-increment: li
		content: counter(li)
		font-size: 34px
		display: flex
		align-items: center
		justify-content: center
		width: 2.353em
		height: 2.353em
		border-radius: 50%
		border: 2px solid $accent
		background: $white
		font-family: $title
		line-height: 1
		letter-spacing: -.016em
		position: absolute
		top: -1em

	&__title
		margin-bottom: 0.5em

	@include max-screen($md)
		padding: 50px 30px 30px
		&::before
			font-size: 26px

	@include max-screen($sm)
		padding: 50px 15px 30px
	



























	