.hero

	&__row
		margin: 0 -15px -30px
		@include max-screen($lg)
			display: block
			margin: 0
	
	&__col
		margin-bottom: 30px
		padding: 0 15px
		&-1-2
			width: 50%
		&-3-4
			width: 75%
		&-1-4
			width: 25%
		@include max-screen($lg)
			width: 100%
			padding: 0
		

	&-block
		display: flex
		flex-direction: column
		height: 100%
		background-repeat: no-repeat
		background-size: cover
		border-radius: 4px
		transition: box-shadow .2s linear
		&:hover
			box-shadow: 0 0 15px rgba($accent, .12)
		@include max-screen($lg)
			height: auto

		.title-3
			font-family: $title

		&__txt
			max-width: 220px
			margin-top: auto
			font-weight: 700


		&-1, &-2
			min-height: 490px
			padding: 95px 65px 50px
			@include max-screen($xl)
				padding: 50px
				min-height: 400px
			@include max-screen($lg)
				min-height: 50vw
			@include max-screen($md)
				padding: 30px
			@include max-screen($sm)
				min-height: 280px


		&-1, &-3
			color: $white
			&:hover
				color: $white

		
		&-3
			padding: 50px 65px 70px
			text-align: center
			align-items: center
			&__title
				margin-bottom: .5em
				@include min-screen(992px)
					margin-bottom: .2em
					font-size: 50px
				@include min-screen(1200px)
					font-size: 68px
			&__txt
				max-width: none
			@include max-screen($md)
				padding: 30px

		&-4
			padding: 40px
			background: #efeff0
			&__title
				margin-bottom: .8em
			.img
				max-width: 140px
				max-height: 107px
			@include max-screen($xl)
				padding: 30px
			@include max-screen($lg)
				display: none



























	