.contacts-hero

	&__block
		padding: 35px 50px 25px
		background-color: #f7f7f7
		border-radius: 4px
		@include max-screen($md)
			padding: 15px
		@include max-screen($sm)
			width: calc(100% + 30px)
			margin-left: -15px
			border-radius: 0

	.title-2
		margin-bottom: .3em
		@include max-screen($xl)
			text-align: center
			+ .txt-2
				text-align: center

	.contacts__addr
		margin: 10px 0 0

	.metro-head__tel
		.txt-2
			margin-left: .5em
	.metro-item__link
		margin: 3px 0 0


	&__print
		@include min-screen(1200px)
			.contacts__subrow
				margin: 0
			.contacts__subcol
				padding: 0 25px
		.metro-head__tel
			margin-top: 15px

	&__opt
		.metro-item__link
			margin-top: 20px
	

	@include max-screen($md)
		// .contacts__subrow
		// 	display: block
		// 	margin: 0
		// .contacts__subcol
		// 	width: 100%
		// 	padding: 0
		.metro-head__tel
			width: auto
		.socials
			font-size: 8px
	
	@include max-screen($sm)
		.txt-1
			font-size: 16px
		.metro-item__title
			font-size: 14px
		.metro-item__ic
			top: .05em
		.socials
			width: 100%
			margin-top: 5px
			li
				margin: 0 1.6em 0 0

		.metro-item__link
			margin-top: 15px

		.metro-head__tel .txt-2
			display: block
			width: 100%
			margin: 0


.contacts-soc
	&__inner
		padding: 65px
		text-align: center
		background: #141414
		border-radius: 4px
		color: $white
		@include max-screen($xl)
			padding: 50px 30px
		@include max-screen($sm)
			width: calc(100% + 30px)
			margin-left: -15px
			border-radius: 0

	.socials
		font-size: 45px
		justify-content: center
		li
			margin: 0 1em
		a:hover
			filter: drop-shadow(2px 2px 4px rgba($white, .75))
		@include max-screen($xl)
			font-size: 5.2vw



.contacts-coop
	&__row
		margin: 90px -15px 0
		@include max-screen($xl)
			display: block
			margin-left: 0
			margin-right: 0

	&__col
		width: 33.33333%
		margin-bottom: 30px
		padding: 0 15px
		@include max-screen($xl)
			width: 100%
			margin-bottom: 90px
			padding: 0
		@include max-screen($md)
			margin-bottom: 70px
		
	

.coop-item
	height: 100%
	padding: 70px 55px 40px
	background: #f7f7f7
	border-radius: 4px
	position: relative
	&__img
		font-size: 10px
		width: 10em
		height: 10em
		border-radius: 50%
		overflow: hidden
		position: absolute
		top: -5em

	&__title
		margin-bottom: .6em
	&__email
		color: $accent

	@include max-screen($xl)
		max-width: 500px
		height: auto
		margin-left: auto
		margin-right: auto
		text-align: center
		&__img
			left: 50%
			margin-left: -5em
	@include max-screen($md)
		padding: 50px 30px 20px
		&__img
			font-size: 8px
