.effects.section


	.container

		h2.title-2.text-center Спецэффекты

		.effects__row.flex

			-
				var effects = [
					{
						"img": "img/content/img-effect-1.jpg",
						"accent": "Флюор",
						"txt": "Флюоресцентные краски позволяют создать невероятно насыщенные изображения, которые отлично смотрятся при дневном освещении, а также активизируются при свете ультрафиолетовых ламп. Футболка с таким принтом – наглядный пример чудес физики: краска поглощает солнечную энергию и конвертирует ее в видимые части цветового спектра."
					},
					{
						"img": "img/content/img-effect-2.jpg",
						"accent": "Вытравка",
						"txt": "Нанесение принтов вытравкой похоже на \"обратную печать\". Этот метод позволяет \"удалить\" с изделия краситель, с помощью которого эта вещь была ранее окрашена. Основное преимущество этого способа – принт получается совсем не ощутим на ткани. Натуральный цвет небеленого хлопка - бежевый, поэтому можно разработать интересный одноцветный принт для тёмного изделия только под вытравку,<br> или же добавить в вытравную краску цветной пигмент."
					},
					{
						"img": "img/content/img-effect-3.jpg",
						"accent": "Фольгирование",
						"txt": "Фольгирование позволяет создать на текстиле принты с переливающимся эффектом. Методом шелкографии на ткани печатается бесцветная основа, поверх которой наносится лист фольги и фиксируется термопрессом. Принты, созданные методом фольгирования, эффектно смотрятся на футболках."
					},
					{
						"img": "img/content/img-effect-1.jpg",
						"accent": "Флюор",
						"txt": "Флюоресцентные краски позволяют создать невероятно насыщенные изображения, которые отлично смотрятся при дневном освещении, а также активизируются при свете ультрафиолетовых ламп. Футболка с таким принтом – наглядный пример чудес физики: краска поглощает солнечную энергию и конвертирует ее в видимые части цветового спектра."
					},
					{
						"img": "img/content/img-effect-2.jpg",
						"accent": "Вытравка",
						"txt": "Нанесение принтов вытравкой похоже на \"обратную печать\". Этот метод позволяет \"удалить\" с изделия краситель, с помощью которого эта вещь была ранее окрашена. Основное преимущество этого способа – принт получается совсем не ощутим на ткани. Натуральный цвет небеленого хлопка - бежевый, поэтому можно разработать интересный одноцветный принт для тёмного изделия только под вытравку,<br> или же добавить в вытравную краску цветной пигмент."
					},
					{
						"img": "img/content/img-effect-3.jpg",
						"accent": "Фольгирование",
						"txt": "Фольгирование позволяет создать на текстиле принты с переливающимся эффектом. Методом шелкографии на ткани печатается бесцветная основа, поверх которой наносится лист фольги и фиксируется термопрессом. Принты, созданные методом фольгирования, эффектно смотрятся на футболках."
					},
					{
						"img": "img/content/img-effect-3.jpg",
						"accent": "Фольгирование",
						"txt": "Фольгирование позволяет создать на текстиле принты с переливающимся эффектом. Методом шелкографии на ткани печатается бесцветная основа, поверх которой наносится лист фольги и фиксируется термопрессом. Принты, созданные методом фольгирования, эффектно смотрятся на футболках."
					}
				]
			each item in effects

				.effects__col

					.effects-item
						.effects-item__img
							img.img.img--cover(src= item.img, alt="alt")
						.effects-item__title.accent= item.accent
						.effects-item__txt.txt-2
							p !{item.txt}


				// /.effects__col


		// /.effects__row.flex


		+more('Ещё спецэффекты')


	// /.container


// /.effects


