section.p-hero.s-hero
	.container
		.p-hero__row.flex

			h1.title-1.p-hero__title Шелкография для печати на текстиле


			.p-hero__col.s-hero__col-1
				.s-hero__frame
					<iframe src="https://www.youtube.com/embed/nnIytYVCKp0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			// /.p-hero__col


			.p-hero__col.s-hero__col-2

				.s-hero__item.flex
					.s-hero__ic.flex-center
						img.img(src="img/img-check.svg", alt="alt")
					.s-hero__content
						.title-2 Качество
						p.txt-2 Для данного метода требуется трудоёмкая предпечатная подготовка, поэтому единичные экземпляры производить нецелесообразно. 

				.s-hero__item.flex
					.s-hero__ic.flex-center
						img.img(src="img/img-check.svg", alt="alt")
					.s-hero__content
						.title-2 Цена
						p.txt-2 Шелкография — наиболее выгодный способ нанесения принтовпо соотношению цена/качество.

				.s-hero__item.flex
					.s-hero__ic.s-hero__ic--disabled.flex-center
						img.img(src="img/img-close.svg", alt="alt")
					.s-hero__content
						.title-2 Скорость
						p.txt-2 Для данного метода требуется трудоёмкая предпечатная подготовка, поэтому единичные экземпляры производить нецелесообразно.
			// /.p-hero__col





		// /.p-hero__row.flex




	// /.container


// /.p-hero


