.silk-block.section


	.container

		.silk-block__row.f-row

			.silk-block__col.f-col
				p.txt-1.fw-bold Шелкография — наиболее выгодный способ<br> нанесения принтов по соотношению<br> цена/качество
				p.txt-2 Метод шелкографии позволяет реализовать абсолютно любой творческий потенциал.<br> Мы печатаем пластизолевыми, водными и вытравными красками.<br> Водные краски мягкие на ощупь и абсолютно экологически чистые. Привычные изображения на ткани можно разнообразить, используя спецэффекты: фольгу, металлик, флок, флюор, глиттер лак, имитацию кожи и др.
			// /.silk-block__col

			.silk-block__col.f-col

				.block-links.flex
					.block-links__row.f-row
						.block-links__col.f-col
							a(href="#").block-link
								.block-link__img
									img.img(src="img/ic-menu-2.svg", width="79", height="77" alt="alt")
								.title-3 Заказать расчёт тиража
						.block-links__col.f-col
							a(href="#").block-link
								.block-link__img
									img.img(src="img/img-list.svg", width="64", height="64" alt="alt")
								.title-3 Прайс-<br>лист

				// /.block-links.flex

			// /.silk-block__col
		// /.silk-block__row.flex

	// /.container


// /.silk-block


