.cloth
	padding: 60px 0
	background: $bg
	@include max-screen($md)
		padding: 40px 0

	&__slider-wrap
		position: relative
		.slider-arrow
			margin-top: -6em

	&__slider
		.swiper-slide:last-child
			.cloth-hidden
				left: auto
				right: 0

	&__item
		@include max-screen($xl)
			text-align: center

	&__img
		margin-bottom: 35px
		background: #b2b1ac
		.img
			height: 45.1em
			border-radius: 2px
			@include max-screen($xl)
				margin: 0 auto
				font-size: 9px
			@include max-screen($sm)
				font-size: 8px
	
	&__title
		font-weight: 700
		margin-bottom: .5em

	&__txt
		white-space: pre



	&-pricing
		position: relative
		margin-bottom: .5em
		&__txt
			@include min-screen(1200px)
				display: inline-block
				color: $accent
				border-bottom: 1px dashed $accent
				transition: all .1s ease-out
		&:hover
			.cloth-pricing__txt
				border-color: transparent
			.cloth-hidden
				display: block

	&-hidden
		display: none
		width: 558px
		padding: 40px 35px
		position: absolute
		z-index: 1
		bottom: 100%
		transform: translateY(-10px)
		left: 0
		border-radius: 4px
		background-color: $bg
		box-shadow: 0 0 18px rgba(0, 0, 0, 0.07)
		&::after
			content: ''
			display: block
			width: 100%
			height: 100%
			width: 20px
			height: 20px
			border-radius: 4px
			transform: rotate(45deg)
			position: absolute
			z-index: 0
			left: 20px
			bottom: -4px
			background: $bg
		&__title
			margin-bottom: 15px
			font-weight: 700
		&__table
			table
				width: 100%
			th, td
				padding: 5px 0
		&--text
			width: 300px

		@include max-screen($xl)
			display: block
			width: auto
			position: static
			box-shadow: none
			transform: none
			padding: 0
			&::after
				display: none
			&__title
				margin-top: 25px
				margin-bottom: 5px
			&__table
				table, tr, th, td
					display: block
				tbody
					display: flex
				tr
					width: 50%









