.contacts
	margin-top: 50px
	padding: 70px 0 30px
	background: $bg
	@include max-screen($sm)
		padding: 50px 0 20px

	&__row, &__subrow
		margin: 0 -15px

	&__row
		margin-bottom: -30px
		@include max-screen($xl)
			display: block
			margin: 0

	&__col, &__subcol
		width: 50%
		margin-bottom: 30px
		padding: 0 15px

	&__col
		@include max-screen($xl)
			width: 100%
			padding: 0
		
	&__subcol
		@include max-screen($sm)
			margin-bottom: 0

	&__city
		margin-bottom: .8em
		@include max-screen($xl)
			text-align: center

	&__title
		font-weight: 700

	.tel-link
		margin-bottom: 1em

	&__subtxt
		opacity: 0.7
		@include max-screen($sm)
			br
				display: none



























	