.discounts

	&__slider-wrap
		position: relative

	&__slider
		.hero-block
			@include max-screen($md)
				padding-bottom: 60px
				background-position-x: 10%

	&-dots
		position: absolute
		width: 100%
		z-index: 2
		bottom: 30px





























	