/* ----- footer ----- */
.footer
	padding: 90px 0
	background: #141414
	color: $white
	position: relative
	z-index: 1
	overflow: hidden
	@include max-screen($xl)
		padding: 70px 0 50px
	@include max-screen($md)
		padding: 50px 0
	@include max-screen($sm)
		padding: 35px 0

	&__col
		width: 25%
		position: relative
		@include max-screen($xl)
			width: 50%
			margin-bottom: 40px

	&__title
		margin-bottom: 1em
		font-weight: 700

	&__list
		font-weight: 300
		li
			&:not(:last-child)
				margin-bottom: 0.8em
				@include max-screen($xl)
					margin-bottom: 0.5em

	&__link
		opacity: 0.3
		&:hover
			opacity: 0.6

	&__mes
		margin-bottom: 1.8em
		font-weight: 600
		opacity: 0.5

	.txt-1
		@include max-screen(385px)
			font-size: 16px

	&__logo
		position: absolute
		top: 3px
		right: 0
		@include max-screen($md)
			position: static

	.copy
		margin-bottom: 0.8em
		opacity: 0.5

	.socials
		margin-bottom: 43px
		li
			margin: 0 1.6em 0 0
			&:last-child
				margin-right: 0
		@include max-screen($xl)
			font-size: 16px
		@include max-screen($sm)
			font-size: 14.4px
		@include max-screen(385px)
			font-size: 12px


	&__tag
		width: 100%
		position: absolute
		z-index: -1
		left: 0
		bottom: 0
		font-size: 225px
		font-family: $title
		line-height: .6
		text-align: center
		letter-spacing: -.018em
		color: #141414
		text-shadow: 0 0 3px rgba($white, .1)
		&::selection
			background: none
		@include max-screen($xl)
			font-size: 16vw

	&__bottom
		width: 100%
		align-items: center
		margin-top: -20px
		&-col
			width: 50%
			margin-left: auto
			// @include max-screen(385px)
			// 	width: 100%
			// 	margin-top: 15px


.designer
	font-weight: 300
	transition: all .1s linear
	opacity: 0.3
	&:hover
		opacity: 0.6
		a
			color: $accent



























	
	