/* ----- header ----- */
.header
	padding: 30px 0
	border-bottom: 1px solid #efeff0
	
	&__row
		align-items: center

	.logo
		margin-right: 3.4%

	&__block
		margin-right: 3.8%
		padding-top: 6px
		.location
			margin-bottom: 3px

	.socials
		margin-left: 1.9%

	@include max-screen(1300px)
		.logo
			margin-right: 2%
		&__block
			margin-right: 2%
		.socials
			margin-left: 0

	@include max-screen($xl)
		.logo
			margin-right: auto
		&__block
			margin-right: 0
			padding-top: 0
			text-align: right
		.tel-link
			position: relative
			top: .2em

	@include max-screen($lg)
		padding-right: 20px



.home
	.header
		border-bottom: none



.logo
	max-width: 155px
	@include max-screen($sm)
		max-width: 100px
	@include max-screen(360px)
		max-width: 90px


/* location start */
.location
	font-size: 13px
	&__row
		align-items: center

	&__city
		position: relative
		z-index: 1

	&__toggle
		cursor: pointer
		display: inline-block
		padding-bottom: 1px
		border-bottom: 1px dashed currentColor
		transition: all .1s linear
		&:hover
			border-color: transparent

	&__hidden
		display: none
		padding: 13px 15px
		position: absolute
		left: 50%
		top: 100%
		margin-top: 10px
		transform: translateX(-50%)
		white-space: nowrap
		background: $white
		box-shadow: 0 5px 16px rgba(0, 0, 0, 0.07)
		transition: all .1s linear
		&::before
			content: ''
			display: block
			width: 14px
			height: 14px
			position: absolute
			left: 50%
			margin-left: -7px
			transform: rotate(45deg)
		&::before
			background: $white
			top: -5px
			z-index: 0
	&__link
		display: block
		padding: 3px 0
		color: $text-color
		&:hover
			color: $accent

	&.is-visible
		.location__toggle
			border-color: transparent
		.location__hidden
			display: block
/* location end */


.tel-link
	display: inline-block
	font-weight: 700
	letter-spacing: -.025em
	@include max-screen($xl)
		font-size: 22px
	@include max-screen($sm)
		font-size: 18px
	@include max-screen(370px)
		font-size: 16px



.menu
	flex: 1 0 0
	font-weight: 600
	font-size: 15px
	&__list
		align-items: center
		> li
			position: relative
			padding-right: 14px
			margin-right: 2.8%
			@include min-screen(1200px)
				&:hover
					.menu-arrow
						transform: rotate(-90deg)
					.submenu
						display: block
			@include max-screen(1300px)
				margin-right: 2.1%
		a
			display: block
			&:hover
				color: $accent

	&-toggle
		display: none
		width: 34px
		height: 21px
		margin-right: 5%
		position: relative
		transform: rotate(0deg)
		transition: transform .35s linear
		will-change: transform
		@include max-screen($xl)
			display: block
		@include max-screen($sm)
			width: 28px
	
	&-ic
		width: 100%
		height: 2px
		margin-top: -1px
		border-radius: 15px
		background-color: $black
		position: absolute
		top: 50%
		left: 0
		z-index: 10
		transition: all .25s
		&::before, &::after  
			content: ""
			width: 100%
			height: 2px
			position: absolute
			left: 0
			border-radius: 15px
			background-color: $black
			transition: all .25s					
		&::before
			top: -9px
		&::after 
			top: 9px

	&-arrow
		display: block
		width: 1em
		height: 1em
		position: absolute
		right: -4px
		top: .2em
		background: url('../img/ic-arrow.svg') no-repeat 50% 50% / .26em .5em
		transform: rotate(90deg)
		transition: all .2s linear
		&.--active
			transform: rotate(-90deg)

	@include max-screen($xl)
		display: block
		position: fixed
		top: 0
		left: 0
		bottom: 0
		z-index: 99
		width: 100%
		max-width: 500px
		max-height: 100vh
		overflow-x: hidden
		overflow-y: auto
		padding-top: 5em
		padding-bottom: 50px
		background: $white
		box-shadow: 0 0 29px rgba(0, 0, 0, 0.17)
		font-size: 22px
		will-change: transform
		transform: translate3d(-100%, 0, 0)
		opacity: 0
		visibility: hidden
		transition: all 0.4s linear
		&__list
			display: block
			> li
				margin: 0
				padding: 0 0 0 20px
				> a
					padding: .5em 0
		&-arrow
			font-size: 28px
			right: 15px
			top: .3em
		.header-btn
			margin: 1em 0 1em 16px
		.socials
			font-size: .8em
			margin-top: 20px
			padding-left: 16px
			li
				margin: 0 2em 0 0
	@include max-screen($sm)
		font-size: 18px






.menu-expanded 
	overflow: hidden
	.menu
		transform: translate3d(0, 0, 0)
		opacity: 1
		visibility: visible
	.menu-toggle
		z-index: 100
		transform: rotate(90deg)
	.menu-ic
		background: transparent
		&::before, &::after  
			top: 0
		&::before
			transform: rotate(-45deg)
		&::after 
			transform: rotate(45deg)




.submenu
	display: none
	padding: 13px 15px
	background: $white
	@include min-screen(1200px)
		width: 100%
		position: absolute
		top: 100%
		left: 0
		min-width: 150px
		box-shadow: 0 5px 16px rgba(0, 0, 0, 0.07)
		transform: translateY(15px)
		&::before
			content: ''
			display: block
			width: 100%
			height: 15px
			position: absolute
			z-index: 0
			left: 0
			bottom: 100%
	li
		&:not(:last-child)
			margin-bottom: .5em
	@include max-screen($xl)
		a
			padding: 0.25em 0



.f-menu
	width: 100%
	max-width: 420px
	position: fixed
	z-index: 11
	top: 30px
	right: 0
	will-change: transform
	transform-origin: 100% 50%
	transform: translate3d(100%, 0, 0)
	transition: transform .2s ease-out
	&.is-visible
		transform: translate3d(0, 0, 0)
	&__btn
		position: absolute
		right: 100%
		top: 8px
		font-size: 10px
		width: 2.9em
		height: 3.1em
		background: url('../img/ic-flag.png') no-repeat 100% 50% / 100%
		cursor: pointer

	&__hidden
		padding: 34px 50px 26px
		background: $white
		box-shadow: 0 0 65px rgba(0, 0, 0, 0.07)
	&__list
		justify-content: space-between
		li
			width: 80px
	&__link
		display: block
		&:hover
			color: $accent
	&__ic
		font-size: 10px
		width: 5.7em
		height: 5.5em
		margin-bottom: 1.8em
		display: flex
		align-items: flex-end
		justify-content: center
		.img
			max-height: 90%
	&__txt
		font-size: 15px
		font-weight: 600

	@include max-screen($xl)
		&__btn
			top: 4px

	@include max-screen($sm)
		max-width: calc(100% - 15px)
		&__btn
			top: 0
		&__hidden
			padding-left: 30px
			padding-right: 30px
		&__ic
			font-size: 8px
		&__txt
			font-size: 14px

	@include max-screen($sm)
		&.is-visible
			.f-menu__btn
				right: auto
				left: 0
				transform: scale(-1)









	