.hero-print
	overflow: hidden

	&__screen
		padding: 30px 0 0
		font-size: 10px
		overflow: visible
		@include max-screen($xl)
			text-align: center
			font-size: 9px
		@include max-screen($md)
			font-size: 8px

	.swiper-wrapper
		justify-content: space-between
		
	.swiper-slide
		&:first-child
			.hero-print__img .img
				transform: translateX(-39%)
		&:last-child
			.hero-print__img .img
				transform: translateX(-51%)
		@include min-screen(1200px)
			width: 33.33333%
			width: auto
		@include max-screen($xl)
			width: 45em

	&__img
		position: relative
		height: 50em
		.img
			font-size: 1em
			max-width: 50.3em
			max-height: 56em
			position: absolute
			bottom: 0
			left: 50%
			transform: translateX(-45%)
			z-index: -1
			@include max-screen($md)
				max-height: 50em


	&__item
		max-width: 30em
		margin: 0 auto
		// &-1
		// 	.img
		// 		left: -5em
		// 		bottom: -3em
		// 		max-height: calc(100% + 6em)
		// 		@include max-screen($md)
		// 			left: -2em
		// &-2
		// 	margin-left: auto
		// 	margin-right: auto
		// 	.img
		// 		left: -4em
		// 		bottom: 0
		// &-3, &-4
		// 	margin-left: auto
		// &-3
		// 	.img
		// 		left: -10em
		// 		bottom: 0
		// 		@include max-screen($md)
		// 			left: -11em
		// &-4
		// 	.img
		// 		left: -1em
		// 		bottom: 0
		// 	.hero-print__title
		// 		min-width: 300px
		// 		text-align: center
		// 	@include max-screen($md)
		// 		.img
		// 			left: -2em
		// 		.hero-print__title
		// 			min-width: 245px


	&__title
		margin-bottom: 1em
		font-size: 2.6em

	&__subtitle
		margin-bottom: .6em
		font-weight: 700
		@include max-screen($xl)
			font-size: 24px

	&__txt
		max-width: 16em
		opacity: 0.7
		@include max-screen($xl)
			margin-left: auto
			margin-right: auto
			br
				display: none




.print-popup
	position: relative
	&__hidden
		font-size: 1em
		width: 39.2em	
		padding: 3em 4em
		position: absolute
		bottom: 100%
		left: 50%
		transform: translateX(-50%)
		background-color: #f7f7f7
		border-radius: 4px
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.14)
		display: none
		&::after
			content: ''
			display: block
			width: 100%
			height: 100%
			width: 20px
			height: 20px
			border-radius: 4px
			transform: rotate(45deg)
			position: absolute
			z-index: 0
			left: 50%
			margin-left: -10px
			bottom: -4px
			background: $bg
	&:hover
		.print-popup__hidden
			display: block
	@include max-screen($md)
		&__hidden
			padding: 2em 1.5em


























