.partners
	@include max-screen($sm)
		overflow: hidden

	&__slider-wrap
		position: relative

	&__slider
		.swiper-wrapper
			align-items: center
		@include max-screen($sm)
			overflow: visible
















































	