.pricing
	@include max-screen($xl)
		background: $bg


	&__bg
		padding: 60px 0
		background: $bg
		border-radius: 4px
		@include max-screen($xl)
			background: none
			border-radius: 0
		@include max-screen($md)
			padding: 40px 0

	&__inner
		max-width: 986px
		margin: 0 auto



	&-table
		font-size: 14px
		text-align: center
		padding-bottom: 15px

		table
			width: 100%


		thead
			th
				font-weight: 400
			td,th
				padding-bottom: 22px
				border-bottom: 1px solid rgba($black, .2)
				&:first-child
					text-align: left

		tbody
			tr
				&:first-child
					th, td
						padding-top: 22px
			th, td
				padding: 5px 0
				vertical-align: top

		.pricing-table__divider
			th, td
				padding-bottom: 22px
				border-bottom: 1px solid rgba($black, .1)
			+ tr
				th, td
					padding-top: 22px


	&-format
		width: 300px
		text-align: left
		border-bottom: 1px solid rgba($black, .1)
		position: relative
		&__hint
			font-size: 10px
			width: 17.1em
			height: 17.1em
			padding: 3.5em
			background: #f7f7f7
			border-radius: 4px
			position: absolute
			z-index: 1
			top: 50%
			left: 50%
			transform: translate(-25%, -100%)
			box-shadow: $shadow
			display: none
			&::after
				content: ''
				display: block
				width: 100%
				height: 100%
				width: 20px
				height: 20px
				border-radius: 4px
				transform: rotate(45deg)
				position: absolute
				z-index: 0
				left: 50%
				margin-left: -10px
				bottom: -4px
				background: $bg
			.img
				max-height: 100%
		&:hover
			.pricing-format__hint
				display: block
		@include max-screen($xl)
			&__hint
				font-size: 9px
		@include max-screen($md)
			width: 200px
			&__hint
				font-size: 8px
		@include max-screen($sm)
			width: auto
			&__hint
				font-size: 7px
















	