.tabs
	@include max-screen($lg)
		overflow: hidden

	&-nav
		margin-bottom: 30px
		justify-content: center
		li
			margin: 0 10px 10px
		&__item
			padding: .5em 1em
			font-size: 18px
			font-weight: 700
			color: $accent
			background: $bg
			&.button
				border: none
				overflow: visible
			span
				transition: all .15s ease-out
				border-bottom: 1px dashed $accent
			&::after
				content: ''
				font-size: 1em
				display: block
				width: 1em
				height: 1em
				position: absolute
				z-index: -1
				left: calc(50% - .5em)
				bottom: -.3em
				border-radius: 2px
				background: $accent
				transform: rotate(45deg)
				visibility: hidden
				opacity: 0
				transition: all .15s 0s ease-out
			&:hover
				span
					border-bottom-color: transparent 
			&.is-active
				background: $accent
				color: $white
				position: relative
				&::after
					visibility: visible
					opacity: 1
					transition-delay: .05s
		
		@include max-screen($md)
			li
				margin: 0 10px 10px
			&__item
				width: 100%
				padding: .7em 1em

		&--white
			.tabs-nav__item:not(.is-active)
				background: $white

	&-slider-wrap
		position: relative

	&-slider
		&__img
			font-size: 10px
			height: 56.9em
			border-radius: 4px
			overflow: hidden
		@include max-screen($lg)
			overflow: visible
			.swiper-slide
				max-width: 80%
			&__img
				font-size: 1.4vw
				max-height: 569px


















	