.testimonials

	&__slider
		padding-top: 25px

		.swiper-wrapper
			@include min-screen(1200px)
				width: auto
				box-sizing: border-box
				display: flex
				flex-wrap: wrap
				margin: 70px -15px -30px
		
		.swiper-slide
			@include min-screen(1200px)
				width: 33.33333%
				height: auto
				margin-bottom: 30px
				padding: 0 15px
	
	&-dots
		@include min-screen(1200px)
			display: none
			margin-top: 20px


.testimonial
	height: 100%
	padding: 95px 56px 56px
	position: relative
	background: $bg
	border-radius: 4px
	&::after
		content: ''
		display: block
		font-size: 10px
		width: 3.9em
		height: 2.7em
		position: absolute
		right: 3em
		top: 2.8em
		background: url('../img/ic-quotes.svg') no-repeat 50% 50% / 100%
		opacity: 0.1

	&__img
		font-size: 10px
		width: 8em
		height: 8em
		border-radius: 50%
		overflow: hidden
		position: absolute
		top: -2.1em

	&__txt
		font-weight: 700
	
	&__author
		opacity: 0.7

	@include max-screen($xl)
		padding: 80px 30px 30px
	@include max-screen($sm)
		padding-top: 75px
		&__img
			font-size: 9px

































