// cloth
section.section.cloth

	.container
		h2.title-2.text-center На чём печатаем?

		.cloth__slider-wrap
			.cloth__slider.swiper-container

				.swiper-wrapper

					-
						var cloth = [
							{
								"img": "img/content/img-cloth-1.jpg",
								"title": "Футболка мужская",
								"txt": "1шт. —  <strong>500Р</strong>   >500шт. — <strong>292Р</strong>"
							},
							{
								"img": "img/content/img-cloth-2.jpg",
								"title": "Футболка женская",
								"txt": "1шт. —  <strong>500Р</strong>   >500шт. — <strong>292Р</strong>"
							},
							{
								"img": "img/content/img-cloth-3.jpg",
								"title": "Толстовка унисекс",
								"txt": "1шт. —  <strong>1 400Р</strong>   >500шт. — <strong>845Р</strong>"
							},
							{
								"img": "img/content/img-cloth-4.jpg",
								"title": "Свитшот унисекс",
								"txt": "1шт. —  <strong>1 650Р</strong>   >500шт. — <strong>1 195Р</strong>"
							},
							{
								"img": "img/content/img-cloth-4.jpg",
								"title": "Свитшот унисекс",
								"txt": "1шт. —  <strong>1 650Р</strong>   >500шт. — <strong>1 195Р</strong>"
							}
						]
					each item in cloth
						
						.swiper-slide
							.cloth__item
								.cloth__img
									img.img(src= item.img, alt="alt")
								.cloth__title.txt-1= item.title
								.cloth__txt.txt-2 !{item.txt}
							// /.cloth__item

			// /.cloth__slider

			+slider-prev('cloth-prev hide-xl')
			+slider-next('cloth-next hide-xl')
			
		// /.cloth__slider-wrap

		+slider-dots('cloth-dots')


		+more('Смотреть весь текстиль', "textile.html")
		

	// /.container

// /.cloth