// hero
section.hero

	.container
		

		.hero__row.flex

			.hero__col.hero__col-1-2
				a.hero-block.hero-block-1(href="#", style="background-image: url('../img/bg-hero-1.jpg')")
					.title-1 Печать<br> на футболках<br> от 1 штуки
					p.hero-block__txt.txt-1 Напечатать<br> одну футболку со своим дизайном за 20 минут

				// /.hero-block
			// /.hero__col.hero__col-1-2

			.hero__col.hero__col-1-2
				a.hero-block.hero-block-2(href="#", style="background-image: url('../img/bg-hero-2.jpg')")
					.title-1 Заказать<br> мерч
					p.hero-block__txt.txt-1 Брендируем футболки<br> и толстовки для компаний, фестивалей и артистов.

				// /.hero-block
			// /.hero__col.hero__col-1-2

			.hero__col.hero__col-3-4
				a.hero-block.hero-block-3(href="#", style="background-image: url('../img/bg-hero-3.jpg')")
					.title-1.hero-block-3__title Счастливые часы
					p.hero-block__txt.txt-1.hero-block-3__txt.badge
						span.badge-sub в принтерии 
							span.nowrap на Коломяжском, 26 
					.title-3 2 принта  по цене 1

				// /.hero-block
			// /.hero__col.hero__col-3-4

			.hero__col.hero__col-1-4
				a.hero-block.hero-block-4(href="#")
					.hero-block-4__title.title-3 Конструктор футболок
					img.img(src="img/img-hero-4.svg", alt="alt")

				// /.hero-block
			// /.hero__col.hero__col-1-4


		// /.hero__row.flex




	// /.container

// /.hero