.section.article


	.container

		.article-header
			.article-header__author
				.txt-2.subcolor Автор: 
				.txt-1.fw-bold Иванова Екатерина
			.txt-1.fw-bold
				p Гостья сегодняшней рубрики #ПРИНТСОВЕТ поднимет очень знакомую многим творческим людям тему. О том, как перестать обманывать себя и начать искать свой путь расскажет иллюстратор Варвара Якубаш, преподаватель онлайн-школы скетчинга и рисования и участник творческого арт-комьюнити без снобизма:
				br
				p Привет! Я Варя Якубаш, графический дизайнер и иллюстратор.
		// /.article-header

		h2 О начале пути иллюстратора
		br
		p Моя история классическая. С детства рисовала, увлекалась хенд мейдом, но это<br> не выходило за рамки дополнительных уроков рисования при школе, участия<br> в творческих конкурсах и создания плакатов. Училась хорошо, но совершенно<br> не представляла, чем заниматься после школы. Мне хотелось чего-то творческого, но конкретного представления не было так же как и художественной школы за плечами или тематических курсов для поступления в художественный ВУЗ.
		br
		p И вот я поступаю на кафедру Экономики и бухучёта и учусь 2 года на бухгалтера. Радуюсь, что всего два года, потому что мне не нравится всё, а особенно предмет бухучета, я рисую на полях тетрадей и грежу о чём-то другом, но жизнь продолжается, и, в общем, дебет с кредитом не бьётся. Заканчиваю колледж, иду работать по образованию, переживаю, что училась не в ВУЗе и что у меня закончен только колледж. В тот момент мне было важно высшее, и я всё так же была<br> в странном состоянии дискомфорта от того, как я живу и чем занимаюсь.<br> Была попытка поучиться на заочке в продолжение экномического образования,<br> но она провалилась.
		br
		p В какой-то момент я пришла к мысли, что больше так не могу: думать, осознавать, что моя жизнь сейчас такая и будет такой далее, что я просиживаю, упускаю её с 10 до 17 и живу только после работы и по выходным, что меня трясёт по воскресеньям и понедельникам до истерики, что я выполняю чью-то мечту, что мне никогда не быть хорошим бухгалтером, потому что нет страсти, стремления и самое главное - желания, а ведь это грустно, мне не хотелось так.
		br
		blockquote Я выбирала, куда можно поступить, смотрела условия, ценник, предметы. Представление было всё таким же абстрактным, настолько этот другой мир был далёк от меня. Мне кажется, сейчас намного больше информации, курсов длительных, коротких, дорогих, не очень дорогих и т.д. 
		br
		p Я выбирала, куда можно поступить, смотрела условия, ценник, предметы. Представление было всё таким же абстрактным, настолько этот другой мир был далёк от меня. Мне кажется, сейчас намного больше информации, курсов длительных, коротких, дорогих, не очень дорогих и т.д. Меня привлекли предметы по живописи, рисунку, истории искусства, проектированию и, уже начав обучение, только тогда я поняла, что это то самое, чего мне так не хватало, без чего я задыхалась. Пазл сложился. Вот от этого обучения я кайфовала!
		br
		p Не всё, конечно, было радужным. Многие предметы бесили – зачем мне экономика для чайников, когда в колледже этот предмет был в разы сильнее? Или предметы БЖД, русский и проч. для общего образования? Когда ты уже поучился и продолжаешь параллельно работать, то воспринимаешь такие предметы как потерю времени. Я продолжала работать бухгалтером, потому что мне нужен был стабильный заработок и во мне жил страх, что я не смогу заработать как дизайнер. Всё равно позже я поняла, что моё учебное заведение дало мне маловато и слишком много пришлось навёрстывать, но зато поступление туда стало началом пути.
		br
		br

		.article-slider-wrap
			.article-slider.swiper-container
				.swiper-wrapper
					.swiper-slide
						.tabs-slider__img
							img.img.img--cover(src="img/content/img-tabs-1.jpg", alt="alt")
					.swiper-slide
						.tabs-slider__img
							img.img.img--cover(src="img/content/img-tabs-2.jpg", alt="alt")
					.swiper-slide
						.tabs-slider__img
							img.img.img--cover(src="img/content/img-tabs-1.jpg", alt="alt")
			// /.article-slide
			+slider-prev('article-slider-prev hide-xl')
			+slider-next('article-slider-next hide-xl')
		// /.article-slider-wrap
		+slider-dots('article-slider-dots')

		br
		br

		h2 О подготовке принтов для печати

		br
		br

		p На мой взгляд, любая печать — особенная. Нет единого рецепта для подготовки изображения в журнал, на футболку и на воздушный шар. Будучи иллюстратором<br> я часто сталкиваюсь с ужасами предпечатной подготовки на разных фабриках.<br> И правила игры у немецкой двухсотлетней типографии и у копицентра за углом абсолютно разные! Само собой, все зависит от способов печати, ведь на крупной фабрике это может быть оффсет или шелкография, а в центре печати, где вы закажете двадцать экземпляров открытки — цифровая печать. Да, скучная информация, но для человека, который хочет видеть свои творения напечатанными, важная!
		br
		p Всех передряг с цветом легко избежать рисуя, например, черно-белую графику<br> с локальным включением цвета — тогда промахнуться будет практически невозможно. Если же вы выбираете тонкую настройку цветов, если в вашей палитре есть десять оттенков изумрудного и три кислотно-желтых, то лучше будет сделать тестовую печать. Никакие «цветопробы» в Photoshop не покажут вам, как та или иная картинка будет выглядеть при печати на определенном принтере. К счастью, в мире профессионалов есть хорошие предпечатники, которые получают информацию свыше и могут лучше любого иллюстратора предугадать, где ваш синий уйдет<br> в зеленый, а фиолетовый превратится в черный. Поэтому, если есть возможность проконсультироваться у такого человека — хватайтесь за нее не раздумывая! Скорее всего он даст вам более осмысленный ответ, чем страдающий иллюстратор)

		br
		br
		.article-frame
			<iframe src="https://www.youtube.com/embed/nnIytYVCKp0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		br
		br
		h2 О вдохновении
		br
		p Думаю, это вечный вопрос. В разное время вдохновляют разные темы: вчера это мог быть последний показ Gucci, а сегодня запуск SpaceX Илона Маска. Пожалуй, если подвести общий знаменатель, параллель этого вопроса будет следующей: «Что заставляет вас влюбляться?». Мне кажется, вдохновение и влюбленность — мелодии одного мотива. Они настолько неуловимы, ветрены и хрупки, что объяснить их практически не представляется возможным. Сейчас меня вдохновляет фантастика двадцатого века и место, где я застряла из-за пандемии — солнечный серферский городок на Южном Синае. Что будет завтра? Кто знает!

	// /.container


// /.article


