section.section.blog-hero


	.container

		.article-title.flex
			h1.title-1 ПРИНТСОВЕТ #6: Варвара Якубаш
			a.article-back.txt-1(href="blog.html") Назад

		.blog-hero__banner(style="background-image: url('img/content/bg-blog-2.jpg')")

			.blog-date.txt-1 01.02.20
			a(href="#").blog-tag.txt-2 Новости

			h2.title-2 Из бухгалтерии в векторную иллюстрацию.

		// /.blog-hero__banner

	// /.container


// /.blog


