.section.wholesale-blockquote


	.container

		.wholesale-blockquote__inner

			.txt-1.fw-bold
				p Печатайте корпоративный мерч или брендируйте форму своим сотрудникам.<br> Создавайте одежду со своими изображениями, картинками и надписями.
				p Просто отправьте запрос и мы всё сделаем: создадим дизайн, подберем текстиль, напечатаем принты и быстро доставим готовую продукцию.

			.wholesale-blockquote__logo.flex
				img.img(src="img/logo-ic.png", alt="alt")
				.txt-2.subcolor Компания «яМайка»
			
		
		// /.wholesale-blockquote__inner

	// /.container


// /.wholesale-blockquote

