// cloth
section.section.cloth

	.container
		+section-title('Выберите текстиль')

		.cloth__slider-wrap
			.cloth__slider.swiper-container

				.swiper-wrapper

					-
						var cloth = [
							{
								"img": "img/content/img-cloth-1.jpg",
								"title": "Футболка мужская",
								"txt": "1шт. —  <strong>500Р</strong>   >500шт. — <strong>292Р</strong>"
							},
							{
								"img": "img/content/img-cloth-2.jpg",
								"title": "Футболка женская",
								"txt": "1шт. —  <strong>500Р</strong>   >500шт. — <strong>292Р</strong>"
							},
							{
								"img": "img/content/img-cloth-3.jpg",
								"title": "Толстовка унисекс",
								"txt": "1шт. —  <strong>1 400Р</strong>   >500шт. — <strong>845Р</strong>"
							},
							{
								"img": "img/content/img-cloth-4.jpg",
								"title": "Свитшот унисекс",
								"txt": "1шт. —  <strong>1 650Р</strong>   >500шт. — <strong>1 195Р</strong>"
							},
							{
								"img": "img/content/img-cloth-4.jpg",
								"title": "Свитшот унисекс",
								"txt": "1шт. —  <strong>1 650Р</strong>   >500шт. — <strong>1 195Р</strong>"
							}
						]
					each item in cloth
						
						.swiper-slide
							.cloth__item
								.cloth__img
									img.img(src= item.img, alt="alt")
								.cloth__title.txt-1= item.title

								.cloth-pricing
									.cloth-pricing__txt.txt-1.hide-xl Цена
									.cloth-hidden.txt-2
										.cloth-hidden__title Цены на бланковый текстиль, без печати
										.cloth-hidden__table
											table
												tbody
													tr
														td Цвет
														td 1 шт.
														td 20 – 49
														td 50 – 99
														td >100
														td >300
														td >500
													tr
														td Всех цветов
														th 1 650 Р
														th 1 395 Р
														th 1 345 Р
														th 1 296 Р
														th 1 245 Р
														th 1 195 Р

								// /.cloth-pricing
							// /.cloth__item

			// /.cloth__slider

			+slider-prev('cloth-prev hide-xl')
			+slider-next('cloth-next hide-xl')
			
		// /.cloth__slider-wrap

		+slider-dots('cloth-dots')


		+more('Смотреть весь текстиль')
		

	// /.container

// /.cloth