section.p-hero.wholesale
	.container
		

		.wholesale__row.f-row

			.wholesale__col.f-col
				h1.title-1.wholesale__title Печать на футболках, толстовках<br> и свитшотах оптом
				.wholesale__accent.txt-1.badge
					span.badge-sub Наша специализация — качественная печать по текстилю

				.wholesale-list

					.wholesale-list__row.f-row

						-
							var wholesale = [
								{
									"img": "ic-wholesale-1.svg",
									"title": "Свой швейный цех",
									"txt": "Предложим большой выбор футболок, толстовок, свитшотов или пошьем текстиль под ваш заказ"
								},
								{
									"img": "ic-wholesale-2.svg",
									"title": "Печатное производство",
									"txt": "Оптовые цены на тираж в 20 изделий с одинаковым принтом. Печать шелкографией, DTG. Дизайн. Упаковка. Доставка"
								},
								{
									"img": "ic-wholesale-3.svg",
									"title": "Лучшее качество печати",
									"txt": "1-ое место в номинации «T-Shirt and Garments» на международном конкурсе FESPA AWARDS в 2018 и 2019"
								}
							]
						each item in wholesale
							.wholesale-list__col.f-col
								.wholesale-list__item
									.wholesale-list__img
										img.img(src= "img/content/" + item.img , alt="alt")
									.wholesale-list__content
										.wholesale-list__title.txt-1= item.title
										.wholesale-list__txt.txt-2.subcolor
											p !{item.txt}
									
							// /.wholesale-list__col.f-row

					// /.wholesale-list__row.f-row

				// /.wholesale-list



			// /.wholesale__col.f-col





			.wholesale__col.f-col.hide-xl
				.wholesale__img
					img.img(src="img/content/img-wholesale-1.jpg", alt="alt")
			// /.wholesale__col.f-col




		// /.wholesale__row.f-row

		.wholesale__btns.flex
			a.button.button--bd.button--lg(href="#") Заказать расчёт тиража
			a.button.button--bd.button--lg(href="#") Скачать прайс-лист

	// /.container


// /.p-hero.wholesale

