section.section.wholesale-steps


	.container


		h2.title-2.text-center Порядок работы<br> с корпоративными клиентами


		.wholesale-steps__row.f-row

			-
				var wsteps = [
					{
						"title": "Согласование заказа",
						"txt": "Отправьте заявку, и менеджер подберёт для вашего тиража оптимальный метод печати. Мы печатаем как на текстиле своего производства,<br> так и на материалах заказчика.<br> Можем пошить изделия под ваш заказ или обеспечить лучшие цены от наших поставщиков."
					},
					{
						"title": "Договор и оплата",
						"txt": "После подписания договора мы выставим счёт. Со всеми клиентами мы работаем по 100% предоплате.<br> Оплатить заказ можно по безналичному расчёту или наличными в офисах компании."
					},
					{
						"title": "Производство и доставка",
						"txt": "После оплаты заказ уходит<br> в производство. Этот процесс занимает от 3 до 5 рабочих дней.<br> Вы можете приехать к началу печати для согласования образца. Готовые изделия мы упакуем и доставим в согласованное с вами время. Также вы можете забрать тираж самостоятельно."
					}
				]
			each item in wsteps
				.wholesale-steps__col.f-col

					.wholesale-step
						.wholesale-step__title.txt-1.fw-bold !{item.title}
						.txt-2.subcolor !{item.txt}

				// /.wholesale-steps__col.f-col



		// /.wholesale-steps__row.f-row

		+more('Заказать расчёт тиража')


	// /.container


// /.wholesale-steps

