// contacts
section.contacts

	.container


		.contacts__row.flex

			.contacts__col
				h2.title-2.contacts__city Санкт-Петербург

				.contacts__subrow.flex

					.contacts__subcol

						.contacts__title.txt-1 Принтерии
						p.contacts__subtxt.txt-2 Срочная печать от 1 штуки

						a.tel-link.txt-1(href="tel:+78124907580") +7 (812) 490-75-80

						address.contacts__addr.txt-2 Ул. Марата, д. 28<br> Коломяжский пр., д. 26
						p.contacts__subtxt.txt-2 Работаем для вас<br> без выходных с 11:00—21:00


					// /.contacts__subcol

					.contacts__subcol

						.contacts__title.txt-1 Оптовый отдел
						p.contacts__subtxt.txt-2 Несрочная печать от 20 штук

						a.tel-link.txt-1(href="tel:+78124907580") +7 (812) 490-75-80

						p.contacts__subtxt.txt-2 Работаем для вас<br> с Пн по Пт с 10:00 — 18:30


					// /.contacts__subcol

				// /.contacts__subrow.flex

			// /.contacts__col

			.contacts__col
				h2.title-2.contacts__city Москва

				.contacts__subrow.flex

					.contacts__subcol

						.contacts__title.txt-1 Принтерии
						p.contacts__subtxt.txt-2 Срочная печать от 1 штуки

						a.tel-link.txt-1(href="tel:+74956460575") +7 (495) 646-05-75

						address.contacts__addr.txt-2 Новоспасский пер., д.3, к.2
						p.contacts__subtxt.txt-2 Работаем для вас<br> без выходных с 11:00—21:00


					// /.contacts__subcol

					.contacts__subcol

						.contacts__title.txt-1 Оптовый отдел
						p.contacts__subtxt.txt-2 Несрочная печать от 20 штук

						a.tel-link.txt-1(href="tel:+74995209892") +7 (499) 520-98-92

						p.contacts__subtxt.txt-2 Работаем для вас<br> без выходных с 10:00—18:30


					// /.contacts__subcol

				// /.contacts__subrow.flex

			// /.contacts__col


		// /.contacts__row.flex





	// /.container

// /.contacts