section.section.discounts
	.container

		.discounts__slider-wrap
			.discounts__slider.swiper-container
				.swiper-wrapper
					- for(let i = 0; i < 3; i++)
						.swiper-slide
							a.hero-block.hero-block-3(href="#", style="background-image: url('../img/bg-hero-3-1.jpg')")
								.title-1.hero-block-3__title Счастливые часы
								p.hero-block__txt.txt-1.hero-block-3__txt.badge
									span.badge-sub в принтерии 
										span.nowrap на Коломяжском, 26
								.title-3 2 принта  по цене 1

				// /.swiper-wrapper
			// /.discounts__slider.swiper-container

			+slider-dots('slider-dots--white discounts-dots')
		// /.discounts__slider-wrap











			