// footer
footer.footer

	.container

		.footer__row.flex

			-
				var footer = [
					{
						"title": "О нас",
						"links": [
							'О компании яМайка',
							'Блог и новости',
							'Галерея',
							'Отзывы клиентов',
							'Акции и скидки',
							'Вакансии'
						]
					},
					{
						"title": "Клиентам",
						"links": [
							'Правила оказания услуг',
							'Как подготовить макет',
							'Правила ухода за текстилем',
							'Прейскурант',
							'Доставка'
						]
					},
					{
						"title": "Услуги",
						"links": [
							'Шелкография',
							'Термоперенос',
							'Прямая печать',
							'Пошив текстиля',
							'Производство мерча'
						]
					},
				]
			each item in footer
				.footer__col
					.footer__title.txt-1= item.title
					ul.footer__list.list.txt-2
						each link in item.links
							li 
								a.footer__link(href="#") #{link}
				// /.footer__col

			.footer__col
				.footer__mes.txt-1 Печатаем на футболках,<br> то что хотите вы!

				+socials(['vk', 'insta', 'fb', 'youtube'], 'white')

				.hide-md
					.footer__logo
						img.img(src="img/logo-ic.png", alt="alt")
					p.copy.txt-2 &copy; яМайка 2020
					.designer.txt-2 Дизайн сайта — 
						a(href="http://goga.spb.ru/", target="_blank") goga.spb.ru
			// /.footer__col

			.footer__bottom.flex.show-md
				.footer__logo
					img.img(src="img/logo-ic.png", alt="alt")
				.footer__bottom-col
					p.copy.txt-2 &copy; яМайка 2020
					.designer.txt-2 Дизайн сайта — 
						a(href="http://goga.spb.ru/", target="_blank") goga.spb.ru


		// /.footer__row.flex

	// /.container

	.footer__tag #imaikacorp

// /.footer



//- div(style="height: 20vh;")

include ../pug-modules/modal-callback




























