// header
header.header

	.container


		.header__row.flex

			.menu-toggle
				.menu-ic

			+logo

			.header__block

				.location.hide-xl
					.location__row.flex
						.location__city
							span.location__toggle Санкт-Петербург
							.location__hidden
								ul.location__list.list
									li
										a.location__link(href="#") Москва
									li
										a.location__link(href="#") Санкт-Петербург
									li
										a.location__link(href="#") Воронеж
									li
										a.location__link(href="#") Ростов-на-Дону
				a.tel-link(href="tel:+78124907580") +7 (812) 490-75-80

			nav.menu

				ul.menu__list.flex.list
					-
						var menu = [
							{
								"link": "Печать от 1 штуки",
								"href": "single.html",
								"submenu": [
									{
										"link": "Ссылка 1",
										"href": "#"
									},
									{
										"link": "Ссылка 2",
										"href": "#"
									},
									{
										"link": "Ссылка 3",
										"href": "#"
									}
								]
							},
							{
								"link": "Печать оптом",
								"href": "wholesale.html",
								"submenu": [
									{
										"link": "Ссылка 1",
										"href": "#"
									},
									{
										"link": "Ссылка 2",
										"href": "#"
									},
									{
										"link": "Ссылка 3",
										"href": "#"
									}
								]
							},
							{
								"link": "Текстиль",
								"href": "textile.html",
								"submenu": [
									{
										"link": "Ссылка 1",
										"href": "#"
									},
									{
										"link": "Ссылка 2",
										"href": "#"
									},
									{
										"link": "Ссылка 3",
										"href": "#"
									}
								]
							},
							{
								"link": "Цены",
								"href": "price.html"
							},
							{
								"link": "Контакты",
								"href": "contacts.html"
							},
							{
								"link": "Ещё",
								"href": "#",
								"submenu": [
									{
										"link": "Методы печати",
										"href": "methods.html"
									},
									{
										"link": "Шелкография",
										"href": "silk.html"
									},
									{
										"link": "Отзывы",
										"href": "testimonials.html"
									},
									{
										"link": "Блог",
										"href": "blog.html"
									}
								]
							}
						]
					each item in menu
						li
							a(href= item.href)= item.link
							if item.submenu
								span.menu-arrow
								ul.submenu.list
									- for(let i = 0; i < item.submenu.length; i++)
										li
											a(href= item.submenu[i].href)= item.submenu[i].link

				a.button.button--bg.button--sm.header-btn.show-xl(href="#") Онлайн-заказ
				+socials(['vk', 'insta', 'fb'], 'accent', 'show-xl')

			// /.menu

			a.button.button--bg.button--sm.header-btn.hide-xl(href="https://online.i-maika.ru/", target="_blank") Онлайн-заказ
			
			+socials(['vk', 'insta', 'fb'], 'accent', 'hide-xl')
		// /.header__row.flex

		.f-menu
			.f-menu__btn
			.f-menu__hidden
				ul.f-menu__list.flex.list
					-
						var fmenu = [
							{"ic": "img/ic-menu-1.svg", "txt": "Заказать звонок", "href": "#callback", "class": "js-open-modal"},
							{"ic": "img/ic-menu-2.svg", "txt": "Рассчитать заказ", "href": "price.html"},
							{"ic": "img/ic-menu-3.svg", "txt": "Отправить запрос", "href": "#callback", "class": "js-open-modal"}
						]
					each item in fmenu
						li
							a.f-menu__link(href= item.href, class= item.class)
								.f-menu__ic
									img.img(src= item.ic, alt="alt")
								.f-menu__txt= item.txt

	// /.container

// /.header









