// hero-print
section.section.hero-print

	.container
		h2.title-2.text-center Что печатаем?


		.hero-print__screen.swiper-container

			.swiper-wrapper

				-
					var prints = [
						{
							"img": "img/img-print-1.png",
							"title": "Надпись/Номер",
							"subtitle": "Термоперенос",
							"txt": "Если нужно пронумеровать форму<br> или нанести надпись"
						},
						{
							"img": "img/img-print-3.png",
							"title": "Много футболок",
							"subtitle": "Шелкография",
							"txt": "Наиболее выгодный способ нанесения принтов"
						},
						{
							"img": "img/img-print-2.png",
							"title": "Фото/Иллюстрация",
							"subtitle": "Прямая печать",
							"txt": "Прямая печать — лучший способ для печати фоток на текстиле"
						},
					]
				each item, i in prints
					
					.swiper-slide
						.hero-print__item
							.hero-print__img
								img.img(src= item.img, alt="alt")
							.print-popup
								h3.hero-print__title.accent= item.title 
								.print-popup__hidden.subcolor
									p.txt-2 Печать по белому и светлому текстилю осуществляется сразу по ткани, без подложки.<br> При печати краска проникает напрямую<br> в волокна ткани, а это делает принт максимально устойчивым к стиркам.
									p.txt-2 Изображения получаются яркими и четкими, сохраняются градиенты, задуманные в макете.<br> Максимальный размер печати: 40х45 см.

							.hero-print__subtitle.txt-1= item.subtitle
							.hero-print__txt.txt-2 !{item.txt}
						// /.hero-print__item

		// /.hero-print__screen

		

	// /.container

// /.hero-print