// partners
section.section.partners

	.container
		if title == 'Ямайка - Печать оптом'
			h2.title-2.text-center Нам доверяют:
		else
			h2.title-2.text-center Наши клиенты: 

		.partners__slider-wrap

			.partners__slider.swiper-container
				.swiper-wrapper
					-
						var partners = [
							{"img": "img/content/img-partners-1.jpg"},
							{"img": "img/content/img-partners-2.jpg"},
							{"img": "img/content/img-partners-3.jpg"},
							{"img": "img/content/img-partners-4.jpg"},
							{"img": "img/content/img-partners-5.jpg"},
							{"img": "img/content/img-partners-3.jpg"},
						]
					each item in partners
						.swiper-slide

							.partner
								.partner__img.flex-center
									img.img(src= item.img, alt="alt")
							// /.partner

				// /.swiper-wrapper
			// /.partners__slider

			+slider-prev('partners-prev hide-xl')
			+slider-next('partners-next hide-xl')

		// /.partners__slider-wrap

		+slider-dots('partners-dots')


	// /.container

// /.partners