section.section.pricing.js-tab-wrapper


	.container

		.pricing__bg

			.pricing__inner
				
				if title != 'Ямайка - Стоимость'
					+section-title('А что с ценами?')

				ul.tabs-nav.flex.list.tabs-nav--white
					li
						button.button.tabs-nav__item.js-tab.is-active(data-hidden=".pricing-table-1")
							span Цены на термоперенос 
					li
						button.button.tabs-nav__item.js-tab(data-hidden=".pricing-table-2")
							span Цены на прямую печать
					li
						button.button.tabs-nav__item.js-tab(data-hidden=".pricing-table-3")
							span Цены на шелкографию
					li
						button.button.tabs-nav__item.js-tab(data-hidden=".pricing-table-4")
							span Цены на текстиль
				
				.pricing-tables

					.js-tab-item.pricing-table.pricing-table-1
						table
							thead
								tr.subcolor
									th Формат
									th Цветность
									th Тираж
									th(colspan="3")
							tbody
								tr.subcolor
									td(colspan="2")
									td 1
									td 20
									td 30
									td 50
								tr
									td.pricing-format(rowspan="3")
										.title-3 A6
										.subcolor 10x15см
										.pricing-format__hint
											img.img(src="img/img-format-1.png", alt="alt")
									td 1
									th 200 Р
									th 122 Р
									th 108 Р
									th 98 Р
								tr
									td 2
									th 200 Р
									th 158 Р
									th 141 Р
									th 123 Р
								tr.pricing-table__divider
									td 3
									th 200 Р
									th 183 Р
									th 162 Р
									th 156 Р
								tr
									td.pricing-format(rowspan="3")
										.title-3 A5
										.subcolor 15x20см
										.pricing-format__hint
											img.img(src="img/img-format-1.png", alt="alt")
									td 1
									th 300 Р
									th 183 Р
									th 162 Р
									th 143 Р
								tr
									td 2
									th 300 Р
									th 219 Р
									th 295 Р
									th 170 Р
								tr.pricing-table__divider
									td 3
									th 300 Р
									th 243 Р
									th 216 Р
									th 189 Р
								tr
									td.pricing-format(rowspan="3")
										.title-3 A4
										.subcolor 20x30см
										.pricing-format__hint
											img.img(src="img/img-format-1.png", alt="alt")
									td 1
									th 400 Р
									th 243 Р
									th 216 Р
									th 189 Р
								tr
									td 2
									th 400 Р
									th 311 Р
									th 276 Р
									th 242 Р
								tr.pricing-table__divider
									td 3
									th 400 Р
									th 365 Р
									th 324 Р
									th 284 Р
								tr
									td.pricing-format(rowspan="3")
										.title-3 A3
										.subcolor 30x42см
										.pricing-format__hint
											img.img(src="img/img-format-1.png", alt="alt")
									td 1
									th 500 Р
									th 325 Р
									th 281 Р
									th 246 Р
								tr
									td 2
									th 500 Р
									th 399 Р
									th 354 Р
									th 311 Р
								tr.pricing-table__divider
									td 3
									th 500 Р
									th 486 Р
									th 432 Р
									th 378 Р

					// /.pricing-table


				// /.pricing-tables

				.more-btn
					a.button.button--bd.button--lg(href="optovyi_prais_09_11_20.pdf", target="_blank") Скачать прайс-лист

			// /.pricing__inner

		// /.pricing__bg


	// /.container


// /.pricing

