.section.tabs.js-tab-wrapper

	.container

		if tabsTitle == true
			h2.title-2.text-center Печатаем то, что хотите вы

		ul.tabs-nav.flex.list
			li
				button.button.tabs-nav__item.js-tab.is-active(data-hidden=".tabs-hiddden-1")
					span Люди в футболках 
			li
				button.button.tabs-nav__item.js-tab(data-hidden=".tabs-hiddden-2")
					span Принты вблизи
			li
				button.button.tabs-nav__item.js-tab(data-hidden=".tabs-hiddden-3")
					span Процесс печати

		.tabs-slider-wrap

			.js-tab-item.tabs-hiddden-1

				.tabs-slider.swiper-container
					.swiper-wrapper
						.swiper-slide
							.tabs-slider__img
								img.img.img--cover(src="img/content/img-tabs-1.jpg", alt="alt")
						.swiper-slide
							.tabs-slider__img
								img.img.img--cover(src="img/content/img-tabs-2.jpg", alt="alt")
						.swiper-slide
							.tabs-slider__img
								img.img.img--cover(src="img/content/img-tabs-1.jpg", alt="alt")
					// /.swiper-wrapper
				// /.tabs-slider.swiper-container

			// /.js-tab-item

			.js-tab-item.tabs-hiddden-2

				.tabs-slider.swiper-container
					.swiper-wrapper
						.swiper-slide
							.tabs-slider__img
								img.img.img--cover(src="img/content/img-tabs-2.jpg", alt="alt")
						.swiper-slide
							.tabs-slider__img
								img.img.img--cover(src="img/content/img-tabs-1.jpg", alt="alt")
						.swiper-slide
							.tabs-slider__img
								img.img.img--cover(src="img/content/img-tabs-2.jpg", alt="alt")
					// /.swiper-wrapper
				// /.tabs-slider.swiper-container
	
			// /.js-tab-item

			.js-tab-item.tabs-hiddden-3

				.tabs-slider.swiper-container
					.swiper-wrapper
						.swiper-slide
							.tabs-slider__img
								img.img.img--cover(src="img/content/img-tabs-1.jpg", alt="alt")
						.swiper-slide
							.tabs-slider__img
								img.img.img--cover(src="img/content/img-tabs-2.jpg", alt="alt")
					// /.swiper-wrapper
				// /.tabs-slider.swiper-container
		
			// /.js-tab-item


			+slider-prev('tabs-prev hide-xl')
			+slider-next('tabs-next hide-xl')
			+slider-dots('tabs-dots')


		// /.tabs-slider-wrap

	// /.container


// /.tabs


