// testimonials
section.section.testimonials

	.container
		h2.title-2.text-center Лучше всего о нашей работе расскажут клиенты

		.testimonials__slider.swiper-container
			.swiper-wrapper
				-
					var testimonials = [
						{
							"img": "img/content/img-testimonial-1.jpg",
							"txt": "Большое спасибо «яМайке» за качественную работу уже на протяжении четырёх лет. Товар всегда высокого уровня, поставки в срок.",
							"author": "Союз талантов"
						},
						{
							"img": "img/content/img-testimonial-2.jpg",
							"txt": "Спасибо ребятам из \"яМайки\" — всегда выручат и оперативно все напечатают. Товар всегда высокого уровня, поставки в срок.",
							"author": "Рекламное агентство Modul Pro"
						},
						{
							"img": "img/content/img-testimonial-3.jpg",
							"txt": "Товар всегда высокого уровня, поставки в срок. Спасибо команде \"яМайка\" за оперативность, отзывчивость и решение самых сложных задач! ",
							"author": "Event-агентство \"Директория\""
						}
					]
				each item in testimonials
					.swiper-slide

						.testimonial
							.testimonial__img.flex-center
								img.img(src= item.img, alt="alt")
							p.testimonial__txt.txt-1 !{item.txt}
							.testimonial__author.txt-2 !{item.author}
						// /.testimonial

			// /.swiper-wrapper
		// /.testimonials__slider

		+slider-dots('testimonials-dots')


		+more('Все отзывы', 'testimonials.html')
		

	// /.container

// /.testimonials