extends layout/main

block variables
	- let title = 'Ямайка - Статья длинная'
	- let page = 'page'



block content
	include sections-article-long/hero
	include sections-article-long/article
	include sections-blog/article-rec



	






//- block libs-css
	// библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")

//- block libs-js
	// библиотека.js
	script(src="libs/library/library.js")