extends layout/main

block variables
	- let title = 'Ямайка - Блог'
	- let page = 'page'
	- let tabsTitle = true



block content
	include sections-blog/hero
	include sections-blog/categories
	include sections-blog/list



	






//- block libs-css
	// библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")

//- block libs-js
	// библиотека.js
	script(src="libs/library/library.js")