extends layout/main

block variables
	- let title = 'Ямайка - Карточка товара'
	- let page = 'page'



block content
	include sections-card/card
	include sections/tabs
	include sections-card/cloth
	include sections/contacts


	






//- block libs-css
	// библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")

//- block libs-js
	// библиотека.js
	script(src="libs/library/library.js")