extends layout/main

block variables
	- let title = 'Ямайка - Контакты'
	- let page = 'page'
	- let tabsTitle = true



block content
	include sections-contacts/hero
	include sections-contacts/soc
	include sections-contacts/coop



	






//- block libs-css
	// библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")

//- block libs-js
	// библиотека.js
	script(src="libs/library/library.js")