extends layout/main

block variables
	- let title = 'Ямайка - Главная'
	- let page = 'main'



block content
	include sections-index/hero
	include sections/hero-print
	include sections-index/cloth
	include sections/testimonials
	include sections/partners
	include sections/contacts





//- block libs-css
	// библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")

//- block libs-js
	// библиотека.js
	script(src="libs/library/library.js")