extends layout/main

block variables
	- let title = 'Ямайка - Методы печати'
	- let page = 'page'
	- let tabsTitle = true



block content
	include sections-methods/hero
	include sections/tabs
	include sections/contacts





//- block libs-css
	// библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")

//- block libs-js
	// библиотека.js
	script(src="libs/library/library.js")