extends layout/main

block variables
	- let title = 'Ямайка - Стоимость'
	- let page = 'page'



block content
	include sections-price/calc
	include sections/pricing
	include sections/discounts
	include sections/contacts
	include pug-modules/modal-calc


	




block page-js
	script(src="js/calc.js")

//- block libs-css
	// библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")

//- block libs-js
	// библиотека.js
	script(src="libs/library/library.js")