extends layout/main

block variables
	- let title = 'Ямайка - Шелкография для печати на текстиле'
	- let page = 'page'



block content
	include sections-silk/hero
	include sections/tabs
	include sections-silk/silk-block
	include sections-silk/effects
	include sections/testimonials
	include sections/contacts





//- block libs-css
	// библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")

//- block libs-js
	// библиотека.js
	script(src="libs/library/library.js")