extends layout/main

block variables
	- let title = 'Ямайка - Печать от 1 штуки'
	- let page = 'page'
	- let tabsTitle = true



block content
	include sections-single/hero
	include sections/tabs
	
	// hero-print
	section.section.hero-print

		.container
			h2.title-2.text-center Что печатаем?


			.hero-print__screen.swiper-container

				.swiper-wrapper

					-
						var prints = [
							{
								"i": "1",
								"img": "img/img-print-1.png",
								"title": "Надпись/Номер",
								"subtitle": "Термоперенос",
								"txt": "Если нужно пронумеровать форму<br> или нанести надпись"
							},
							{
								"i": "2",
								"img": "img/img-print-2.png",
								"title": "Фото/Иллюстрация",
								"subtitle": "Прямая печать",
								"txt": "Прямая печать — лучший способ для печати фоток на текстиле"
							},
							{
								"i": "4",
								"img": "img/img-print-4.png",
								"title": "Много футболок",
								"subtitle": "Шелкография",
								"txt": "Наиболее выгодный способ нанесения принтов"
							}
						]
					each item, i in prints
						
						.swiper-slide
							.hero-print__item(class= 'hero-print__item-'+ item.i)
								.hero-print__img
									img.img(src= item.img, alt="alt")
								.print-popup
									h3.hero-print__title.accent= item.title 
									.print-popup__hidden.subcolor
										p.txt-2 Печать по белому и светлому текстилю осуществляется сразу по ткани, без подложки.<br> При печати краска проникает напрямую<br> в волокна ткани, а это делает принт максимально устойчивым к стиркам.
										p.txt-2 Изображения получаются яркими и четкими, сохраняются градиенты, задуманные в макете.<br> Максимальный размер печати: 40х45 см.

								.hero-print__subtitle.txt-1= item.subtitle
								.hero-print__txt.txt-2 !{item.txt}
							// /.hero-print__item

			// /.hero-print__screen

			

		// /.container

	// /.hero-print

	include sections/discounts
	include sections-single/cloth
	include sections-single/pricing
	include sections-single/dops
	include sections-single/metro
	include sections/testimonials

	






//- block libs-css
	// библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")

//- block libs-js
	// библиотека.js
	script(src="libs/library/library.js")