extends layout/main

block variables
	- let title = 'Ямайка - Отзывы'
	- let page = 'page'
	- let tabsTitle = true



block content
	include sections-testimonials/testimonials
	include sections/tabs
	include sections/contacts
	include pug-modules/modal-testimonials



	






//- block libs-css
	// библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")

//- block libs-js
	// библиотека.js
	script(src="libs/library/library.js")


block page-js
	link(rel="stylesheet", href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
	script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
	script(src="js/testimonials.js")

