extends layout/main

block variables
	- let title = 'Ямайка - Текстиль'
	- let page = 'page'



block content
	include sections-textile/textile
	include sections/tabs
	include sections/contacts


	






//- block libs-css
	// библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")

//- block libs-js
	// библиотека.js
	script(src="libs/library/library.js")