extends layout/main

block variables
	- let title = 'Ямайка - Печать оптом'
	- let page = 'page'
	- let tabsTitle = true



block content
	include sections-wholesale/hero
	include sections/tabs
	include sections-wholesale/cloth
	include sections/hero-print
	include sections/pricing
	include sections/testimonials
	include sections/partners
	include sections-wholesale/blockquote
	include sections-wholesale/steps
	include sections/contacts





//- block libs-css
	// библиотека.css
	link(rel="stylesheet" href="libs/library/library.css")

//- block libs-js
	// библиотека.js
	script(src="libs/library/library.js")