.section.article


	.container

		.article-header
			.txt-1.fw-bold
				p Приближается День Всех Влюбленных... Можно долго спорить о том, что праздник придумали «продавцы цветов», но ведь найти альтернативу плюшевым игрушкам и конфетам – легко! Достаточно узнать, о какой футболке давно мечтает ваша половинка, и праздник точно удастся.
		// /.article-header

		p Нужна помощь с выбором? В нашем каталоге принтов 
			a(href="#") megastuff.ru 
			| вы найдете:
		br
		p В новом 
			a(href="#") онлайн-конструкторе 
			| "яМайка" вы сможете легко заказать футболку<br> или толстовку с вашим собственным дизайном. Добавьте к фотографии текст или скомпонуйте дизайн прямо в конструкторе, используя наши принты-шаблоны.
		br
		ul
			li
				a(href="#") Парные футболки 
				| для влюбленных и футболки с персонажами Love is
			li Футболки 
				a(href="#") для него 
				| и для неё
			li Футболки по интересам: 
				a(href="#") музыка, 
				a(href="#") кино, 
				a(href="#") сериалы, 
				a(href="#") мультфильмы, 
				a(href="#") комиксы, 
				a(href="#") спорт 
		br
		ol
			li
				a(href="#") Парные футболки 
				| для влюбленных и футболки с персонажами Love is
			li Футболки 
				a(href="#") для него 
				| и для неё
			li Футболки по интересам: 
				a(href="#") музыка, 
				a(href="#") кино, 
				a(href="#") сериалы, 
				a(href="#") мультфильмы, 
				a(href="#") комиксы, 
				a(href="#") спорт 
		br
		p Примерить футболку перед печатью и проконсультироваться с дизайнером можно<br> в одной из наших 
			a(href="#") принтерий. 
			| Мы работаем ежедневно с 11:00 до 21:00 и готовы помочь вам с воплощением любых творческих задумок!ственной школы за плечами или тематических курсов для поступления в художественный ВУЗ.
		br
		br


		.article-slider-wrap
			.article-slider.swiper-container
				.swiper-wrapper
					.swiper-slide
						.tabs-slider__img
							img.img.img--cover(src="img/content/img-tabs-1.jpg", alt="alt")
					.swiper-slide
						.tabs-slider__img
							img.img.img--cover(src="img/content/img-tabs-2.jpg", alt="alt")
					.swiper-slide
						.tabs-slider__img
							img.img.img--cover(src="img/content/img-tabs-1.jpg", alt="alt")
			// /.article-slide
			+slider-prev('article-slider-prev hide-xl')
			+slider-next('article-slider-next hide-xl')
		// /.article-slider-wrap
		+slider-dots('article-slider-dots')

	// /.container


// /.article


