section.section.blog-hero


	.container

		.article-title.flex
			h1.title-1 Футболки к 14 февраля
			a.article-back.txt-1(href="blog.html") Назад

		.blog-hero__banner(style="background-image: url('img/content/bg-blog-3.jpg')")

			.blog-date.txt-1 01.02.20
			a(href="#").blog-tag.txt-2 Новости

			h2.title-2 Футболки для тех, кто не может друг без друга!

		// /.blog-hero__banner

	// /.container


// /.blog


