include ../pug-modules/mixins
block variables

doctype html
html(lang="ru")

	head
		meta(charset="utf-8")
		title #{title}
		meta(http-equiv='X-UA-Compatible', content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no")
		meta(name="robots", content="noindex, nofollow")

		link(rel='apple-touch-icon' sizes='76x76' href='img/favicon/apple-touch-icon.png')
		link(rel='icon' type='image/png' sizes='32x32' href='img/favicon/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='img/favicon/favicon-16x16.png')
		link(rel='manifest' href='img/favicon/site.webmanifest')
		link(rel='mask-icon' href='img/favicon/safari-pinned-tab.svg' color='#5bbad5')
		link(rel='shortcut icon' href='img/favicon/favicon.ico')
		meta(name='msapplication-TileColor' content='#38415a')
		meta(name='msapplication-config' content='img/favicon/browserconfig.xml')
		meta(name='theme-color' content='#ffffff')

		link(rel="preload", href="fonts/ProximaNova-Regular.woff2", as="font", type="font/woff2", crossorigin)
		link(rel="preload", href="fonts/ProximaNova-Bold.woff2", as="font", type="font/woff2", crossorigin)
		link(rel="preload", href="fonts/ProximaNova-Semibold.woff2", as="font", type="font/woff2", crossorigin)
		link(rel="preload", href="fonts/ProximaNova-Light.woff2", as="font", type="font/woff2", crossorigin)
		link(rel="preload", href="fonts/Arvo.woff2", as="font", type="font/woff2", crossorigin)

		block libs-css
		link(rel="stylesheet" href="css/styles.css")

	body(class= page=="main" ? "home" : "")

		.main-wrapper

			include ../sections/header


			.page
				block content
			// /.page



			include ../sections/footer

		// /.main-wrapper

		// Скрипты
		include ../pug-modules/scripts