section.section.textile


	.container

		h1.title-1 Текстиль


		.textile-list

			.textile-list__row.f-row

				-
					var textile = [
						{
							"img": "img-card-1.jpg",
							"title": "Футболка женская стандарт",
							"txt": "Футболка женская из кулирной глади, 100% хлопок. Плотность 160г/м2. ",
							"table": [
								{
									"tr": [
										"Цвет",
										"1 шт.",
										"20-49",
										"50-99",
										">100",
										">300",
										">500"
									]
								},
								{
									"tr": [
										"Белый",
										"500",
										"375",
										"375",
										"318",
										"292",
										"305"
									]
								},
								{
									"tr": [
										"Черный/<br> цветной",
										"500",
										"380",
										"380",
										"350",
										"330",
										"340"
									]
								}
							],
							"colors": [
								{"background": "#fff", "border": "rgba(0, 0, 0, 0.17)"},
								{"background": "#000", "border": "#000"},
								{"background": "#b6b6b6", "border": "#b6b6b6"},
								{"background": "#b40728", "border": "#b40728"},
								{"background": "#00b2dc", "border": "#00b2dc"},
								{"background": "#ffd602", "border": "#ffd602"},
								{"background": "#118649", "border": "#118649"},
								{"background": "#003e68", "border": "#003e68"},
							]
						},
						{
							"img": "img-textile-2.jpg",
							"title": "Футболка женская премиум",
							"txt": "Футболка женская из кулирной глади: в составе 95% хлопка и 5% лайкры. Плотность 160г/м2. ",
							"table": [
								{
									"tr": [
										"Цвет",
										"1 шт.",
										"20-49",
										"50-99",
										">100",
										">300",
										">500"
									]
								},
								{
									"tr": [
										"Белый",
										"500",
										"375",
										"340",
										"318",
										"305",
										"292"
									]
								},
								{
									"tr": [
										"Черный/<br> цветной",
										"500",
										"380",
										"360",
										"350",
										"340",
										"340"
									]
								}
							],
							"colors": [
								{"background": "#fff", "border": "rgba(0, 0, 0, 0.17)"},
								{"background": "#000", "border": "#000"},
								{"background": "#b6b6b6", "border": "#b6b6b6"},
								{"background": "#b40728", "border": "#b40728"},
								{"background": "#00b2dc", "border": "#00b2dc"},
								{"background": "#ffd602", "border": "#ffd602"},
								{"background": "#118649", "border": "#118649"},
								{"background": "#003e68", "border": "#003e68"},
							]
						},
						{
							"img": "img-textile-3.jpg",
							"title": "Футболка мужская стандарт",
							"txt": "Футболка мужская из кулирной глади, 100% хлопок. Плотность 160г/м2. ",
							"table": [
								{
									"tr": [
										"Цвет",
										"1 шт.",
										"20-49",
										"50-99",
										">100",
										">300",
										">500"
									]
								},
								{
									"tr": [
										"Белый",
										"400",
										"335",
										"298",
										"278",
										"262",
										"253"
									]
								},
								{
									"tr": [
										"Черный/<br> цветной",
										"400",
										"350",
										"335",
										"310",
										"290",
										"285"
									]
								}
							],
							"colors": [
								{"background": "#fff", "border": "rgba(0, 0, 0, 0.17)"},
								{"background": "#000", "border": "#000"},
								{"background": "#b6b6b6", "border": "#b6b6b6"},
								{"background": "#003594", "border": "#003594"}
							]
						},
						{
							"img": "img-textile-4.jpg",
							"title": "Футболка мужская премиум",
							"txt": "Футболка мужская из кулирной глади: в составе 95% хлопка и 5% лайкры. Плотность 160 г/м2. ",
							"table": [
								{
									"tr": [
										"Цвет",
										"1 шт.",
										"20-49",
										"50-99",
										">100",
										">300",
										">500"
									]
								},
								{
									"tr": [
										"Белый",
										"500",
										"375",
										"340",
										"318",
										"305",
										"292"
									]
								},
								{
									"tr": [
										"Черный/<br> цветной",
										"500",
										"380",
										"360",
										"350",
										"340",
										"340"
									]
								}
							],
							"colors": [
								{"background": "#fff", "border": "rgba(0, 0, 0, 0.17)"},
								{"background": "#000", "border": "#000"},
								{"background": "#b6b6b6", "border": "#b6b6b6"},
								{"background": "#b40728", "border": "#b40728"},
								{"background": "#00b2dc", "border": "#00b2dc"},
								{"background": "#ffd602", "border": "#ffd602"},
								{"background": "#118649", "border": "#118649"},
								{"background": "#003e68", "border": "#003e68"},
							]
						},
						{
							"img": "img-textile-5.jpg",
							"title": "Свитшот унисекс",
							"txt": "Свитшот из футера трёхнитки<br> без начёса: 70% хлопок и 30% полиэстер. Плотность 350г/м2.  ",
							"table": [
								{
									"tr": [
										"Цвет",
										"1 шт.",
										"20-49",
										"50-99",
										">100",
										">300",
										">500"
									]
								},
								{
									"tr": [
										"Всех цветов",
										"1 550",
										"1 050",
										"975",
										"945",
										"895",
										"845"
									]
								}
							],
							"colors": [
								{"background": "#fff", "border": "rgba(0, 0, 0, 0.17)"},
								{"background": "#000", "border": "#000"},
								{"background": "#b6b6b6", "border": "#b6b6b6"},
								{"background": "#003594", "border": "#003594"},
								{"background": "#b40728", "border": "#b40728"},
								{"background": "#596d2c", "border": "#596d2c"},
								{"background": "#cbedff", "border": "#cbedff"},
							]
						},
						{
							"img": "img-textile-6.jpg",
							"title": "Толстовка унисекс",
							"txt": "Толстовка из футера трёхнитки<br> с начёсом: 80% хлопок и 20% полиэстер. Плотность 350г/м2 ",
							"table": [
								{
									"tr": [
										"Цвет",
										"1 шт.",
										"20-49",
										"50-99",
										">100",
										">300",
										">500"
									]
								},
								{
									"tr": [
										"Всех цветов",
										"1 850",
										"1 395",
										"1 345",
										"1 295",
										"1 245",
										"1 195"
									]
								}
							],
							"colors": [
								{"background": "#fff", "border": "rgba(0, 0, 0, 0.17)"},
								{"background": "#000", "border": "#000"},
								{"background": "#b6b6b6", "border": "#b6b6b6"},
								{"background": "#003594", "border": "#003594"},
								{"background": "#b40728", "border": "#b40728"},
								{"background": "#00b2dc", "border": "#00b2dc"},
								{"background": "#fec7d4", "border": "#fec7d4"},
								{"background": "#663d86", "border": "#663d86"}
							]
						},
						{
							"img": "img-textile-7.jpg",
							"title": "Детская футболка",
							"txt": "Футболка детская из 100% хлопчатобумажного полотна. Плотность 160г/м2.  ",
							"table": [
								{
									"tr": [
										"Цвет",
										"1 шт.",
										"20-49",
										"50-99",
										">100",
										">300",
										">500"
									]
								},
								{
									"tr": [
										"Белый",
										"400",
										"320",
										"270",
										"235",
										"280",
										"202"
									]
								},
								{
									"tr": [
										"Черный/<br> цветной",
										"400",
										"340",
										"295",
										"265",
										"250",
										"245"
									]
								}
							],
							"colors": [
								{"background": "#fff", "border": "rgba(0, 0, 0, 0.17)"},
								{"background": "#000", "border": "#000"},
							]
						},
						{
							"img": "img-textile-8.jpg",
							"title": "Маски защитные",
							"txt": "Защитная, двухслойная, немедицинская маска из дышащего хлопка. Состав: 95% хлопок, 5% лайкра ",
							"table": [
								{
									"tr": [
										"Цвет",
										"1 шт.",
										"20-49",
										"50-99",
										">100",
										">200",
										">300",
										">500",
										">1K"
									]
								},
								{
									"tr": [
										"Разные<br> цвета",
										"300",
										"250",
										"200",
										"180",
										"160",
										"130",
										"110",
										"95"
									]
								}
							],
							"colors": [
								{"background": "#fff", "border": "rgba(0, 0, 0, 0.17)"},
								{"background": "#000", "border": "#000"},
								{"background": "#b6b6b6", "border": "#b6b6b6"},
								{"background": "#003594", "border": "#003594"},
								{"background": "#b40728", "border": "#b40728"},
								{"background": "#596d2c", "border": "#596d2c"},
							]
						},
					]
				each item in textile

					.textile-list__col.f-col

						.textile-item
							.textile-item__row.flex
								
								.textile-item__img-wrap
									.textile-item__img.flex-center
										a.flex-center(href="card.html")
											img.img.img--cover(src="img/content/" + item.img, alt="alt")

								.textile-item__content
								
									.textile-item__section.textile-order-0

										.textile-item__title.txt-1 !{item.title}
										p.textile-item__txt.txt-2.subcolor !{item.txt}

										// блок дублируется
										.show-xl
											.txt-2 Доступные цвета:
											.item-colors.flex
												each color in item.colors
													span.item-color(style= "background: "+ color.background + "; border-color: "+color.border+";")

									// /.textile-item__section



									.textile-item__section.textile-order-1
										.txt-2 Цены:
										.textile-item__table.subcolor
											table
												tbody
													each rows, i in item.table
														tr
															- for(let j = 0; j < rows.tr.length; j++)
																if i == 0
																	if j != 0
																		th !{rows.tr[j]}
																	else
																		td !{rows.tr[j]}
																else
																	td !{rows.tr[j]}
														
									// /.textile-item__section



									.textile-item__section.hide-xl
										.txt-2 Доступные цвета:
										.item-colors.flex
											each color in item.colors
												span.item-color(style= "background: "+ color.background + "; border-color: "+color.border+";")


									// /.textile-item__section


									.textile-item__btns.flex
										a.textile-item__link.txt-1.link(href="card.html") Подробнее
										button.button.button--bd.button--lg.js-open-modal(type="button", data-modal="#callback") Отправить запрос


								// /.textile-item__content


						// /.textile-item


					// /.textile-list__col.f-col

			// /.textile-list__row.flex

		// /.textile-list
		

	// /.container


// /.textile


