section.p-hero.methods
	.container

		h1.title-1.p-hero__title Методы печати на футболках, толстовках, свитшотах

		.methods__row

			.methods__side
				.methods__vals.txt-1
					.methods__val Скорость
					.methods__val Качество
					.methods__val Цена

			.methods__content

				.methods-table

					.methods-table__row.flex

						-
							var methods = [
								{
									"title": "Термоперенос",
									"img": "img-methods-1.jpg",
									"rows": [
										{
											"ic": "check",
											"txt": "1 принт за 20 минут"
										},
										{
											"ic": "check",
											"txt": "Гарантия не менее 30 стирок."
										},
										{
											"ic": "close",
											"txt": "Принт А4 за 400Р."
										}
									]
								},
								{
									"title": "Прямая печать",
									"img": "img-methods-2.jpg",
									"rows": [
										{
											"ic": "check",
											"txt": "1 принт за 20 минут"
										},
										{
											"ic": "check",
											"txt": "Гарантия не менее 30 стирок."
										},
										{
											"ic": "close",
											"txt": "Принт А4 на белой футболке — 450Р, на черной или цветной — 550Р."
										}
									]
								},
								{
									"title": "Шелкография",
									"img": "img-methods-3.jpg",
									"rows": [
										{
											"ic": "close",
											"txt": "Тираж от 20 футболок за 4-5 рабочих дней."
										},
										{
											"ic": "check",
											"txt": "Гарантия не менее 50 стирок."
										},
										{
											"ic": "check",
											"txt": "Принт А4 от 60Р."
										}
									]
								}
							]
						each item in methods
					
							.methods-table__col

								.method
									h3.method__title.title-3 !{item.title}
									.method__img
										img.img.img--cover(src= ('img/content/' + item.img), alt="alt")
									.method__body
										.method__list
											each row in item.rows
												.method__row.flex
													.method__ic.flex-center
														if row.ic == 'check'
															img.img(src="img/img-check.svg", alt="alt")
														else
															img.img(src="img/img-close.svg", alt="alt")
													.method__txt.txt-2.subcolor
														p !{row.txt}

										// /.method__list

										.method__btn
											a.button.button--bd.button--lg(href="#") Узнать больше

									// /.method__body
								// /.method

							// /.methods-table__col

					// /.methods-table__row.flex
					
				// /.methods-table

			// /.methods__content


		// /.methods__row.flex

	// /.container


// /.p-hero.methods


//- img.img(src="img/img-check.svg", alt="alt")
//- img.img(src="img/img-close.svg", alt="alt")