@import "_include/vars"
@import "_include/mixins"

@import "_include/fonts"
@import "_include/libs"
@import "_include/reset"
@import "_include/common"
@import "_modules/forms"






/* ------------------------------------- 
	Sections 
	------------------------------------- */
@import "_sections/header"
@import "_sections/footer"
@import "_sections/hero-print"
@import "_sections/cloth"
@import "_sections/contacts"
@import "_sections/testimonials"
@import "_sections/partners"
@import "_sections/tabs"
@import "_sections/discounts"
@import "_sections/pricing"


/* ------------------------------------- 
	Main page 
	------------------------------------- */
@import "_sections-index/hero"

/* ------------------------------------- 
	Silk
	------------------------------------- */
@import "_sections-silk/hero"
@import "_sections-silk/silk-block"
@import "_sections-silk/effects"

/* ------------------------------------- 
	Print methods
	------------------------------------- */
@import "_sections-methods/hero"

/* ------------------------------------- 
	Wholesale
	------------------------------------- */
@import "_sections-wholesale/hero"
@import "_sections-wholesale/blockquote"
@import "_sections-wholesale/steps"

/* ------------------------------------- 
	Single
	------------------------------------- */
@import "_sections-single/hero"
@import "_sections-single/dops"
@import "_sections-single/pricing"
@import "_sections-single/metro"

/* ------------------------------------- 
	Textile
	------------------------------------- */
@import "_sections-textile/textile"

/* ------------------------------------- 
	Card
	------------------------------------- */
@import "_sections-card/card"

/* ------------------------------------- 
	Price
	------------------------------------- */
@import "_sections-price/calc"

/* ------------------------------------- 
	Testimonials
	------------------------------------- */
@import "_sections-testimonials/testimonials"

/* ------------------------------------- 
	Blog
	------------------------------------- */
@import "_sections-blog/blog"
// @import "_sections-blog/categories"
// @import "_sections-blog/list"


/* ------------------------------------- 
	Contacts
	------------------------------------- */
@import "_sections-contacts/contacts"


/* ------------------------------------- 
	Modules 
	------------------------------------- */
@import "_modules/modal"







