section.section.blog-categories


	.container

		h2.title-2.text-center Рубрики

		.blog-categories__slider-wrap
			.blog-categories__slider.swiper-container
				.swiper-wrapper
					-
						var categories = [
							{
								"href": "article-short.html",
								"img": "img-blog-1.jpg",
								"title": "Принтсовет"
							},
							{
								"href": "article-long.html",
								"img": "img-blog-2.jpg",
								"title": "Акции "
							},
							{
								"href": "article-short.html",
								"img": "img-blog-3.jpg",
								"title": "Новости"
							},
							{
								"href": "article-long.html",
								"img": "img-blog-2.jpg",
								"title": "Акции"
							},
						]
					each item in categories
						.swiper-slide
							.blog-category
								.blog-category__img
									a.blog-thumb(href= item.href)
										img.img.img--cover(src="img/content/" + item.img, alt="alt")
								.title-2.blog-category__title
									a(href= item.href) !{item.title}

			// /.blog-categories__slider.swiper-container

			+slider-prev('blog-categories-prev hide-xl')
			+slider-next('blog-categories-next hide-xl')

		// /.blog-categories__slider-wrap

		+slider-dots('blog-categories-dots')

	// /.container


// /.blog-categories


