section.section.blog-hero


	.container

		h1.title-1 Lifestyle & Fashion blog

		.blog-hero__banner(style="background-image: url('img/content/bg-blog-1.jpg')")

			.blog-date.txt-1 01.02.20

			h2.title-2 ПРИНТСОВЕТ #2: Софья Мироедова

		// /.blog-hero__banner

	// /.container


// /.blog


