section.section.blog-list


	.container


		.blog-list__row.f-row

			-
				var blog = [
					{
						"href": "article-short.html",
						"img": "img-blog-4.jpg",
						"tag": "Новости",
						"date": "01.02.20",
						"title": "Как ухаживать за белыми футболками",
						"txt": [
							"Со временем любимая белая футболка потеряет первоначальный белоснежный цвет. Следуйте несложным советам из нашей статьи, чтобы сохранить цвет футболки как можно дольше",
							"Васильева Анна"
						]
					},
					{
						"href": "article-long.html",
						"img": "img-blog-5.jpg",
						"tag": "Акции",
						"date": "30.12.20",
						"title": "Принты на 100 футболок в подарок",
						"txt": [
							"Весеннее спецпредложение в корпоративном отделе компании \"яМайка\": при заказе от 100 футболок мы напечатаем ваш одноцветный принт бесплатно. Футболка с принтом за 273 P* - это реально! В стоимость тиража включены:"
						]
					},
					{
						"href": "article-short.html",
						"img": "img-blog-6.jpg",
						"tag": "Принтсовет",
						"date": "01.02.20",
						"title": "Идеи для подарков",
						"txt": [
							"В преддверии Нового года нужно успеть всё: сдать годовой отчет, решить, где и в чём отмечать Новый год, и главное - найти всем подарки. Рассказываем, как выбрать презенты родным и близким в \"яМайке\":",
							"Васильева Анна"
						]
					},
					{
						"href": "article-short.html",
						"img": "img-blog-5.jpg",
						"tag": "Новости",
						"date": "01.02.20",
						"title": "Как ухаживать за белыми футболками",
						"txt": [
							"Со временем любимая белая футболка потеряет первоначальный белоснежный цвет. Следуйте несложным советам из нашей статьи, чтобы сохранить цвет футболки как можно дольше",
							"Васильева Анна"
						]
					},
					{
						"href": "article-long.html",
						"img": "img-blog-6.jpg",
						"tag": "Акции",
						"date": "30.12.20",
						"title": "Принты на 100 футболок в подарок",
						"txt": [
							"Весеннее спецпредложение в корпоративном отделе компании \"яМайка\": при заказе от 100 футболок мы напечатаем ваш одноцветный принт бесплатно. Футболка с принтом за 273 P* - это реально! В стоимость тиража включены:"
						]
					},
					{
						"href": "article-short.html",
						"img": "img-blog-2.jpg",
						"tag": "Принтсовет",
						"date": "01.02.20",
						"title": "Идеи для подарков",
						"txt": [
							"В преддверии Нового года нужно успеть всё: сдать годовой отчет, решить, где и в чём отмечать Новый год, и главное - найти всем подарки. Рассказываем, как выбрать презенты родным и близким в \"яМайке\":",
							"Васильева Анна"
						]
					},
				]
			each item in blog
				.blog-list__col.f-col

					.blog-list__item
						.blog-list__img
							a.blog-thumb(href= item.href)
								img.img.img--cover(src="img/content/" + item.img, alt="alt")
							a(href="#").blog-tag.txt-2= item.tag
							.blog-date.txt-1= item.date

						.blog-list__title.txt-1
							a(href= item.href) !{item.title}
						.blog-list__txt.txt-2.subcolor
							- for(let i = 0; i < item.txt.length; i++)
								p !{item.txt[i]}


					// /.blog-list__item

				// /.blog-list__col.f-col

		// /.blog-list__row.f-row


		+more('Загрузить ещё')


	// /.container


// /.blog-list


