

mixin logo
	.logo
		if page == "main"
			img.img(src="img/logo.png", alt="alt")
		else
			a(href="index.html")
				img.img(src="img/logo.png", alt="alt")


mixin socials(linkArr, color, addClass)
	ul.socials.flex.list(class= addClass)
		- for(let s = 0; s < linkArr.length; s++)
			li
				if linkArr[s] == 'vk'
					a.socials__link.socials__vk.flex-center(href="#", target="_blank")
						if color == 'accent'
							img.img(src="img/ic-vk-accent.svg", alt="alt")
						else if color == 'white'
							img.img(src="img/ic-vk-white.svg", alt="alt")
				else if linkArr[s] == 'insta'
					a.socials__link.socials__insta.flex-center(href="#", target="_blank")
						if color == 'accent'
							img.img(src="img/ic-insta-accent.svg", alt="alt")
						else if color == 'white'
							img.img(src="img/ic-insta-white.svg", alt="alt")
				else if linkArr[s] == 'fb'
					a.socials__link.socials__fb.flex-center(href="#", target="_blank")
						if color == 'accent'
							img.img(src="img/ic-fb-accent.svg", alt="alt")
						else if color == 'white'
							img.img(src="img/ic-fb-white.svg", alt="alt")
				else if linkArr[s] == 'youtube'
					a.socials__link.socials__youtube.flex-center(href="#", target="_blank")
						if color == 'accent'
							img.img(src="img/ic-youtube-accent.svg", alt="alt")
						else if color == 'white'
							img.img(src="img/ic-youtube-white.svg", alt="alt")
				else if linkArr[s] == 'whatsapp'
					a.socials__link.socials__whatsapp.flex-center(href="https://api.whatsapp.com/send?phone=78124907550", target="_blank")
						if color == 'accent'
							img.img(src="img/ic-whatsapp-accent.svg", alt="alt")
						else if color == 'white'
							img.img(src="img/ic-whatsapp-white.svg", alt="alt")
				else if linkArr[s] == 'telegram'
					a.socials__link.socials__telegram.flex-center(href="tg://resolve?domain=petrpetukhov", target="_blank")
						if color == 'accent'
							img.img(src="img/ic-telegram-accent.svg", alt="alt")
						else if color == 'white'
							img.img(src="img/ic-telegram-white.svg", alt="alt")



mixin slider-prev(addClass)
	.slider-arrow.slider-prev(class= addClass)
mixin slider-next(addClass)
	.slider-arrow.slider-next(class= addClass)
mixin slider-dots(addClass)
	.slider-dots(class= addClass)



mixin more(txt, href)
	.more-btn
		if href
			a.button.button--bd.button--lg(href= href) !{txt}
		else
			a.button.button--bd.button--lg(href="#") !{txt}

mixin section-title(txt)
	h2.title-2.text-center !{txt}







