.modal#testimonials-form
	.title Добавить отзыв
	.close

	.form-retail
		form(action='#' enctype='multipart/form-data')
			.form-item
				select.input(name='studio')
					option.hide(value='none' disabled='' selected='') Студия, в которой выполнялся ваш заказ
					option(value='1') ст. м. Пионерская
					option(value='2') ст. м. Владимирская
					option(value='6') Оптовый отдел 

			.form-row
				.form-col
					.form-item
						input.input(type='text' name='acceptor' placeholder='Имя*' required)
				.form-col
					.form-item
						.datepicker-icon
							input.input(type='text' placeholder='Дата посещения' name='review_date')
			.form-section
				textarea.input(name='comment' placeholder='Ваш отзыв')
			
			.form-section
				.attach
					.attachment Добавить фото
						input.file(type='file' name='attachment')
						span Фото заказа становится аватаркой отзыва
					.attach-msg

			.form-section
				.review_switcher.radiotabs.calc__radiotabs
					input.input#reviewswitch1(type='radio' name='review_mood' value='1')
					label(for='reviewswitch1') Положительный
					input.input#reviewswitch2(type='radio' name='review_mood' value='2')
					label(for='reviewswitch2') Нейтральный
					input.input#reviewswitch3(type='radio' name='review_mood' value='3')
					label(for='reviewswitch3') Отрицательный
			.form-label Как мы можем с вами связаться?
			.form-row
				.form-col
					.form-item
						input.input.js-tel-mask(type='tel' name='phone' placeholder='Телефон*' required)
				.form-col
					.form-item
						input.input(type='email' name='email' placeholder='Почта*' required)

			.button.button--lg.button--bd Отправить
	// /.form-retail

	.form-wholesale
		form(action='#' enctype='multipart/form-data')
			.form-item
				select.input(name='studio')
					option.hide(value='none' disabled='' selected='') Студия, в которой выполнялся ваш заказ
					option(value='1') ст. м. Пионерская
					option(value='2') ст. м. Владимирская
					option(value='6' selected) Оптовый отдел 

			.form-item
				input.input(type='text' name='company' placeholder='Название компании*' required)

			.form-row
				.form-col
					.form-item
						input.input(type='text' name='acceptor' placeholder='Имя*' required)
				.form-col
					.form-item
						input.input(type='text' name='position' placeholder='Ваша должность*' required)
					
			
			.form-row(style="align-items: center;")
				.form-col
					.attach.form-item
						.attachment Логотип компании
							input.file(type='file' name='attachment')
						.attach-msg
				.form-col
					.form-item
						.datepicker-icon
							input.input(type='text' placeholder='Получение заказа' name='review_date')


			.form-item
				textarea.input(name='comment' placeholder='Ваш отзыв')

			.form-section
				.review_switcher.radiotabs.calc__radiotabs
					input.input#reviewswitch1(type='radio' name='review_mood' value='1')
					label(for='reviewswitch1') Положительный
					input.input#reviewswitch2(type='radio' name='review_mood' value='2')
					label(for='reviewswitch2') Нейтральный
					input.input#reviewswitch3(type='radio' name='review_mood' value='3')
					label(for='reviewswitch3') Отрицательный
			.form-label Как мы можем с вами связаться?
			.form-row
				.form-col
					.form-item
						input.input.js-tel-mask(type='tel' name='phone' placeholder='Телефон*' required)
				.form-col
					.form-item
						input.input(type='email' name='email' placeholder='Почта*' required)

			.button.button--lg.button--bd Отправить
	// /.form-retail

// /.modal#testimonials-form

