.modal.calc-form#calc-form
	.title Заявка на расчёт
	.close

	.calc-form__row.flex
		.calc-form__col.col-1-3
			.calc-form__item
				div Текстиль:
				div#calc-form__text_textile Не выбран
		.calc-form__col.col-1-3
			.calc-form__item
				div Цвет:
				div#calc-form__text_color Не выбран
		.calc-form__col.col-1-3
			.calc-form__item
				div Кол-во шт:
				div#calc-form__text_quantity
		.calc-form__col.col-1
			.calc-form__title.text-center Итого за текстиль: 
				span#calc-form__priceTextile
				|&nbsp;P
		.calc-form__col.col-1-3
			.calc-form__item
				div Печать:
				div#calc-form__typePrint Не выбрана
		.calc-form__col.col-1-3
			.calc-form__item
				div Цветов в макете:
				div#calc-form__quantityColor Не выбрано
		.calc-form__col.col-1-3
			.calc-form__item
				div Размер печати:
				div#calc-form__size Не выбран
		.calc-form__col.col-1
			.calc-form__title.text-center
				| Тип печати:&nbsp;
				span#calc-form__methodPrint
			.calc-form__title.text-center
				span#calc-form__priceMethodPrint
				|&nbsp;Р
		.calc-form__col.col-1
			.calc-form__title.text-center Предварительная сумма за печать:&nbsp;
				span#calc-form__totalPrice Не расчитана
				|&nbsp;P
	
			
	// /.calc-form__row.flex


	form(action='#' enctype='multipart/form-data' method='post')
		//- скрытые поля с калькулятора
		input(type="hidden" name="Текстиль:" value="" id="input_calc-form__text_textile")
		input(type="hidden" name="Цвет:" value="" id="input_calc-form__text_color")
		input(type="hidden" name="Количество:" value="" id="input_calc-form__text_quantity")
		input(type="hidden" name="Итого за текстиль:" value="" id="input_calc-form__priceTextile")
		input(type="hidden" name="Печать:" value="" id="input_calc-form__typePrint")
		input(type="hidden" name="Цветов в макете:" value="" id="input_calc-form__quantityColor")
		input(type="hidden" name="Размер печати:" value="" id="input_calc-form__size")
		input(type="hidden" name="Тип печати:" value="" id="input_calc-form__methodPrint")
		input(type="hidden" name="Итого за метод печати:" value="" id="input_calc-form__priceMethodPrint")
		input(type="hidden" name="Сумма за печать:" value="" id="input_calc-form__totalPrice")
		//- скрытые поля с калькулятора

		p.calc-form__txt Оставьте ваши контакты, чтобы менеджер связался с вами<br> для уточнения деталей заказа.
		.form-row
			.form-col
				.form-item
					input.input(type='text' name='acceptor' placeholder='Имя*' required)
			.form-col
				.form-item
					input.input(type='text' name='city' placeholder='Ваш город*' required)
		.form-row
			.form-col
				.form-item
					input.input.js-tel-mask(type='tel' name='phone' placeholder='Телефон*' required)
			.form-col
				.form-item
					input.input(type='email' name='email' placeholder='Почта*' required)
		.form-item
			textarea.input(name='comment' placeholder='Комментарий')
		.button.button--lg.button--bd Отправить


// /.modal.calc-form#calc-form