// Модальное окно общее
.modal#callback
	.title Заявка на расчёт
	.close
	form(action='#', enctype='multipart/form-data')
		.form-item
			input.input(type='text' name='acceptor' placeholder='Имя*' required)
		.form-row
			.form-col
				.form-item
					input.input.js-tel-mask(type='tel' name='phone' placeholder='Телефон*' required)
			.form-col
				.form-item
					input.input(type='email' name='email' placeholder='Почта*' required)
		.form-item
			input.input(type='text' name='city' placeholder='Ваш город*' required)

		.form-item
			.form-label Количество изделий в заказе
			.review_switcher.radiotabs
				input.input#quantityswitch1(type='radio' name='review_mood' value='<20')
				label(for='quantityswitch1') До 20 шт
				input.input#quantityswitch2(type='radio' name='review_mood' value='>20')
				label(for='quantityswitch2') От 20 шт

		.form-item
			textarea.input(name='comment' placeholder='Комментарий')
		#0.attach
			.attachment Прикрепить файл
			input.file(type='file' name='attachment-0' style='display: none;')
		.button.button--lg.button--bd Отправить

// /.modal#callback

		