// Jquery с облака и замена в случае отсутствия доступа к облаку 
script(
	src="https://code.jquery.com/jquery-3.4.1.min.js", 
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", 
	crossorigin="anonymous"
)
script.
	window.jQuery || document.write('<script src="libs/jquery/jquery-3.4.1.min.js"><\/script>')

block libs-js
script(src="js/scripts.js")
block page-js
