.effects

	&__row
		margin: 0 -15px
		@include max-screen($xl)
			display: block
			margin: 0

	&__col
		display: none
		width: 33.33333%
		margin-bottom: 30px
		padding: 0 15px
		@include max-screen($xl)
			width: 100%
			padding: 0


	&-item

		&__img
			font-size: 10px
			max-width: 408px
			height: 29.1em
			margin: 0 auto 3em
			border-radius: 4px
			overflow: hidden
			@include max-screen($md)
				font-size: 8px

		&__title
			margin-bottom: 1em

		&__txt
			opacity: 0.7























	