.s-hero

	&__col
		&-1
			order: 1

	&__item
		&:not(:last-child)
			margin-bottom: 40px

		.title-2
			margin-bottom: 0.2em

	&__ic
		font-size: 10px
		width: 6em
		height: 6em
		border-radius: 50%
		margin-right: 5.5em
		border: 2px solid $accent
		&--disabled
			border-color: #c2c2c2
		.img
			font-size: 1em
			max-width: 2.5em
			max-height: 2.5em

	&__content
		flex: 1 0 0
		max-width: 100%

	.txt-2
		opacity: 0.7

	&__frame
		font-size: 11px
		width: 56em
		height: 31.5em
		overflow: hidden
		iframe
			display: block
			width: 100%
			height: 100%

	@include max-screen($xl)
		&__frame
			margin: 0 auto 50px
	@include max-screen($md)
		&__ic
			margin-right: 3em
		&__frame
			font-size: 1.62vw
	@include max-screen($sm)
		&__ic
			font-size: 8px

































