.silk-block

	&__row
		@include max-screen($xl)
			display: block
			margin: 0

	&__col
		@include max-screen($xl)
			width: 100%
			padding: 0

	.title-3
		font-family: $title


.block-links
	@include max-screen($xl)
		justify-content: center
	


.block-link
	display: block
	height: 100%
	padding: 40px 34px 38px
	box-shadow: $shadow
	background: $white
	&__img
		display: flex
		justify-content: flex-start
		align-items: flex-end
		height: 77px
		margin-bottom: 25px
		.img
			max-height: 100%
	@include max-screen($md)
		padding: 30px
	@include max-screen($sm)
		padding: 20px
		br
			display: none
	@include max-screen(400px)
		padding: 15px
		&__img
			height: 60px
		.title-3
			font-size: 18px
		
























