// dops
section.section.dops

	.container
		+section-title('Дополнительные услуги')

		.dops__row.f-row

			-
				var dops = [
					{
						"img": "ic-single-5.svg",
						"title": "Услуги дизайнера до 15 минут<br> — БЕСПЛАТНО",
						"txt": "Например:<br> — Подобрать шрифт и цвет для надписи<br> — Минимальная обработка фото",
					},
					{
						"img": "ic-single-6.svg",
						"title": "Стоимость работы дизайнера свыше 15 минут<br> оплачивается по следующему тарифу:<br> 15 минут — 300 Р",
						"txt": "Например:<br> — удаление лишнего фона<br> — поиск картинки в интернете<br> — создание макета с нуля<br> — перевод изображения в вектор",
					},
					{
						"img": "ic-single-7.svg",
						"title": "Подарочная упаковка — 100 Р",
						"txt": ''
					},
					{
						"img": "ic-single-8.svg",
						"title": "Доставка курьером — 350 Р",
						"txt": ''
					},
				]
			each item in dops
				.dops__col.f-col

					.dops-item(class= item.txt=='' ? 'dops-item--centered' : '')
						.dops-item__row.flex
							.dops-item__img
								img.img(src= "img/content/" + item.img, alt="alt")
							.dops-item__content
								.dops-item__title.txt-1 !{item.title}
								if item.txt
									.dops-item__txt.txt-2 !{item.txt}

					// /.dops-item

				// /.dops__col.f-col

		// /.dops__row.f-row

	// /.container

// /.dops