section.p-hero.single-hero
	.container
		

		.single__row.f-row

			.single__col.f-col
				h1.title-1.single__title Печать на футболках, толстовках и свитшотах<br> от 1 штуки

				.single-list

					.single-list__row.f-row

						-
							var single = [
								{
									"img": "ic-single-1.svg",
									"title": "Быстро",
									"txt": "Печатаем при вас!<br> 1 принт = 20 минут."
								},
								{
									"img": "ic-single-2.svg",
									"title": "Качественно",
									"txt": "Сами шьём футболки и толстовки. Гарантия на принты не менее 30 стирок."
								},
								{
									"img": "ic-single-3.svg",
									"title": "Доступно",
									"txt": "Футболка с вашим принтом от 600 Р. Скидки студентам, в День Рождения, от объёма заказа."
								},
								{
									"img": "ic-single-4.svg",
									"title": "Удобно",
									"txt": "Поможем с дизайном, доработаем макет, создадим надпись. Работаем ежедневно до 21:00. Рядом с метро!"
								}
							]
						each item in single
							.single-list__col.f-col
								.single-list__item
									.single-list__img
										img.img(src= "img/content/" + item.img , alt="alt")
									.single-list__content
										.single-list__title.txt-1= item.title
										.single-list__txt.txt-2.subcolor
											p !{item.txt}
									
							// /.single-list__col.f-row

					// /.single-list__row.f-row

				// /.single-list



			// /.single__col.f-col





			.single__col.f-col.hide-xl
				.single__img
					img.img(src="img/content/img-single-1.png", alt="alt")
			// /.single__col.f-col




		// /.single__row.f-row


	// /.container


// /.p-hero.single

