section.section.metro
	.container
		
		+section-title('Как нас найти')

		.metro__row.f-row

			.metro__col.f-col

				.metro-head

					h3.title-3 Санкт-Петербург

					.metro-head__row.flex
						.metro-head__tel.flex
							a.tel-link.txt-1(href="tel:+78129585151") +7 (812) 958-51-51
							+socials(['whatsapp', 'telegram'], 'accent')
						.txt-2.subcolor Ежедневно 11:00-21:00

				// /.metro-head

				.metro-item
					.metro-item__row.flex
						.metro-item__img
							img.img.img--cover(src="img/content/img-metro-1.jpg", alt="alt")
						.metro-item__content
							.metro-item__title.txt-1 
								| М. Пионерская
								.metro-item__ic
									img.img(src="img/content/ic-metro-branch-1.png", alt="alt")
							address.txt-2 Коломяжский пр., д.26
							a.metro-item__link.txt-1(href="mailto:print26@i-maika.ru") print26@i-maika.ru
							.metro-item__txt.txt-2.subcolor.hide-xl
								span.fw-bold Как дойти:<br>
								p От выхода из станции метро Пионерская двигайтесь налево. Перейдите проспект Испытателей и идите прямо. Сразу за торговым центром сверните налево и двигайтесь к дому номер 26 с вывеской «яМайка».
						.metro-item__txt.txt-2.subcolor.show-xl
							span.fw-bold Как дойти:<br>
							p От выхода из станции метро Пионерская двигайтесь налево. Перейдите проспект Испытателей и идите прямо. Сразу за торговым центром сверните налево и двигайтесь к дому номер 26 с вывеской «яМайка».

				// /.metro-item

				.metro-item
					.metro-item__row.flex
						.metro-item__img
							img.img.img--cover(src="img/content/img-metro-3.jpg", alt="alt")
						.metro-item__content
							.metro-item__title.txt-1 
								| М. Владимирская
								.metro-item__ic
									img.img(src="img/content/ic-metro-branch-5.png", alt="alt")
							address.txt-2 Марата ул., д.28
							a.metro-item__link.txt-1(href="mailto:studio28@i-maika.ru") studio28@i-maika.ru
							.metro-item__txt.txt-2.subcolor.hide-xl
								span.fw-bold Как дойти:<br>
								p От станции метро Владимирская двигайтесь направо по Кузнечному переулку. На улице Марата перейдите на противоположную сторону. Двигайтесь направо до 28-го дома до двери с вывеской «яМайка».
						.metro-item__txt.txt-2.subcolor.show-xl
							span.fw-bold Как дойти:<br>
							p От станции метро Владимирская двигайтесь направо по Кузнечному переулку. На улице Марата перейдите на противоположную сторону. Двигайтесь направо до 28-го дома до двери с вывеской «яМайка».

				// /.metro-item

			// /.metro__col.f-col

			.metro__col.f-col

				.metro-head

					h3.title-3 Москва

					.metro-head__row.flex
						.metro-head__tel.flex
							a.tel-link.txt-1(href="tel:+74956460575") +7 (495) 646-05-75
							+socials(['whatsapp', 'telegram'], 'accent')
						.txt-2.subcolor Ежедневно 11:00-21:00

				// /.metro-head

				.metro-item
					.metro-item__row.flex
						.metro-item__img
							img.img.img--cover(src="img/content/img-metro-2.jpg", alt="alt")
						.metro-item__content
							.metro-item__title.txt-1 
								| М. Таганская 
								.metro-item__ic
									img.img(src="img/content/ic-metro-branch-2.png", alt="alt")
							.metro-item__title.txt-1 
								| М. Пролетарская
								.metro-item__ic
									img.img(src="img/content/ic-metro-branch-3.png", alt="alt")
							.metro-item__title.txt-1 
								| М. Крестьянская Застава
								.metro-item__ic
									img.img(src="img/content/ic-metro-branch-4.png", alt="alt")
							address.txt-2 Новоспасский пер., д.3к2
							a.metro-item__link.txt-1(href="mailto:studio3@i-maika.ru") studio3@i-maika.ru
							.metro-item__txt.txt-2.subcolor.hide-xl
								span.fw-bold Как дойти:<br>
								p От ст. м.«Таганская» (радиальная): выход на ул. Б.Каменщики. Идти прямо в сторону Новоспасского проезда. Вход с улицы. К нам также легко добраться от ст.м.Пролетарская и Крестьянская застава.
						.metro-item__txt.txt-2.subcolor.show-xl
							span.fw-bold Как дойти:<br>
							p От ст. м.«Таганская» (радиальная): выход на ул. Б.Каменщики. Идти прямо в сторону Новоспасского проезда. Вход с улицы. К нам также легко добраться от ст.м.Пролетарская и Крестьянская застава.

				// /.metro-item

			// /.metro__col.f-col

		// /.metro__row.f-row

		+more('Нет времени? Закажи онлайн!')

	// /.container


// /.metro

