section.section.pricing


	.container

		.pricing__bg

			.pricing__inner

				+section-title('Сколько стоит печать')

				.pricing-table.single-pricing
					table
						thead
							tr
								th.txt-1 Прямая печать
								td.pricing-format
									.title-3 A6
									.subcolor 10x15см
									.pricing-format__hint
										img.img(src="img/img-format-2.png", alt="alt")
								td.pricing-format
									.title-3 A5
									.subcolor 15x20см
									.pricing-format__hint
										img.img(src="img/img-format-2.png", alt="alt")
								td.pricing-format
									.title-3 A4
									.subcolor 20x30см
									.pricing-format__hint
										img.img(src="img/img-format-2.png", alt="alt")
								td.pricing-format
									.title-3 A3
									.subcolor 30x42см
									.pricing-format__hint
										img.img(src="img/img-format-2.png", alt="alt")
								td.pricing-format
									.title-3 A3+
									.subcolor 40x45см
									.pricing-format__hint
										img.img(src="img/img-format-2.png", alt="alt")
						tbody
							tr
								td По белому
								th 250 Р
								th 350 Р
								th 450 Р
								th 550 Р
								th 600 Р

							tr.pricing-table__divider
								td По цветному
								th 350 Р
								th 450 Р
								th 550 Р
								th 650 Р
								th 700 Р

							tr
								th.txt-1(colspan="6") Термоперенос
							tr
								td Пленка
								th 200 Р
								th 300 Р
								th 400 Р
								th 500 Р
								th 550 Р
							tr
								td Флюор
								th 300 Р
								th 400 Р
								th 500 Р
								th 600 Р
								th 700 Р
							tr
								td Флок
								th 400 Р
								th 500 Р
								th 600 Р
								th 700 Р
								th 800 Р




				// /.pricing-table




				.more-btn
					a.button.button--bd.button--lg(href="#", download) Скачать прайс-лист

			// /.pricing__inner

		// /.pricing__bg


	// /.container


// /.pricing

