.textile

	&-list

		&__row 
			@include max-screen($xl)
				display: block
				margin: 0

		&__col
			@include max-screen($xl)
				width: 100%
				margin-bottom: 50px
				padding: 0


	&-item
		height: 100%
		box-shadow: 0 0 50px rgba(0, 0, 0, .07)
		transition: all .2s ease-out
		&:hover
			box-shadow: 0 0 54px rgba(0, 0, 0, 0.15)
		@include max-screen($lg)
			padding: 25px
		@include max-screen($md)
			box-shadow: none
			padding: 0

		&__row
			@include max-screen($lg)
				display: block
				margin: 0
				position: relative
		
		&__img
			font-size: 10px
			width: 29.8em
			height: 100%
			border-radius: 4px
			overflow: hidden
			a
				display: flex
				width: 100%
				height: 100%
			.img
				max-height: 450px
				object-position: 50% 0
			@include max-screen($xl)
				height: 44.9em
			@include max-screen($lg)
				font-size: 8px
				position: absolute
				top: 0
				left: 0
			@include max-screen($md)
				font-size: 7px
			@include max-screen($sm)
				font-size: 6px
			@include max-screen(480px)
				font-size: 5px
			@include max-screen(360px)
				font-size: 4px



		&__content
			flex: 1 0 0
			max-width: 100%
			padding: 25px 25px 20px
			display: flex
			flex-direction: column
			@include max-screen($lg)
				padding: 0

		&__section
			margin-bottom: 17px
			padding-bottom: 17px
			border-bottom: 1px solid rgba($black, .1)
			@include max-screen($lg)
				border: none
				padding-bottom: 0
			@include max-screen($md)
				margin-bottom: 10px

		&__title
			font-weight: 700
			margin-bottom: 0.25em

		&__txt
			min-height: 66px
			margin-bottom: 0
			&:not(:last-child)
				@include max-screen($lg)
					margin-bottom: 20px
					padding-bottom: 20px
					border-bottom: 1px solid rgba($black, .1)
				@include max-screen(480px)
					margin-bottom: 10px
					padding-bottom: 10px
			@include max-screen(480px)
				font-size: 12px
				min-height: auto

		&__table
			font-size: 11px
			margin-bottom: -5px
			min-height: 86px
			th, td
				padding: 5px 0
			@include max-screen($xl)
				font-size: 16px
				min-height: none
			@include max-screen($md)
				font-size: 14px
			@include max-screen($sm)
				font-size: 12px

		.item-colors


		&__btns
			align-items: center
			.button--lg
				padding-left: 1.6em
				padding-right: 1.6em
			.button
				color: $accent
				&:hover
					color: $white
			@include max-screen($md)
				justify-content: space-between

		&__link
			margin-right: 22px


	&-order-0
		@include max-screen($lg)
			display: flex
			flex-direction: column
			justify-content: center
			font-size: 8px
			min-height: 45em
			margin-left: 32.875em
			margin-bottom: 30px
			padding-bottom: 0
		@include max-screen($md)
			font-size: 7px
		@include max-screen($sm)
			font-size: 6px
		@include max-screen(480px)
			font-size: 5px
		@include max-screen(360px)
			font-size: 4px



.item-color
	font-size: 10px
	display: inline-block
	margin: .5em 1em 1em 0
	width: 1.5em
	height: 1.5em
	border-radius: 50%
	border: 1px solid transparent
	background-repeat: no-repeat
	transition: all .1s linear
	@include max-screen($xl)
		font-size: 14px
	@include max-screen($md)
		font-size: 12px

	&.is-active
		position: relative
		&::before
			content: ''
			display: block
			position: absolute
			z-index: 1
			left: -1px
			right: -1px
			top: -1px
			bottom: -1px
			border: 2px solid $accent
			border-radius: 50%








	