section.section.card


	.container

		h1.title-1 Женская футболка премиум


		.card__row.f-row
			.card__col.f-col

				.card-screen

					.card-img.js-tab-wrapper
						- for(let i = 1; i < 9; i++)
							img.img.js-tab-item(src="img/content/img-card-1.jpg", alt="alt", class= "card-img-"+i)

						.item-colors
							.card-subtitle.txt-1 Выберите цвет
							-
								var colors = [
									{"background": "#fff", "border": "rgba(0, 0, 0, 0.17)"},
									{"background": "#000", "border": "#000"},
									{"background": "#b6b6b6", "border": "#b6b6b6"},
									{"background": "#b40728", "border": "#b40728"},
									{"background": "#00b2dc", "border": "#00b2dc"},
									{"background": "#ffd602", "border": "#ffd602"},
									{"background": "#118649", "border": "#118649"},
									{"background": "#003e68", "border": "#003e68"}
								]
							each color, i in colors
								span.item-color.js-tab(style= "background: "+ color.background + "; border-color: "+color.border+";", data-hidden= ".card-img-"+ (i+1), class= i==0 ? 'is-active' : '')

					// /.card-img

					.card-params

						.card-params__row

							.card-params__col
								.card-params__item
									.card-params__ic
										img.img(src="img/ic-param-1.svg", width="25", height="25", alt="alt")
									.card-params__list.txt-2
										.card-params__val
											span.fw-bold 95% 
											| хлопка
										.card-params__val
											span.fw-bold 5% 
											| лайкры
							// /.card-params__col

							.card-params__col
								.card-params__item
									.card-params__ic
										img.img(src="img/ic-param-2.svg", width="21", height="21", alt="alt")
									.card-params__list.txt-2
										.card-params__val
											span.fw-bold 160 г/м2
											br 
											| Плотность 
							// /.card-params__col

						// /.card-params__row
					// /.card-params


				// /.card-screen

				.card-descr.txt-2.subcolor
					p Футболка женская из кулирной глади: в составе 95% хлопка и 5% лайкры. Плотность 160г/м2. Прилегающий силуэт, короткий рукав и круглый воротник. Низ футболки и низ рукава обработаны швом в подгибку шириной в 2см. 
					p Горловина спинки обработана бейкой. Эластичность полотна улучшает посадку изделия на женской фигуре. Благодаря добавлению лайкры, изделие не деформируется после многочисленных стирок.

			// /.card__col.f-col

			.card__col.f-col


				.card-subtitle.txt-1.hide-xl Все о женской футболке за 1 минуту

				.s-hero__frame
					<iframe src="https://www.youtube.com/embed/nnIytYVCKp0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

				.card-prices
					.card-prices__title.txt-1 Стоимость
					table.card-table.txt-2
						tbody
							tr
								td Цвет
								td 1 шт.
								td 20-49
								td 50-99
								td >100
								td >300
								td >500
							tr
								td Белый
								th 400 Р
								th 335 Р
								th 298 Р
								th 278 Р
								th 262 Р
								th 253 Р
							tr
								td Черный/цветной
								th 400 Р
								th 350 Р
								th 335 Р
								th 310 Р
								th 290 Р
								th 285 Р
				// /.card-table

				.card-sizes.subcolor
					table.card-table.txt-2
						tbody
							tr
								td Европейские размеры
								th XS
								th S
								th M
								th L 
								th XL
								th 2XL
							tr
								td Российские размеры
								td 42 
								td 44
								td 46 
								td 48
								td 50
								td 52
							tr
								td Длина (см.) 
								td 61 
								td 63
								td 63
								td 64
								td 66
								td 66,5
							tr
								td Ширина по груди (см.) 
								td 41 
								td 43
								td 45
								td 47
								td 49
								td 51
							tr
								td Ширина по плечам (см.) 
								td 37 
								td 38
								td 39
								td 40
								td 41
								td 42

				// /.card-sizes



				.card-padding

					.card-hint
						.card-hint__row.flex
							.card-hint__img
								img.img(src="img/img-sizes.jpg", alt="alt")
							.card-hint__txt Длина измеряется по спине изделия от центра ворота до низа.<br> Ширина по плечам измеряется между швами. Ширина груди измеряется под проймой изделия. Допустимое отклонение +/-2 см от любого значения.
					// /.card-hint
					.card-btn
						a.button.button--lg.button--bd(href="#") Оформить заказ на бланковый текстиль

					
				// /.card-padding





			// /.card__col.f-col


		// /.card__row.f-row





	// /.container


// /.card


