section.section.calc






	.container

		h1.title-1 Стоимость печати на текстиле


		#calculator.calc__box

			h2.title-2 Калькулятор

			.calc__row.flex

				.calc__col
					.calc__elem
						.calc__title.title.title--margin.txt-1 Выберите текстиль
						#t_short_switcher.t_short_switcher.radiotabs.calc__radiotabs
							input#tshortswitch1.input_changeCalc_js(name='tshortswitch' type='radio' value='Футболка' data-param="shirt"
							 data-shirt_text1="футболку"
							data-shirt_text2="футболки"
							data-shirt_text3="футболок")
							label.t_shirt(for='tshortswitch1', data-shirt="Футболок" style="background-image: url('img/img-calc-1.svg')")
								span.name Футболки
							input#tshortswitch2.input_changeCalc_js(name='tshortswitch' type='radio' value='Свитшот' data-param="sweatshirt"
							data-sweatshirt_text1="свитшот"
							data-sweatshirt_text2="свитшота"
							data-sweatshirt_text3="свитшотов"	)
							label.sweatshirt(for='tshortswitch2', data-shirt="Свитшотов"
							style="background-image: url('img/img-calc-2.svg')")
								span.name Свитшот
							input#tshortswitch3.input_changeCalc_js(name='tshortswitch' type='radio' value='Толстовка' data-param="smock"
							data-smock_text1="толстовку"
							data-smock_text2="толстовки"
							data-smock_text3="толстовок")
							label.hoody(for='tshortswitch3', data-shirt="Толстовок"
							style="background-image: url('img/img-calc-3.svg')")
								span.name Толстовки
							//
								input id="tshortswitch4" name="tshortswitch" type="radio" value="1">
								<label for="tshortswitch4" class="polo"><div class="name">Поло</div></label
							//
								input id="tshortswitch5" name="tshortswitch" type="radio" value="">
								<label for="tshortswitch5" class="bag"><div class="name">Сумка</div></label
				.calc__col
					.calc__elem
						.calc__title.title.title--margin.txt-1 Выберите цвет
						.color_switcher.radiotabs
							input#colorswitch1.input_changeCalc_js(name='colorswitch' type='radio' value='белый' data-param="plain" data-paramShade="white"
							data-color_white_shirt_text1="белую"
							data-color_white_sweatshirt_text1="белый"
							data-color_white_smock_text1="белую"
							data-color_white_shirt_text2="белых"
							data-color_white_sweatshirt_text2="белых"
							data-color_white_smock_text2="белых"
							data-color_white_shirt_text3="белых"
							data-color_white_sweatshirt_text3="белых"
							data-color_white_smock_text3="белых"
							)
							label.white(for='colorswitch1', style="background: #fff;")
							input#colorswitch2.input_changeCalc_js(name='colorswitch' type='radio' value='серый' data-param="color"
							data-paramShade="grey"
							data-color_grey_shirt_text1="серую"
							data-color_grey_sweatshirt_text1="серый"
							data-color_grey_smock_text1="серую"
							data-color_grey_shirt_text2="серых"
							data-color_grey_sweatshirt_text2="серых"
							data-color_grey_smock_text2="серых"
							data-color_grey_shirt_text3="серых"
							data-color_grey_sweatshirt_text3="серых"
							data-color_grey_smock_text3="серых"
							)
							label(for='colorswitch2', style="background: #b6b6b6;")
							input#colorswitch3.input_changeCalc_js(name='colorswitch' type='radio' value='бордовый'  data-param="color"
							data-paramShade="burgundy"
							data-color_burgundy_shirt_text1="бордовую"
							data-color_burgundy_sweatshirt_text1="бордовый"
							data-color_burgundy_smock_text1="бордовую"
							data-color_burgundy_shirt_text2="бордовых"
							data-color_burgundy_sweatshirt_text2="бордовых"
							data-color_burgundy_smock_text2="бордовых"
							data-color_burgundy_shirt_text3="бордовых"
							data-color_burgundy_sweatshirt_text3="бордовых"
							data-color_burgundy_smock_text3="бордовых"
							)
							label(for='colorswitch3', style="background: #b40728;")
							input#colorswitch4.input_changeCalc_js(name='colorswitch' type='radio' value='зеленый'  data-param="color"
							data-paramShade="green"
							data-color_green_shirt_text1="зеленую"
							data-color_green_sweatshirt_text1="зеленый"
							data-color_green_smock_text1="зеленую"
							data-color_green_shirt_text2="зеленых"
							data-color_green_sweatshirt_text2="зеленых"
							data-color_green_smock_text2="зеленых"
							data-color_green_shirt_text3="зеленых"
							data-color_green_sweatshirt_text3="зеленых"
							data-color_green_smock_text3="зеленых"
							)
							label(for='colorswitch4', style="background: #118649;")
							input#colorswitch5.input_changeCalc_js(name='colorswitch' type='radio' value='желтый'  data-param="color"
							data-paramShade="yellow"
							data-color_yellow_shirt_text1="желтую"
							data-color_yellow_sweatshirt_text1="желтый"
							data-color_yellow_smock_text1="желтую"
							data-color_yellow_shirt_text2="желтых"
							data-color_yellow_sweatshirt_text2="желтых"
							data-color_yellow_smock_text2="желтых"
							data-color_yellow_shirt_text3="желтых"
							data-color_yellow_sweatshirt_text3="желтых"
							data-color_yellow_smock_text3="желтых"
							)
							label(for='colorswitch5', style="background: #ffd602;")
							input#colorswitch6.input_changeCalc_js(name='colorswitch' type='radio' value='черный'  data-param="color"
							data-paramShade="black"
							data-color_black_shirt_text1="черную"
							data-color_black_sweatshirt_text1="черный"
							data-color_black_smock_text1="черную"
							data-color_black_shirt_text2="черных"
							data-color_black_sweatshirt_text2="черных"
							data-color_black_smock_text2="черных"
							data-color_black_shirt_text3="черных"
							data-color_black_sweatshirt_text3="черных"
							data-color_black_smock_text3="черных"
							)
							label(for='colorswitch6', style="background: #000;")
							input#colorswitch7.input_changeCalc_js(name='colorswitch' type='radio' value='синий'  data-param="color"
							data-paramShade="blue"
							data-color_blue_shirt_text1="синюю"
							data-color_blue_sweatshirt_text1="синий"
							data-color_blue_smock_text1="синюю"
							data-color_blue_shirt_text2="синих"
							data-color_blue_sweatshirt_text2="синих"
							data-color_blue_smock_text2="синих"
							data-color_blue_shirt_text3="синих"
							data-color_blue_sweatshirt_text3="синих"
							data-color_blue_smock_text3="синих"
							)
							label(for='colorswitch7', style="background: #003594;")
							input#colorswitch8.input_changeCalc_js(name='colorswitch' type='radio' value='голубой'  data-param="color"
							data-paramShade="lightblue"
							data-color_lightblue_shirt_text1="голубую"
							data-color_lightblue_sweatshirt_text1="голубой"
							data-color_lightblue_smock_text1="голубую"
							data-color_lightblue_shirt_text2="голубых"
							data-color_lightblue_sweatshirt_text2="голубых"
							data-color_lightblue_smock_text2="голубых"
							data-color_lightblue_shirt_text3="голубых"
							data-color_lightblue_sweatshirt_text3="голубых"
							data-color_lightblue_smock_text3="голубых"
							)
							label(for='colorswitch8', style="background: #00b2dc;")
							input#colorswitch9.input_changeCalc_js(name='colorswitch' type='radio' value='темно-синий'  data-param="color"
							data-paramShade="darkblue"
							data-color_darkblue_shirt_text1="темно-синюю"
							data-color_darkblue_sweatshirt_text1="темно-синий"
							data-color_darkblue_smock_text1="темно-синюю"
							data-color_darkblue_shirt_text2="темно-синих"
							data-color_darkblue_sweatshirt_text2="темно-синих"
							data-color_darkblue_smock_text2="темно-синих"
							data-color_darkblue_shirt_text3="темно-синих"
							data-color_darkblue_sweatshirt_text3="темно-синих"
							data-color_darkblue_smock_text3="темно-синих"
							)
							label(for='colorswitch9', style="background: #003e68;")

				.calc__col
					.calc__elem
						.calc__title.title.title--margin.txt-1 Определитесь с кол-вом
						#calculator_range.calculator_range.calc__quantity_block
							.minus.calc__quantity_arrow_minus
							input#input_quantityColor.value.calc__InputQuantity.calc__InputQuantity_js.input(type='number' placeholder='1 – 100 000' min="1" max="100000" value="1" step="1")
							.plus.calc__quantity_arrow_plus



			.cutline
				.title.txt-1.title--nomargin Итого за текстиль:
					span.value#priceTextile 0
					| P



			#aboutprints.calc__row.flex

				.calc__col
					.calc__elem
						.calc__title.title--margin.title.txt-1 Что будем печатать
						.print_type_switcher.radiotabs.calc__radiotabs
							input#printtypeswitch1.input_changeCalc_js(name='printtypeswitch'
							type='radio'
							value='Фото/иллюстрацию'
							data-param="photo"
							data-textTypePrint="фото/иллюстрации"
							)
							//- удален класс deactivate
							label(for='printtypeswitch1') Фото/иллюстрацию
							//- input#printtypeswitch2.input_changeCalc_js(name='printtypeswitch' type='radio' value='lustra')
							//- label.deactivate(for='printtypeswitch2')
							input#printtypeswitch3.input_changeCalc_js(name='printtypeswitch'
							type='radio'
							value='Надпись'
							data-param="text"
							data-textTypePrint="надписи"
							)
							label(for='printtypeswitch3') Надпись
							input#printtypeswitch4.input_changeCalc_js(name='printtypeswitch'
							type='radio'
							value='Логотип'
							data-param="logo"
							data-textTypePrint="логотипа"
						 )
							label(for='printtypeswitch4') Логотип

				.calc__col
					.calc__elem
						.calc__title.title.title--margin.txt-1 Кол-во цветов в макете
						.color_range_switcher.radiotabs.calc__radiotabs
							input#colorrangeswitch1.input_changeCalc_js(name='colorrangeswitch' type='radio' value='1 цвет в макете' data-param="1")
							label(for='colorrangeswitch1') 1
							input#colorrangeswitch2.input_changeCalc_js(name='colorrangeswitch' type='radio' value='2 цвета в макете' data-param="2")
							label(for='colorrangeswitch2') 2
							input#colorrangeswitch3.input_changeCalc_js(name='colorrangeswitch' type='radio' value='3 цвета в макете' data-param="3")
							label(for='colorrangeswitch3') 3
							input#colorrangeswitch4.input_changeCalc_js(name='colorrangeswitch' type='radio' value='4 цвета в макете' data-param="4")
							label(for='colorrangeswitch4') 4
							input#colorrangeswitch5.input_changeCalc_js(name='colorrangeswitch' type='radio' value='5 цветов в макете' data-param="5")
							label(for='colorrangeswitch5') 5
							input#colorrangeswitch6.input_changeCalc_js(name='colorrangeswitch' type='radio' value='6 цветов в макете' data-param="6")
							label(for='colorrangeswitch6') 6
							input#colorrangeswitch7.input_changeCalc_js(name='colorrangeswitch' type='radio' value='Полноцвет' data-param="manyColors")
							label.as4(for='colorrangeswitch7') Полноцвет

				.calc__col
					.calc__elem
						.calc__title.title.title--margin.txt-1 Размер печати
						.print_size_switcher.radiotabs.calc__radiotabs
							input#printsizeswitch1.input_changeCalc_js(name='printsizeswitch'
							type='radio'
							value='A6'
							data-param="a6"
							data-textTypeSize="A6"
							)
							label(for='printsizeswitch1') A6
							input#printsizeswitch2.input_changeCalc_js(name='printsizeswitch'
							type='radio'
							value='A5'
							data-param="a5"
							data-textTypeSize="A5"
							)
							label(for='printsizeswitch2') A5
							input#printsizeswitch3.input_changeCalc_js(name='printsizeswitch'
							type='radio'
							value='A4'
							data-param="a4"
							data-textTypeSize="A4"
							)
							label(for='printsizeswitch3') A4
							input#printsizeswitch4.input_changeCalc_js(name='printsizeswitch'
							type='radio'
							value='A3'
							data-param="a3"
							data-textTypeSize="A3"
							)
							label(for='printsizeswitch4') A3
							input#printsizeswitch5.input_changeCalc_js(name='printsizeswitch'
							type='radio'
							value='A3+'
							data-param="a3+"
							data-textTypeSize="A3+"
							)
							label(for='printsizeswitch5') A3+


			#service
				.cutline
					.title.txt-1.c-rezult Вы выбрали&nbsp;
						span.c-quantity
						span.c-color
						span.c-shirt
						| с печатью&nbsp;
						span.c-item
						span.c-size
						| формата
					.title.txt-1.title--margin Возможные варианты печати:

					.elem
						.print_method_switcher.radiotabs.calc__row

							.calc__col
								.calc__elem
									input#printmethodswitch1.input_changeCalc_js(name='printmethodswitch' type='radio'
									value="Термоперенос" data-param="thermalTransfer"
									data-total="")
									//- .deactivate для label
									label(for='printmethodswitch1')
										div
											.title.txt-1 Термоперенос
											.description.txt-2.subcolor Срок изготовления 3-5 рабочих дня
											.price
												| Итого за печать: 
												span#price__thermalTransfer
												| P

							.calc__col
								.calc__elem
									input#printmethodswitch2.input_changeCalc_js(name='printmethodswitch' type='radio' 
									value="Прямая печать" data-param="directPrint"
									data-total="")
									label(for='printmethodswitch2')
										div
											.title.txt-1 Прямая печать
											.description.txt-2.subcolor Срок изготовления 1 рабочий день.
											.price
												| Итого за печать: 
												span#price__directPrint
												| P

							.calc__col
								.calc__elem
									input#printmethodswitch3.input_changeCalc_js(name='printmethodswitch' type='radio'  
									value="Шелкография" data-param="silkscreen"
									data-total="")
									label(for='printmethodswitch3')
										div
											.title.txt-1 Шелкография
											.description.txt-2.subcolor Срок изготовления 3-5 рабочих дня
											.price
												| Итого за печать: 
												span#price__silkscreen
												| P

					// /.elem

					.calc-footer
						.calc-footer__row
							.calc-footer__txt.txt-2.subcolor Стоимость тиража включает стоимость текстиля
							button.button.button--bd.button--lg.js-open-modal.calc__buttonFormShow#calc__buttonFormShow(type="button", data-modal="#calc-form" disabled) Отправить расчёт менеджеру

			.mobile-reverse
				a#neworder.button.right Заказать расчет тиража
				.total.right
					| Итого за заказ:
					span -

			.calc__disclaimer.txt-2.subcolor
				p Калькулятор справляется с точным подсчетом розничных и простых заказов.
				p Для оптовых тиражей — стоимость ориентировочная. При печати оптовых тиражей необходимо учитывать много нюансов. 
				p Для персонального расчета обратитесь к менеджерам. Это позволит избежать недопониманий и оптимизировать ваши затраты.

		// /#calculator




	.calc__wrapPriceHide
		p.calc__textDEscr Цены на чистый текстиль (без нанесения)
		table#tableCalcPrice__textile
			tbody
				tr
					td наименование
					td цвет
					td(data-quantity="1") от 1 шт.
					td(data-quantity="20") от 20 шт.
					td(data-quantity="50") от 50 шт.
					td(data-quantity="100") от 100 шт.
					td(data-quantity="300") от 300 шт
					td(data-quantity="500") от 500 шт.
				tr(data-price="shirt_plain")
					td футболка
					td белый
					td 500
					td 375
					td 340
					td 318
					td 305
					td 292
				tr(data-price="shirt_color")
					td футболка
					td цветной
					td 500
					td 380
					td 360
					td 350
					td 340
					td 330
				tr(data-price="sweatshirt_plain")
					td свитшот
					td белый
					td 1550
					td 1050
					td 975
					td 945
					td 895
					td 845
				tr(data-price="sweatshirt_color")
					td свитшот
					td цветной
					td 1550
					td 1050
					td 975
					td 945
					td 895
					td 845
				tr(data-price="smock_plain")
					td толстовка
					td белый
					td 1850
					td 1395
					td 1345
					td 1295
					td 1245
					td 1195
				tr(data-price="smock_color")
					td толстовка
					td цветной
					td 1850
					td 1395
					td 1345
					td 1295
					td 1245
					td 1195


		p.calc__textDEscr Цены на печать методом термопереноса
		table#tableCalcPrice__method_thermalTransfer
			tbody
				tr
					td формат
					td цветность
					td(data-quantity="1") от 1 шт.
					td(data-quantity="20") от 20 шт.
					td(data-quantity="35") от 35 шт.
					td(data-quantity="50") от 50 шт.
				tr(data-price="a6_1")
					td
						| а6
						| (10*15см)
					td 1
					td 200
					td 122
					td 108
					td 98
				tr(data-price="a6_2")
					td
						| а6
						| (10*15см)
					td 2
					td 200
					td 158
					td 141
					td 123
				tr(data-price="a6_3")
					td
						| а6
						| (10*15см)
					td 3
					td 200
					td 183
					td 162
					td 156
				tr(data-price="a5_1")
					td
						| а5
						| (15*20см)
					td 1
					td 300
					td 183
					td 162
					td 143
				tr(data-price="a5_2")
					td
						| а5
						| (15*20см)
					td 2
					td 300
					td 219
					td 195
					td 170
				tr(data-price="a5_3")
					td
						| а5
						| (15*20см)
					td 3
					td 300
					td 243
					td 216
					td 189
				tr(data-price="a4_1")
					td
						| а4
						| (20*30см)
					td 1
					td 400
					td 243
					td 216
					td 189
				tr(data-price="a4_2")
					td
						| а4
						| (20*30см)
					td 2
					td 400
					td 311
					td 276
					td 242
				tr(data-price="a4_3")
					td
						| а4
						| (20*30см)
					td 3
					td 400
					td 365
					td 324
					td 284
				tr(data-price="a3_1")
					td
						| а3
						| (30*42см)
					td 1
					td 500
					td 325
					td 281
					td 246
				tr(data-price="a3_2")
					td
						| а3
						| (30*42см)
					td 2
					td 500
					td 399
					td 354
					td 311
				tr(data-price="a3_3")
					td
						| а3
						| (30*42см)
					td 3
					td 500
					td 486
					td 432
					td 378

		p.calc__textDEscr Цены на прямую печать текстильным принтером
		table#tableCalcPrice__method_directPrint
			tbody
				tr
					td формат
					td текстиль
					td(data-quantity="1") от 1 шт.
					td(data-quantity="20") от 20 шт.
					td(data-quantity="35") от 35 шт.
					td(data-quantity="50") от 50 шт.
					td(data-quantity="100") от 100 шт.
				tr(data-price="a6_plain")
					td
						| а6
						| (10*15см)
					td белый
					td 250
					td 210
					td 203
					td 168
					td 147
				tr(data-price="a6_color")
					td а6 (10*15см)
					td цветной
					td 350
					td 263
					td 237
					td 210
					td 185
				tr(data-price="a5_plain")
					td
						| а5
						| (15*20см)
					td белый
					td 350
					td 238
					td 214
					td 190
					td 167
				tr(data-price="a5_color")
					td
						| а5
						| (15*20см)
					td цветной
					td 450
					td 293
					td 264
					td 234
					td 206
				tr(data-price="a4_plain")
					td
						| а4
						| (20*30см)
					td белый
					td 450
					td 266
					td 239
					td 214
					td 186
				tr(data-price="a4_color")
					td
						| а4
						| (20*30см)
					td цветной
					td 550
					td 370
					td 338
					td 300
					td 263
				tr(data-price="a3_plain")
					td
						| а3
						| (30*42см)
					td белый
					td 550
					td 300
					td 265
					td 235
					td 210
				tr(data-price="a3_color")
					td
						| а3
						| (30*42см)
					td цветной
					td 650
					td 532
					td 490
					td 448
					td 406
				tr(data-price="a3+_plain")
					td 40*42см
					td белый
					td 600
					td 380
					td 365
					td 300
					td 260
				tr(data-price="a3+_color")
					td 40*42см
					td цветной
					td 700
					td 600
					td 580
					td 520
					td 485


		p.calc__textDEscr Цены на печать шелкографией
		table#tableCalcPrice__method_silkscreen
			tbody
				tr
					td формат
					td цветность
					td(data-quantity="50") от 50
					td(data-quantity="100") от 100
					td(data-quantity="200") от 200
					td(data-quantity="300") от 300
					td(data-quantity="500") от 500
					td(data-quantity="1000") от 1000
					td(data-quantity="3000") от 3000
				tr(data-price="a4_1")
					td
						| а4
						| (20*30см)
					td 1
					td 60
					td 40
					td 35
					td 27
					td 26
					td 22
					td 21
				tr(data-price="a4_2")
					td
						| а4
						| (20*30см)
					td 2
					td 92
					td 66
					td 49
					td 41
					td 39
					td 33
					td 29
				tr(data-price="a4_3")
					td
						| а4
						| (20*30см)
					td 3
					td 109
					td 85
					td 63
					td 54
					td 50
					td 42
					td 37
				tr(data-price="a4_4")
					td
						| а4
						| (20*30см)
					td 4
					td 127
					td 105
					td 77
					td 66
					td 62
					td 51
					td 45
				tr(data-price="a4_5")
					td
						| а4
						| (20*30см)
					td 5
					td 144
					td 124
					td 90
					td 79
					td 774
					td 61
					td 53
				tr(data-price="a4_6")
					td
						| а4
						| (20*30см)
					td 6
					td 161
					td 144
					td 104
					td 91
					td 85
					td 70
					td 61
				tr(data-price="a4_manyColors")
					td
						| а4
						| (20*30см)
					td cmyk
					td 265
					td 190
					td 121
					td 116
					td 102
					td 88
					td 71
				tr(data-price="a3_1")
					td
						| а3
						| (30*42см)
					td 1
					td 75
					td 50
					td 42
					td 38
					td 34
					td 30
					td 29
				tr(data-price="a3_2")
					td
						| а3
						| (30*42см)
					td 2
					td 112
					td 77
					td 58
					td 53
					td 47
					td 41
					td 37
				tr(data-price="a3_3")
					td
						| а3
						| (30*42см)
					td 3
					td 129
					td 97
					td 71
					td 65
					td 59
					td 50
					td 45
				tr(data-price="a3_4")
					td
						| а3
						| (30*42см)
					td 4
					td 146
					td 116
					td 85
					td 78
					td 70
					td 60
					td 53
				tr(data-price="a3_5")
					td
						| а3
						| (30*42см)
					td 5
					td 163
					td 136
					td 99
					td 90
					td 82
					td 69
					td 61
				tr(data-price="a3_6")
					td
						| а3
						| (30*42см)
					td 6
					td 181
					td 155
					td 112
					td 103
					td 93
					td 79
					td 69
				tr(data-price="a3_manyColors")
					td
						| а3
						| (30*42см)
					td cmyk
					td 293
					td 196
					td 158
					td 126
					td 110
					td 95
					td 80
				tr(data-price="a3+_1")
					td 38*48 см
					td 1
					td 99
					td 60
					td 54
					td 48
					td 45
					td 42
					td 38
				tr(data-price="a3+_2")
					td 38*48 см
					td 2
					td 132
					td 89
					td 71
					td 63
					td 60
					td 54
					td 47
				tr(data-price="a3+_3")
					td 38*48 см
					td 3
					td 152
					td 108
					td 86
					td 76
					td 72
					td 63
					td 56
				tr(data-price="a3+_4")
					td 38*48 см
					td 4
					td 171
					td 128
					td 101
					td 88
					td 85
					td 72
					td 65
				tr(data-price="a3+_5")
					td 38*48 см
					td 5
					td 196
					td 147
					td 116
					td 101
					td 98
					td 82
					td 74
				tr(data-price="a3+_6")
					td 38*48 см
					td 6
					td 213
					td 167
					td 130
					td 113
					td 110
					td 91
					td 83
				tr(data-price="a3+_manyColors")
					td 38*48 см
					td cmyk
					td 305
					td 207
					td 170
					td 139
					td 126
					td 110
					td 95





		p.calc__textDEscr Дополнительные коэффициенты
		table#tableCalcPrice__dopKoef
			tbody
				tr
					td печать
					td коэффициент
				tr
					td на цветном текстиле 50-99 шт.
					td 1.5
				tr
					td на цветном текстиле свыше 100 шт.
					td 1.3
				tr
					td на белом текстиле 50-99 шт.
					td 1
				tr
					td на белом текстиле свыше 100 шт.
					td 1
				tr
					td на толстовке/свитшоте 50-99 шт.
					td 1.7
				tr
					td на толстовке/свитшоте свыше 100 шт.
					td 1.5
				tr
					td
					td
				tr
					td
					td
				tr
					td
					td









