.card


	&__row
		@include max-screen($xl)
			display: block
			margin: 0

	&__col
		@include max-screen($xl)
			width: 100%
			padding: 0

	&-screen
		position: relative

	&-img
		position: relative
		font-size: 10px
		height: 78.9em
		display: flex
		justify-content: center
		align-items: flex-end
		.img
			max-height: 100%
		@include max-screen($xl)
			font-size: 8px
			.card-subtitle
				max-width: 100px
		@include max-screen($lg)
			font-size: 7px
		@include max-screen($md)
			font-size: 6px
		@include max-screen($sm)
			font-size: 5px

		.item-colors
			position: absolute
			top: 0
			left: 0

		.item-color
			font-size: 14px
			display: block


	&-params
		position: absolute
		z-index: 1
		bottom: 0
		left: 0
		&__ic
			margin-bottom: 15px
		&__item
			margin-bottom: 25px
			padding: 18px 16px 12px
			background: $white
			box-shadow: $shadow
			border-radius: 4px
		@include max-screen($xl)
			position: relative
			&__row
				display: flex
				margin: 0 -15px
			&__col
				width: 50%
				padding: 0 15px
			&__item
				height: 100%
				display: flex
				align-items: center
				justify-content: center
			&__ic
				margin: 0 20px 0 0
				.img
					transform: scale(1.2)
		@include max-screen($sm)
			&__row
				margin: 0 -7px
			&__col
				padding: 0 7px
			&__item
				padding: 14px 12px 8px
			&__ic
				margin-right: 15px
				.img
					transform: none
				

	&-descr
		position: relative
		padding: 35px
		background: $white
		box-shadow: $shadow
		@include max-screen($sm)
			margin-top: 30px
			padding: 20px 15px

			
	.s-hero__frame
		@include max-screen($sm)
			margin-bottom: 30px

	&-subtitle
		margin-bottom: 1em
		font-weight: 700


	&-prices
		margin-top: 20px
		padding: 27px 30px
		background: $bg
		border-radius: 4px
		&__title
			font-weight: 700
			margin-bottom: 0.5em
		@include max-screen($sm)
			width: calc(100% + 30px)
			margin-bottom: 30px
			margin-left: -15px
			padding: 15px

	&-table
		th, td
			width: 66px
			padding: 5px 0
			text-align: center
			&:first-child
				width: 181px
				padding-right: 5px
				text-align: left
		@include max-screen($xl)
			font-size: 16px
		@include max-screen($md)
			font-size: 14px
		@include max-screen($sm)
			font-size: 12px

	&-sizes
		margin: 15px 0
		padding: 27px 30px
		@include max-screen($sm)
			padding: 0

	&-padding
		padding-left: 30px
		@include max-screen($xl)
			padding-left: 0

	&-hint
		max-width: 540px
		margin-top: 24px
		&__row
			align-items: center
		&__img
			width: 78px
			height: 78px
			margin-right: 35px
		&__txt
			flex: 1 0 0
			max-width: 100%
			font-size: 12px
			line-height: 1.5
			color: rgba($text-color, .5)
		@include max-screen($xl)
			margin-left: auto
			margin-right: auto
		@include max-screen($md)
			max-width: 100%
			&__img
				display: none

	&-btn
		margin-top: 40px
		@include max-screen($xl)
			text-align: center













